ion-title {
    color: #fbfbfb;
}

.new-background-color {
    --background: linear-gradient(to right top, #27246f, #27246f);
}

h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.horizontal {
    border-radius: 5px;
}

h3 {
    margin-bottom: 16px !important;
}

.fotmtext3 {
    margin: 40px 10px;
}

ion-content {
    --background: #ebedf0;
}

.whiteTheme {
    color: white;
}