<!-- Bootstrap CSS CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- BS Stepper CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper@1.7.0/dist/css/bs-stepper.min.css">

<ion-content>




    <div style="width: 100%;" class="line-with-text">
        <br>
        <img style="max-width: 57%;padding-top: 40px;" src="../../assets/img/tc_logo_with_text.png"
            (click)="setSelectedTab('apps')">
        <br>

    </div>

    <div class="hello-dear">
        <ion-buttons slot="end" style="padding-top:10px">
            <ion-button (click)="openLanguagePopOver($event)" style="color: black;">
                <img [src]="languageService.selectedLang.img" height="30px" style="padding-right:5px" slot="start"
                    alt="flag">{{languageService.selectedLang.text}}
                <!-- <ion-icon name="ellipsis-vertical-outline"></ion-icon> -->
            </ion-button>
        </ion-buttons>

        <div style="font-size: 24px;font-family: Mr-eaves;">{{ 'Login.para1Header' | translate }}</div>
        <!-- <div style="font-size: 24px;font-family: Mr-eaves;">Welcome back!</div> -->
        <div style="padding-bottom: 30px;font-size: 16px;color: #5E6061;">{{ 'Login.enter_crendentials' | translate }}
        </div>
    </div>



    <div class="container">

        <div class="bs-stepper-content">
            <form [formGroup]="loginform" style="padding-bottom: 30px;">
                <div id="test-l-1" class="content">
                    <div class="button-content">
                        <ion-label class="labels">{{ 'Login.talentId' | translate }} <small
                                style="color: #f70505;">*</small></ion-label>
                        <ion-item fill="outline" class="input-field">
                            <ion-input type="text" formControlName="userName"></ion-input>
                        </ion-item>


                        <!-- <ion-label class="labels">Password <small style="color: #f70505;">*</small></ion-label>
                        <ion-item fill="outline" class="input-field">
                            <ion-input type="password" formControlName="password"></ion-input>
                        </ion-item> -->


                        <ion-label class="labels">{{ 'Login.password' | translate }} <small
                                style="color: #f70505;">*</small></ion-label>
                        <ion-item fill="outline" class="input-field">
                            <ion-input type="{{passwordType}}" clearOnEdit="false"
                                formControlName="password"></ion-input>
                            <ion-icon style="color: black;" name="{{passwordIcon}}" slot="end"
                                (click)="passwordToggle()"></ion-icon>
                        </ion-item>


                    </div>

                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0 alertColor">{{error}}</div>
                </div>
                <div class="sign-in">
                    <h4 (click)="reset()" style="background: #edf1fc;    background: #edf1fc;
                    border: aliceblue;font-size: 18px; font-family: Mr-eaves;color: #007bff;">{{ 'Login.frg_pass' |
                        translate }}</h4>
                </div>


                <!-- <div class="display-justify">
            <ion-button class="custom-button test" style="font-family:  Mr-eaves;" (click)="goto_signup()">Sign-in</ion-button>
        </div> -->
                <div class="display-justify">

                    <button class="custom-button test" (click)="goto_signup()">{{ 'sign_in' | translate }}</button>
                </div>
            </form>
        </div>
        <div class="line-with-text">
            <hr class="hr1">
            <span class="or-text" style="font-family:  Mr-eaves;">{{ 'Login.or' | translate }}</span>
            <hr class="hr2">
        </div>

        <div class="sign-in">
            <div style="font-size: 16px;">{{ 'Login.new_member' | translate }} </div>
            &nbsp;<a (click)="register()" style="font-size: 18px; font-family: Mr-eaves;color: #007bff;">{{
                'Login.sign-up' | translate }}</a>
        </div>


    </div>





</ion-content>