
ion-label {
    font-family: alina-sans;
    font-weight: medium;
    font-size: 14px;
    color: #191D1E;
    padding-top:5px;
}

.horizontal {
    border-radius: 5px;
}

.talentrow {
    margin: 2px 0px;
}

.talentcard1 {
    margin: 4% 4% 4% 4%;
    --background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 24px #00000026;
    border-radius: 24px;
}

.talentcard2 {
    margin: 3% 0% 0% 0%;
    --background: #D5E5FF 0% 0% no-repeat padding-box;
    border-radius: 24px;
}

.blackTheme {
    color: black;
}

.whiteTheme {
    color: white;
}

ion-content {
    --background: #EDF1FC;
}

.new-background-color {
    --background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 24px #00000026;
}

ion-title {
    color: black;
    font-family: Mr-eaves;
}

.container {
    background-color: #fff;
    width: auto;
    height: auto;
    border-radius: 10px;
    margin-top: 25%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.talentrow {
    margin: 2px 0px;
}

.kTheme {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    margin-left: 4px;
    color: #27246f;
}

.klab {
    width: auto;
    margin-left: 6px;
    border-radius: 13px;
    background-color: #c2d2ff;
    border-color: #fff;
}

.ioncardButtonNormal {
    --background: linear-gradient(to right top, #070e6c, #070e6c);
    margin-top: 0px;
    margin-left: 6px;
    color: #fff;
    font-weight: 300;
}

ion-select {
    // background-color: #c2d2ff;
    width: auto;
    border-radius: 13px;
    margin-left: 7px;
    margin-top: 5px;
}

ion-button[shape=circle] {
    --border-radius: 50%;
    width: 56px;
    height: 56px;
}

.header-row {
    background: #7163AA;
    color: #fff;
    font-size: 18px;
}

.personInfo {
    border: 1px solid #ECEEEF;
}

ion-footer-bar {
    display: flex;
    justify-content: space-around;
    background-color: #112E5B;
    padding: 12px;
    position: fixed;
    bottom: 0;
    width: 390px;
    border-radius: 32px;
}

ion-progress-bar {
    height: 18px;
    border-radius: 10px;
}.footer-nav {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 97%;
    height: 8vh; /* set the height to 8% of the viewport height */
    background: #112e5b;
    display: flex;
    padding: 19px;
    margin: 0px 10px 10px 10px;
    justify-content: space-around;
    border-radius: 30px;
    align-items: center;
    padding: 0 10px;
  }
  
  .footer-nav button {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #555;
    font-size: 14px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .footer-nav button ion-icon {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .footer-nav button.selected {
    color: aliceblue;
    border-radius: 50%;
  }
  
  /* Set the padding at the bottom of the ion-content to the height of the footer */
  ion-content {
    --ion-safe-area-bottom: 8vh; /* set the safe area bottom to 8% of the viewport height */
  }
#prfoileimg1 {
    height: 24px;
    margin-left: 14px;
}


.button-content {
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
}

.input-field {
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 0px 8px 24px #00000026;
    border: 1px solid #D1D1D2;
}

.star {
    font-size: 24px;
    color: #FFD700;
    /* Use the star Unicode character */
    content: "\2605";
  }

  .ion-radio.star {
    /* Hide the radio button */
    opacity: 0;
    position: absolute;
  
    /* Display the star using pseudo elements */
    &::before {
      display: inline-block;
      font-family: 'Ionicons';
      font-size: 24px;
      content: '\f3ae';
      color: #FFD700;
      margin-right: 5px;
    }
  
    /* Show the star when the radio button is checked */
    &[aria-checked="true"]::before {
      color: #FFD700;
    }
  }

 

  .form-group {
    display: flex;
  }
  
  .form-check-inline .rating {
    display: none;
  }
  
  .form-check-inline span {
    padding-right: 2%;
    cursor: pointer;
    color: transparent;
    font-size:25px
  }
  
  .form-check-inline span:before {
    content: '\2606';
    color: gold;
  }
  
  .form-check-inline span:hover:before,
  .form-check-inline span:hover~span:before {
    content: '\2605';
    color: gold;
  }
  
  .form-check-inline .rating:checked~span:before {
    content: '\2605';
    color: gold;
  }
  
  .form-group:has(input[id="2"]:checked) input[id='1']+span:before {
    content: '\2605';
    color: gold;
  }
  
  .form-group:has(input[id="3"]:checked) input[id='1']+span:before,
  .form-group:has(input[id="3"]:checked) input[id='2']+span:before {
    content: '\2605';
    color: gold;
  }
  
  .form-group:has(input[id="2"]:hover) input[id='1']+span:before {
    content: '\2605';
    color: gold;
  }
  
  .form-group:has(input[id="3"]:hover) input[id='1']+span:before,
  .form-group:has(input[id="3"]:hover) input[id='2']+span:before {
    content: '\2605';
    color: gold;
  }

  .form-group:has(input[id="3"]:hover) input[id='1']+span:before {
    content: '\2605';
    color: gold;
  }
  
  .form-group:has(input[id="4"]:hover) input[id='1']+span:before,
  .form-group:has(input[id="4"]:hover) input[id='2']+span:before,
  .form-group:has(input[id="4"]:hover) input[id='3']+span:before {
    content: '\2605';
    color: gold;
  }

  .form-group:has(input[id="4"]:hover) input[id='1']+span:before {
    content: '\2605';
    color: gold;
  }
  
  .form-group:has(input[id="5"]:hover) input[id='1']+span:before,
  .form-group:has(input[id="5"]:hover) input[id='2']+span:before,
  .form-group:has(input[id="5"]:hover) input[id='3']+span:before,
  .form-group:has(input[id="5"]:hover) input[id='4']+span:before {
    content: '\2605';
    color: gold;
  }
    
  
  ion-select::part(icon) {
    display: none;
  }
  .input-field {
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 0px 8px 24px #00000026;
    border: 1px solid #D1D1D2;
}

.display-justify {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}
.custom-button {
width: 360px;
--border-radius: 50px;
height: 40px;
font-size: 16px;
}