<!-- <ion-header>
  <ion-toolbar class="new-background-color">
    <ion-row>

      <ion-col size="0.5">
      </ion-col>
    
      <ion-col size="2" *ngIf="RoleID.includes('2')">
        <ion-icon size="large" name="arrow-back-circle-outline" (click)="newOrgprofileView()"
          style="margin-top:21%"></ion-icon>
      </ion-col>
      <ion-col size="2" *ngIf="RoleID.includes('3')">
        <ion-icon size="large" name="arrow-back-circle-outline" (click)="newInstiprofileView()"
          style="margin-top:21%"></ion-icon>
      </ion-col>

      <ion-col size="7">
        <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black; margin-top: 7%;">{{'profileorg.Payment Info' | translate}}</ion-title>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" *ngIf="RoleID.includes('2')">
      <ion-button (click)="newOrgprofileView()">
        <ion-icon size="large" style="    color: black;" name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="RoleID.includes('3')">
      <ion-button (click)="newInstiprofileView()">
        <ion-icon size="large" style="    color: black;" name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="edit" style="text-align: center;font-family: Mr-eaves; color: black;">{{'profileorg.Payment Info'
      | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" id="my-content">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <form [formGroup]="docForm">

    <ion-card-content>


      <ion-row class="talentrow">
        <ion-col>
          <div class="button-content">
            <ion-label class="labels">{{'profileorg.Account Holder Name' | translate}}<small
                style="color: #f70505;">*</small></ion-label>
            <ion-item fill="outline" class="input-field">
              <ion-input formControlName="accountHolderName"
                onkeypress="return /[0-9a-zA-Z. ]/i.test(event.key)"></ion-input>
            </ion-item>
            <div
              *ngIf="docForm.controls.accountHolderName.hasError('required') && docForm.controls.accountHolderName.touched">
              <small style="color: #f70505;">{{'profileorg.Enter account holder name' | translate}}</small>
            </div>
          </div>

          <div class="button-content">
            <ion-label class="labels">{{'profileorg.Bank A/C NO' | translate}}<small
                style="color: #f70505;">*</small></ion-label>
            <ion-item fill="outline" class="input-field">
              <ion-input formControlName="bankAccountNo"></ion-input>
            </ion-item>
            <div *ngIf="docForm.controls.bankAccountNo.hasError('required') && docForm.controls.bankAccountNo.touched">
              <small style="color: #f70505;">{{'profileorg.Enter bank account number' | translate}}</small>
            </div>
          </div>

          <div class="button-content">
            <ion-label class="labels">{{'profileorg.Account Holder Email Id' | translate}}<small
                style="color: #f70505;">*</small></ion-label>
            <ion-item fill="outline" class="input-field">
              <ion-input formControlName="holderEmailId"></ion-input>
            </ion-item>
            <div *ngIf="docForm.controls.holderEmailId.hasError('required') && docForm.controls.holderEmailId.touched">
              <small style="color: #f70505;">{{'profileorg.Enter account holder email address' | translate}}</small>
            </div>
          </div>

          <div class="button-content">
            <ion-label class="labels">{{'profileorg.IFSC Code' | translate}}<small
                style="color: #f70505;">*</small></ion-label>
            <ion-item fill="outline" class="input-field">
              <ion-input formControlName="ifscCode" onkeyup="this.value = this.value.toUpperCase();"></ion-input>
            </ion-item>
            <div *ngIf="docForm.controls.ifscCode.hasError('required') && docForm.controls.ifscCode.touched">
              <small style="color: #f70505;">{{'profileorg.Enter your bank IFSC code' | translate}}</small>
            </div>
            <div *ngIf="docForm.controls.ifscCode.hasError('pattern')">
              <small style="color: #f70505;">{{'profileorg.Invalid IFSC code' | translate}}</small>
            </div>


          </div>

          <div class="button-content">
            <ion-label class="labels">{{'profileorg.Account Type' | translate}}<small
                style="color: #f70505;">*</small></ion-label>
            <ion-item fill="outline" class="input-field">
              <ion-select placeholder="Select Account Type" formControlName="accType">
                <ion-select-option value="Saving">{{'profileorg.Savings' | translate}}</ion-select-option>
                <ion-select-option value="Current">{{'profileorg.Current' | translate}}</ion-select-option>
              </ion-select>

            </ion-item>
            <div *ngIf="docForm.controls.accType.hasError('required') && docForm.controls.accType.touched">
              <small style="color: #f70505;">{{'profileorg.Select the bank account type' | translate}}</small>
            </div>
          </div>

          <div class="button-content">
            <ion-label class="labels">{{'profileorg.Business Name' | translate}}<small
                style="color: #f70505;">*</small></ion-label>
            <ion-item fill="outline" class="input-field">
              <ion-input formControlName="businessName"></ion-input>
            </ion-item>
            <div *ngIf="docForm.controls.businessName.hasError('required') && docForm.controls.businessName.touched">
              <small style="color: #f70505;">{{'profileorg.Enter the name of your business' | translate}}</small>
            </div>
          </div>

          <div class="button-content">
            <ion-label class="labels">{{'profileorg.Business Type' | translate}}<small
                style="color: #f70505;">*</small></ion-label>
            <ion-item fill="outline" class="input-field">

              <ion-select interface="popover" formControlName="businessType" placeholder="Business Type"
                style="background:white">
                <ion-select-option value="llp">{{'profileorg.Limited Liability Partnership' |
                  translate}}</ion-select-option>
                <ion-select-option value="ngo">{{'profileorg.Non-governmental organization' |
                  translate}}</ion-select-option>
                <ion-select-option value="individual">{{'profileorg.Individual' | translate}}</ion-select-option>
                <ion-select-option value="partnership">{{'profileorg.Partnership' | translate}}</ion-select-option>
                <ion-select-option value="proprietorship">{{'profileorg.Proprietorship' |
                  translate}}</ion-select-option>
                <ion-select-option value="public_limited">{{'profileorg.Public Limited' |
                  translate}}</ion-select-option>
                <ion-select-option value="private_limited">{{'profileorg.Private Limited' |
                  translate}}</ion-select-option>
                <ion-select-option value="not_yet_registered">{{'profileorg.Not Yet Registered' |
                  translate}}</ion-select-option>
                <ion-select-option value="educational_institutes">{{'profileorg.Educational Institutes' |
                  translate}}</ion-select-option>
                <ion-select-option value="trust,society">{{'profileorg.Trust,Society' | translate}}</ion-select-option>

              </ion-select>
            </ion-item>
            <div *ngIf="docForm.controls.businessType.hasError('required') && docForm.controls.businessType.touched">
              <small style="color: #f70505;">{{'profileorg.Select the business type' | translate}}</small>
            </div>
          </div>


          <div *ngIf="!edit" class="button-content" style="width: 50%;margin: auto;">
            <div class="display-justify">
              <ion-button class="custom-button" (click)="Update()">{{'profilein.Save' | translate}}</ion-button>
            </div>
          </div>
          <div *ngIf="edit" class="button-content" style="width: 50%;margin: auto;">
            <div class="display-justify" *ngIf="RoleID.includes('2')">
              <ion-button class="custom-button" (click)="Update()">{{'profilein.Update' | translate}}</ion-button>
            </div>
            <div class="display-justify" *ngIf="RoleID.includes('3')">
              <ion-button class="custom-button" (click)="instiUpdate()">{{'profilein.Update' | translate}}</ion-button>
            </div>
          </div>
          <div class="button-content">
            <ion-label class="labels">{{'Amount' | translate}}<small style="color: #f70505;">*</small></ion-label>
            <ion-item fill="outline" class="input-field">
              <ion-input formControlName="amount"></ion-input>
            </ion-item>
            <div *ngIf="docForm.controls.amount.hasError('required') && docForm.controls.amount.touched">
              <small style="color: #f70505;">{{'Amount is required' | translate}}</small>
            </div>
          </div>
          <div class="button-content">
            <ion-label class="labels">{{'profileorg.Currency' | translate}}<small
                style="color: #f70505;">*</small></ion-label>
            <ion-item fill="outline" class="input-field">
              <ion-select interface="popover" formControlName="currency"
                placeholder="{{'profileorg.Currency' | translate}}" style="background:white">
                <ion-select-option value="INR">{{'Subscription.inr'}}</ion-select-option>
                <ion-select-option value="USD">{{'Subscription.usd'}}</ion-select-option>
                <ion-select-option value="AED">{{'Subscription.aed'}}</ion-select-option>
                <ion-select-option value="MYR">{{'Subscription.myr'}}</ion-select-option>
                <ion-select-option value="SGD">{{'Subscription.sgd'}}</ion-select-option>
              </ion-select>
            </ion-item>
            <div *ngIf="docForm.controls.currency.hasError('required') && docForm.controls.currency.touched">
              <small style="color: #f70505;">{{'Currency is required' | translate}}</small>
            </div>
          </div>
          <div *ngIf="!edit" class="button-content" style="width: 50%;margin: auto;">
            <div class="display-justify">
              <ion-button class="custom-button" (click)="Update()">{{'profilein.Save' | translate}}</ion-button>
            </div>
          </div>
          <div *ngIf="edit" class="button-content" style="width: 50%;margin: auto;">
            <div class="display-justify" *ngIf="RoleID.includes('2')">
              <ion-button class="custom-button" (click)="update2()">{{'profilein.Update' | translate}}</ion-button>
            </div>
            <div class="display-justify" *ngIf="RoleID.includes('3')">
              <ion-button class="custom-button" (click)="instiUpdate()">{{'profilein.Update' | translate}}</ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </form>
</ion-content>