<ion-header>
    <ion-toolbar>

        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="text-align: right;margin: 0px 0px 0px 5px;">
                <ion-icon size="large" name="arrow-back-circle-outline" (click)="goto_profileSearch()"
                    style="margin-top:21%"></ion-icon>
            </div>
            <div style="text-align: center;display: contents;">
                <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black;">{{'Advanced search' |
                    translate}}</ion-title>
            </div>
            <div style="text-align: left;">
                <ion-title style="font-family: Mr-eaves; color: black;    text-align: end;
                margin-left: 12%;" (click)="searchresults()">{{'Done' |
                    translate}}</ion-title>
            </div>
        </div>
        <!-- <ion-row>
            <ion-col size="3">
                <ion-icon size="large" name="arrow-back-circle-outline" (click)="goto_profileSearch()" style="margin-top:14%"></ion-icon>
            </ion-col>

            <ion-col size="6">
                <ion-title style="font-family: Mr-eaves; color: black; margin-top: 7%;">Search Settings</ion-title>
            </ion-col>
            <ion-col size="3">
                <ion-title style="font-family: Mr-eaves; color: black; margin-top: 7%;" (click)="searchresults()">Done</ion-title>
            </ion-col>
        </ion-row> -->
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" id="my-content">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <form [formGroup]="advsearchForm">

        <div class="button-content">


            <ion-label class="labels">{{'AddJobPost.skills' | translate}}</ion-label>
            <ion-item fill="outline" class="input-field">
                <div class="selected-skills-container">
                    <div *ngFor="let skill of selectedSkills" class="selected-skill">{{ skill }}
                        <ion-icon name="close-circle" (click)="removeSkill(skill)"></ion-icon>
                    </div>
                </div>
                <ion-input warp="soft" (ionInput)="onSearchSkill($event.target.value)"
                    [formControl]="searchCtrl"></ion-input>
            </ion-item>

            <ion-list *ngIf="showSkillResults">
                <ion-item *ngFor="let result of searchSkillResults" (click)="selectSkill(result.text,result.id)">
                    {{ result.text }}
                </ion-item>
            </ion-list>

            <ion-label class="labels">{{'country' | translate}}</ion-label>
            <ion-item fill="outline" class="input-field">
                <div class="selected-skills-container">
                    <div *ngFor="let country of selectedCountry" class="selected-skill">{{ country }}
                        <ion-icon name="close-circle" (click)="removeCountry(country)"></ion-icon>
                    </div>
                </div>
                <ion-input (ionInput)="onCountrySearch($event.target.value)"
                    [formControl]="countrysearchCtrl"></ion-input>
            </ion-item>

            <ion-list *ngIf="showcountyResults">
                <ion-item *ngFor="let result of searchResults" (click)="selectcountry(result.text,result.id)">
                    {{ result.text }}
                </ion-item>
            </ion-list>

            <ion-label class="labels">{{'profileorg.State' | translate}}</ion-label>
            <ion-item fill="outline" class="input-field">
                <div class="selected-skills-container">
                    <div *ngFor="let state of selectedState" class="selected-skill">{{ state }}
                        <ion-icon name="close-circle" (click)="removeState(state)"></ion-icon>
                    </div>
                </div>
                <ion-input (ionInput)="onstateSearch($event.target.value)" [formControl]="statesearchCtrl"></ion-input>
            </ion-item>

            <ion-list *ngIf="showStateResults">
                <ion-item *ngFor="let result of searchResults" (click)="selectState(result.text,result.id)">
                    {{ result.text }}
                </ion-item>
            </ion-list>


            <ion-label class="labels">{{'profileorg.City' | translate}}</ion-label>
            <ion-item fill="outline" class="input-field">
                <div class="selected-skills-container">
                    <div *ngFor="let city of selectedCities" class="selected-skill">{{ city }}
                        <ion-icon name="close-circle" (click)="removeCity(skill)"></ion-icon>
                    </div>
                </div>
                <ion-input (ionInput)="onSearch($event.target.value)" [formControl]="citysearchCtrl"></ion-input>
            </ion-item>

            <ion-list *ngIf="showResults">
                <ion-item *ngFor="let result of searchResults" (click)="selectCity(result.text,result.id)">
                    {{ result.text }}
                </ion-item>
            </ion-list>

            <ion-label class="labels">{{'profilein.Designation/Role' | translate}} </ion-label>
            <ion-item fill="outline" class="input-field">
                <ion-input formControlName="designationsearch"></ion-input>
            </ion-item>

            <ion-label class="labels">{{'ProfessionalExp.yearOfExp' | translate}} </ion-label>
            <ion-item fill="outline" class="input-field">
                <ion-input type="number" formControlName="experiencesearch"></ion-input>
            </ion-item>


            <!-- <ion-label class="labels">Qualification</ion-label>
            <ion-item fill="outline" class="input-field">
                <ion-searchbar class="blackTheme" showcancelbutton="" debounce="100" (ionInput)="filterdegreeList($event)" formControlName="qualificationsearch" [(ngModel)]="degreeListVal" (ionBlur)="unDegreeList()" search-icon=“undefined”></ion-searchbar>
            </ion-item>
            <ion-row>
                <ion-col>
                    <ion-list *ngIf="IsDegreeListShow" lines="full">
                        <ion-item *ngFor="let cElement of degreeList">
                            <ion-label class="ion-text-wrap" (click)="goToDegreeListItem(cElement.text, cElement.id)">
                                {{ cElement.text }}
                            </ion-label>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row> -->

            <ion-label class="labels">{{'AcademicInfo.qualification' | translate}}</ion-label>
            <ion-item fill="outline" class="input-field">
                <div>{{ selectDegreeSet }}
                    <ion-icon *ngIf="selectDegreeSet != undefined && selectDegreeSet != ''" name="close-circle"
                        (click)="removeDegree(selectDegreeSet)"></ion-icon>
                </div>
                <ion-input warp="soft" (ionInput)="onSearchDegree($event.target.value)"
                    [formControl]="searchCtrl"></ion-input>
            </ion-item>
            <ion-list *ngIf="IsDegreeListShow">
                <ion-item *ngFor="let result of searchDegreeResults"
                    (click)="selectDegree(result.text,result.id);disableFiledOfStudy(result.text)">
                    {{ result.text }}
                </ion-item>
            </ion-list>

            <ion-label class="labels">{{'profilein.Field of study' | translate}}</ion-label>

            <ion-item fill="outline" class="input-field">

                <div (click)="remove()">{{selectStudySet}}
                    <ion-icon *ngIf="selectStudySet != undefined && selectStudySet != ''"
                        name="close-circle"></ion-icon>
                </div>
                <ion-input warp="soft" (ionInput)="onSearchStudy($event.target.value)"
                    [formControl]="searchCtrl"></ion-input>
            </ion-item>
            <ion-list *ngIf="IsstudyListShow">
                <ion-item *ngFor="let result of searchStudyResults" (click)="selectStudy(result.text,result.id)">
                    {{ result.text }}
                </ion-item>
            </ion-list>





            <ion-label class="labels">{{'profilein.Organisation Name' | translate}} </ion-label>

            <ion-item fill="outline" class="input-field">
                <div class="selected-skill">{{ selectedOrganisation }}

                    <ion-icon *ngIf="selectedOrganisation != undefined && selectedOrganisation != '' && !disabled==true"
                        name="close-circle" (click)="removeOrganisation(selectedOrganisation)"></ion-icon>
                </div>
                <ion-input (ionInput)="onSearchOrganisation($event.target.value) "
                    (optionSelected)="orgLocation($event.option.value)" [formControl]="searchCtrl"></ion-input>
            </ion-item>

            <ion-list *ngIf="IsorgListShow">
                <ion-item *ngFor="let result of searchOrganisationResults"
                    (click)="selectOrganisation(result.text,result.id);getTitle(result.id);orgLocation(result.id)">
                    {{ result.text }}
                </ion-item>
            </ion-list>


        </div>

    </form>


</ion-content>