<!-- Bootstrap CSS CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- BS Stepper CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper@1.7.0/dist/css/bs-stepper.min.css">


<!-- <ion-header>
    <ion-toolbar class="new-background-color headers">
        <ion-row>


            <ion-col size="2">
                <ion-icon size="large" name="arrow-back-circle-outline" style="margin-top:21%"
                    (click)="goto_welcome()"></ion-icon>
            </ion-col>

            <ion-col size="10">
                <ion-title class="ion-text-wrap"
                    style="font-family: Mr-eaves; color: black;text-align: center;">{{'Login.sign-up' |
                    translate}}</ion-title>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header> -->
<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-buttons slot="start">
            <ion-button (click)="goto_welcome()">
                <ion-icon size="large" style="    color: black;" name="arrow-back-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="text-align: center;font-family: Mr-eaves; color: black;">{{'Login.sign-up' |
            translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="container">
        <div id="stepper1" class="bs-stepper">
            <div class="bs-stepper-header">
                <div class="step" data-target="#test-l-1">
                    <button class="step-trigger">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">{{'ProfileInfo' | translate }}</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#test-l-2">
                    <button class="step-trigger">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">{{'AddressInfo' | translate }}</span>
                    </button>
                </div>
                <div class="line"></div>
                <div class="step" data-target="#test-l-3">
                    <button class="step-trigger">
                        <span class="bs-stepper-circle">3</span>
                        <span class="bs-stepper-label">{{'RegistrationInfo' | translate }}</span>
                    </button>
                </div>
            </div>
            <br>
            <div class="bs-stepper-content">
                <form [formGroup]="talentform" (ngSubmit)="onSubmit()">
                    <div id="test-l-1" class="content">
                        <div class="button-content">
                            <ion-label class="labels">{{'firstName' | translate }} <small
                                    style="color: #f70505;">*</small></ion-label>
                            <ion-item fill="outline" class="input-field">
                                <ion-input type="text" formControlName="firstName"
                                    (keypress)="keyPressAlphaNumeric($event)"></ion-input>

                            </ion-item>
                            <div
                                *ngIf=" talentform.controls.firstName.hasError('required') && talentform.controls.firstName.touched">
                                <small style="color: #f70505;">{{'reqFirstName' | translate }}</small>
                            </div>
                            <div *ngIf="talentform.controls.firstName.hasError('pattern')">
                                <small style="color: #f70505;">{{'splCharNotAllowed' | translate }}</small>
                            </div>
                            <div *ngIf="talentform.controls.firstName.hasError('minlength')">
                                <small style="color: #f70505;">{{'firstNameMinLength' | translate }}</small>
                            </div>

                            <ion-label class="labels">{{'lastName' | translate }} <small
                                    style="color: #f70505;">*</small></ion-label>
                            <ion-item fill="outline" class="input-field">
                                <ion-input type="text" formControlName="lastName"
                                    (keypress)="keyPressAlphaNumeric($event)"></ion-input>
                            </ion-item>
                            <div
                                *ngIf=" talentform.controls.lastName.hasError('required') && talentform.controls.lastName.touched">
                                <small style="color: #f70505;">{{'reqLastName' | translate }} </small>
                            </div>
                            <div *ngIf="talentform.controls.lastName.hasError('pattern')">
                                <small style="color: #f70505;">{{'splCharNotAllowed' | translate }}</small>
                            </div>

                            <ion-label class="labels">{{'dob' | translate }}<small
                                    style="color: #f70505;">*</small></ion-label>
                            <ion-item fill="outline" class="input-field">
                                <ion-datetime displayFormat="DD.MM.YYYY" formControlName="dob" presentation="date"
                                    [max]="getMaxDate()"></ion-datetime>
                            </ion-item>
                            <div
                                *ngIf=" talentform.controls.dob.hasError('required') && talentform.controls.dob.touched">
                                <small style="color: #f70505;">{{'reqDob' | translate }}</small>
                            </div>

                            <ion-label class="labels">{{'gender' | translate }}<small
                                    style="color: #f70505;">*</small></ion-label>
                            <ion-row class="talentrow">
                                <ion-radio-group formControlName="gender" style="width:100%">
                                    <ion-row>
                                        <ion-col size="4">
                                            <div class="genderbg">
                                                <div class="genderpadding">
                                                    <!-- <img src="./assets/img/boys.png" class="emojiicons"> -->
                                                    <span class="emojitext">{{'male' | translate }}</span>
                                                    <ion-radio mode="md" class="ion-item-left" value="M"></ion-radio>
                                                </div>
                                            </div>
                                        </ion-col>

                                        <ion-col size="4">
                                            <div class="genderbg">
                                                <div class="genderpadding">
                                                    <!-- <img src="./assets/img/girle.jpg" class="emojiicons"> -->
                                                    <span class="emojitext">{{'female' | translate }}</span>
                                                    <ion-radio mode="md" class="ion-item-left" value="F"></ion-radio>
                                                </div>
                                            </div>
                                        </ion-col>

                                        <ion-col size="4">
                                            <div class="genderbg">
                                                <div class="genderpadding">
                                                    <!-- <img src="./assets/img/others.png" class="emojiicons"> -->
                                                    <span class="emojitext">{{'others' | translate }}</span>
                                                    <ion-radio mode="md" class="ion-item-left" value="O"></ion-radio>
                                                </div>
                                            </div>
                                        </ion-col>
                                    </ion-row>
                                </ion-radio-group>
                            </ion-row>
                            <div
                                *ngIf=" talentform.controls.gender.hasError('required') && talentform.controls.gender.touched">
                                <small style="color: #f70505;">{{'reqGender' | translate }}</small>
                            </div>
                            <br>

                            <ion-label class="labels">{{'uploadImage' | translate }}<small
                                    style="color: #f70505;">*</small></ion-label>
                            <ion-row>
                                <ion-col size="6">
                                    <ion-thumbnail *ngIf="base64img1">
                                        <img class="horizontal" [src]="base64img1" name="image" />
                                    </ion-thumbnail>
                                    <ion-thumbnail *ngIf="!base64img1">
                                        <img class="horizontal" src="./assets/img/avatar1.png" alt="Lights"
                                            style="width:100%" />
                                    </ion-thumbnail>
                                </ion-col>

                                <ion-col size="6">
                                    <div class="ion-float-rigth">
                                        <ion-button fill="clear" (click)="opengallery()">
                                            <ion-icon name="image-outline"></ion-icon>
                                        </ion-button>
                                        <ion-button fill="clear" (click)="opencamera()">
                                            <ion-icon name="camera-outline"></ion-icon>
                                        </ion-button>
                                    </div>
                                </ion-col>
                            </ion-row>
                            <div
                                *ngIf=" talentform.controls.firstName.hasError('required') && talentform.controls.firstName.touched">
                                <small style="color: #f70505;">{{'uploadImagereq' | translate }}</small>
                            </div>

                        </div>
                        <div class="display-justify">
                            <ion-button class="custom-button" style="font-family:  Mr-eaves;"
                                (click)="next()">{{'profilein.Next' | translate }}</ion-button>
                        </div>

                        <div class="line-with-text">
                            <hr class="hr1">

                            <hr class="hr2">
                        </div>

                        <div class="sign-in">
                            <div style="font-size: 16px;">{{'Already a Talentchek member?' | translate }} </div><span
                                style="font-size: 18px;"><b> <a (click)="goto_signin()"> {{ 'sign_in' | translate
                                        }}</a></b></span>
                        </div>
                    </div>
                    <div id="test-l-2" class="content">
                        <div class="button-content">
                            <ion-label class="labels">{{'profileorg.Address' | translate }}</ion-label>
                            <ion-item fill="outline" class="input-field">
                                <ion-textarea formControlName="address"
                                    placeholder="{{'Enter' | translate}}"></ion-textarea>
                            </ion-item>


                            <ion-label class="labels">{{'country' | translate }} <small
                                    style="color: #f70505;">*</small></ion-label>

                            <ion-item fill="outline" class="input-field">
                                <div class="selected-skills-container">
                                    <div class="selected-skill">{{ selectedCountry }}
                                    </div>
                                </div>
                                <ion-icon *ngIf="selectedCountry != undefined && selectedCountry != ''"
                                    name="close-circle" (click)="removeCountry()" style="color: black;"></ion-icon>
                                <ion-input (ionInput)="onCountrySearch($event.target.value)"
                                    [formControl]="countrysearchCtrl"></ion-input>
                            </ion-item>

                            <ion-list *ngIf="showcountyResults">
                                <ion-item *ngFor="let result of searchResults"
                                    (click)="selectcountry(result.text,result.id)">
                                    {{ result.text }}
                                </ion-item>
                            </ion-list>

                            <div
                                *ngIf=" talentform.controls.country.hasError('required') && talentform.controls.country.touched">
                                <small style="color: #f70505;">{{'reqCountry' | translate }}</small>
                            </div>


                            <ion-label class="labels">{{'stateProvince' | translate }} <small
                                    style="color: #f70505;">*</small></ion-label>

                            <ion-item fill="outline" class="input-field">
                                <div class="selected-skills-container">
                                    <div class="selected-skill">{{ selectedState }}
                                    </div>
                                </div>
                                <ion-icon *ngIf="selectedState != undefined && selectedState != ''" name="close-circle"
                                    (click)="removeState()" style="color: black;"></ion-icon>
                                <ion-input (ionInput)="onStateSearch($event.target.value)"
                                    [formControl]="statesearchCtrl"></ion-input>
                            </ion-item>

                            <ion-list *ngIf="showStateResults">
                                <ion-item *ngFor="let result of searchStateResults"
                                    (click)="selectState(result.text,result.id)">
                                    {{ result.text }}
                                </ion-item>
                            </ion-list>

                            <!-- <ion-item fill="outline" class="input-field">

                                <ion-select placeholder="Select State" (ionChange)="goTostateSelectedItem($event.target.value)" formControlName="stateName">
                                    <ion-select-option *ngFor="let sElement of stateResponse" [value]="sElement.id">
                                        {{sElement.text}}</ion-select-option>

                                </ion-select>
                            </ion-item> -->
                            <div
                                *ngIf=" talentform.controls.stateName.hasError('required') && talentform.controls.stateName.touched">
                                <small style="color: #f70505;">{{'profileorg.State name is required' |
                                    translate}}</small>
                            </div>

                            <ion-label class="labels">{{'areaName' | translate }} <small
                                    style="color: #f70505;">*</small></ion-label>

                            <ion-item fill="outline" class="input-field">
                                <div class="selected-skills-container">
                                    <div class="selected-skill">{{ selectedCity }}
                                    </div>
                                </div>
                                <ion-icon *ngIf="selectedCity != undefined && selectedCity != ''" name="close-circle"
                                    (click)="removeCity()" style="color: black;"></ion-icon>
                                <ion-input (ionInput)="onCitySearch($event.target.value)"
                                    [formControl]="citySearchCtrl"></ion-input>
                            </ion-item>

                            <ion-list *ngIf="showCityResults">
                                <ion-item *ngFor="let result of searchCityResults"
                                    (click)="selectCity(result.text,result.id)">
                                    {{ result.text }}
                                </ion-item>
                            </ion-list>


                            <!-- <ion-item fill="outline" class="input-field">
                                <ion-select placeholder="Select city" formControlName="areaName">
                                    <ion-select-option *ngFor="let ciElement of cityOptions" [value]="ciElement.id">
                                        {{ciElement.text}}</ion-select-option>

                                </ion-select>
                            </ion-item> -->
                            <div
                                *ngIf=" talentform.controls.areaName.hasError('required') && talentform.controls.areaName.touched">
                                <small style="color: #f70505;">{{'profileorg.City name is required' |
                                    translate}}</small>
                            </div>
                            <ion-label class="labels">{{'pinZipCode' | translate }} <small
                                    style="color: #f70505;">*</small></ion-label>
                            <ion-item fill="outline" class="input-field">
                                <ion-input formControlName="pinCode"></ion-input>
                            </ion-item>
                            <div
                                *ngIf=" talentform.controls.pinCode.hasError('required') && talentform.controls.pinCode.touched">
                                <small style="color: #f70505;">{{'reqPinZipCode' | translate }}</small>
                            </div>

                        </div>
                        <div class="display-justify">
                            <ion-button class="custom-button" style="font-family:  Mr-eaves;"
                                (click)="next()">{{'profilein.Next' | translate }}</ion-button>
                        </div>

                        <div class="line-with-text">
                            <hr class="hr1">
                            <hr class="hr2">
                        </div>

                        <div class="sign-in">
                            <div style="font-size: 16px;">{{'Already a Talentchek member?' | translate }} </div><span
                                style="font-size: 18px;"><b> <a (click)="goto_signin()">{{ 'sign_in' | translate
                                        }}</a></b></span>
                        </div>
                    </div>
                    <div id="test-l-3" class="content text-center">
                        <div class="button-content">


                            <ion-label class="labels">{{'contactNo' | translate }}<small
                                    style="color: #f70505;">*</small></ion-label>
                            <ion-item fill="outline" class="input-field">
                                <ion-input type="number" (keypress)="limitInputLength($event)"
                                    formControlName="phoneNo"></ion-input>
                            </ion-item>
                            <div
                                *ngIf=" talentform.controls.phoneNo.hasError('required') && talentform.controls.phoneNo.touched">
                                <small style="color: #f70505;">{{'contactValid' | translate }}</small>
                            </div>

                            <ion-label class="labels">{{'email' | translate }} </ion-label>
                            <ion-item fill="outline" class="input-field">
                                <ion-input type="email" formControlName="email"
                                    onkeyup="this.value = this.value.toLowerCase();"></ion-input>
                            </ion-item>
                            <!-- <div *ngIf=" talentform.controls.email.hasError('required') && talentform.controls.email.touched">
                                <small style="color: #f70505;">{{'emailId_Req' | translate }}</small>
                            </div> -->
                            <div *ngIf="talentform.controls.email.hasError('pattern')">
                                <small style="color: #f70505;">{{'invalidEmail' | translate }}</small>
                            </div>

                            <ion-label class="labels">{{'password' | translate }} <small
                                    style="color: #f70505;">*</small></ion-label>
                            <ion-item fill="outline" class="input-field">
                                <!-- <ion-input formControlName="password"></ion-input> -->
                                <ion-input type="{{passwordType}}" clearOnEdit="false"
                                    formControlName="password"></ion-input>
                                <ion-icon name="{{passwordIcon}}" slot="end" (click)="passwordToggle()"></ion-icon>
                            </ion-item>
                            <div
                                *ngIf=" talentform.controls.password.hasError('required') && talentform.controls.password.touched">
                                <small style="color: #f70505;">{{'reqPassword' | translate }}</small>
                            </div>
                            <!-- <ion-label class="labels">Account <small style="color: #f70505;">*</small></ion-label>
                            <ion-row class="talentrow">
                                <ion-radio-group formControlName="profileVisibility" style="width:100%">
                                    <ion-row>
                                        <ion-col size="4">
                                            <div class="genderbg">
                                                <div class="genderpadding">
                                                     <span class="emojitext">Public</span>
                                                    <ion-radio mode="md" class="ion-item-left" value="public"></ion-radio>
                                                </div>
                                            </div>
                                        </ion-col>

                                        <ion-col size="4">
                                            <div class="genderbg">
                                                <div class="genderpadding">
                                                     <span class="emojitext">Private</span>
                                                    <ion-radio mode="md" class="ion-item-left" value="private"></ion-radio>
                                                </div>
                                            </div>
                                        </ion-col>

                                        <ion-col size="4">
                                            <div class="genderbg">
                                                <div class="genderpadding">
                                                     <span class="emojitext">On Demand</span>
                                                    <ion-radio mode="md" class="ion-item-left" value="ondemand"></ion-radio>
                                                </div>
                                            </div>
                                        </ion-col>
                                    </ion-row>
                                </ion-radio-group>
                            </ion-row>
                            <div *ngIf=" talentform.controls.profileVisibility.hasError('required') && talentform.controls.profileVisibility.touched">
                                <small style="color: #f70505;">Account is required</small>
                              </div> -->

                            <ion-label class="labels">{{'referralCode' | translate }}</ion-label>
                            <ion-item fill="outline" class="input-field">
                                <ion-input formControlName="referalCode"></ion-input>
                            </ion-item>

                            <ion-item lines="none">
                                <ion-checkbox formControlName="cBoxIAgree" [(ngModel)]="cBoxIAgreeVal"></ion-checkbox>
                                <ion-label>&emsp;{{'iAccept' | translate }} <a (click)="openTCForm()"
                                        style="color: rgb(119, 191, 194);"> {{'tAndC' | translate }} </a><span
                                        style="color:red">*</span></ion-label>
                            </ion-item><br>

                            <ion-item lines="none">
                                <ion-checkbox formControlName="cBoxIAgreeConsent"
                                    [(ngModel)]="cBoxIAgreeConsentVal"></ion-checkbox>
                                <ion-label>&emsp;{{'iAccept' | translate }} <a (click)="openConsentForm()"
                                        style="color: rgb(119, 191, 194);">{{'consentForm' | translate }}</a><span
                                        style="color:red">*</span></ion-label>
                            </ion-item>

                        </div>
                        <div class="display-justify">
                            <ion-button class="custom-button" style="font-family:  Mr-eaves;"
                                [disabled]="!talentform.valid || cBoxIAgreeVal==false || cBoxIAgreeConsentVal ==false "
                                (click)="onSubmit()">{{'register' | translate }}</ion-button>
                        </div>


                        <div class="line-with-text">
                            <hr class="hr1">
                            <hr class="hr2">
                        </div>

                        <div class="sign-in">
                            <div style="font-size: 16px;">{{'Already a Talentchek member?' | translate }} </div><span
                                style="font-size: 18px;"><b> <a (click)="goto_signin()"> {{ 'sign_in' | translate
                                        }}</a></b></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ion-content>