.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 300px auto;
}

.loader {
    border: 7px solid #f3f3f3;
    /* Light grey */
    border-top: 7px solid #112e5b;
    /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: loaderspin 1s linear infinite;
    position: relative;
}

.loader-container {
    position: absolute;
    display: inline-block;
    margin-left: -50%;
}

.loader-container span {
    position: absolute;
    top: 17%;
    left: 12%;
    width: 73%;
}

@keyframes loaderspin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.custom-loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: rgba(2, 2, 2, 0.144);
    display: flex;
    justify-content: center;
    align-items: center;
}