<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937243049058-3vjtbuilmdjbepbotiknjov5k83gnpq7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937243049058-3vjtbuilmdjbepbotiknjov5k83gnpq7</string>
	<key>API_KEY</key>
	<string>AIzaSyARxnDyhWEh04WVkUlMTFPw2XMPqg13dvU</string>
	<key>GCM_SENDER_ID</key>
	<string>937243049058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paragondynamcis.tftalentchek</string>
	<key>PROJECT_ID</key>
	<string>talentcheknew</string>
	<key>STORAGE_BUCKET</key>
	<string>talentcheknew.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937243049058:ios:d9b01e8fdbdd23d88ce53b</string>
</dict>
</plist>