<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button class="blackTheme" defaultHref="dashboard-individual"></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-col size="10">
        <ion-title class="pageHeaderTitle">
          <div class="ion-text-wrap">{{'DeleteMyAccount.deleteMyAcc' | translate}}</div>
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card id="card1">
    
    <ion-card-content style="padding-left: 10%;padding-top:10px">
      <h1 style="color: black;text-align: center;">{{'DeleteMyAccount.deleteAccWill' | translate}}</h1>
      <p>
        <ion-icon style="color: red;" name="alert-circle-outline"></ion-icon> {{'DeleteMyAccount.deleteYourAccInfo' | translate}}
      </p>
      <p>
        <ion-icon style="color: red;" name="alert-circle-outline"></ion-icon> {{'DeleteMyAccount.deleteYourEdu' | translate}}
      </p>
      <p>
        <ion-icon style="color: red;" name="alert-circle-outline"></ion-icon> {{'DeleteMyAccount.deleteYuorDoc' | translate}}
      </p>

    </ion-card-content>
    <ion-card-header style="text-align: center;">     
      
      <ion-button shape="round" class="deleteBtn" (click)="deleteMyAccount()">
        {{'DeleteMyAccount.deleteMyAcc' | translate}}
      </ion-button>
    </ion-card-header>
  </ion-card>

</ion-content>