
   #card1{
    --background: linear-gradient(to right top, #f5f5f5, #f7dc73);
    border-radius: 20px;
    color: black;
   }

   .deleteBtn {
    --background: rgb(255, 0, 0);
    margin-top: 5px; 
    color: rgb(255, 255, 255);
    font-size: small;
    font-weight: bold;
}

.blackTheme{
    color: black;
  }
  .whiteTheme{
    color: white;
  }
  ion-content{
    --background: white;
  }