<ion-header>
    <ion-toolbar>

        <div style="display: flex; justify-content: space-between; align-items: center; white-space: nowrap;">
            <div style="text-align: right;margin: 0px 0px 0px 5px;">
                <ion-icon size="large" name="arrow-back-circle-outline" (click)="goto_settings()"></ion-icon>
            </div>
            <div style="text-align: center;display: contents;">
                <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black;">{{'Visibility settings' | translate}}</ion-title>
            </div>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content>

    <div class="display-justify" (click)="profile_vis()">
        <div class="custom-button">
            <div style="display: flex; align-items: center; font-family: Mr-eaves ;white-space: nowrap;">
                <ion-avatar slot="start">
                    <img style="padding: 7px;" src="../../assets/img/user-profile.png" />
                </ion-avatar>{{'EditProfileIndividual.profileVisibility' | translate}}</div>
        </div>
    </div>
    <div class="line-with-text">
        <hr class="hr1">
    </div>
    <div class="display-justify" (click)="email_vis()">
        <div class="custom-button">
            <div style="display: flex; align-items: center; font-family: Mr-eaves ; white-space: nowrap;">
                <ion-avatar slot="start">
                    <img style="padding: 7px;" src="../../assets/img/email.png" />
                </ion-avatar>{{'Email Visibility' | translate}}</div>
        </div>
    </div>
    <div class="line-with-text">
        <hr class="hr1">
    </div>
    <div class="display-justify" (click)="phone_vis()">
        <div class="custom-button">
            <div style="display: flex; align-items: center; font-family: Mr-eaves ; white-space: nowrap;">
                <ion-avatar slot="start">
                    <img style="padding: 7px;" src="../../assets/img/phone.png" />
                </ion-avatar>{{'Phone Visibility' | translate}}</div>
        </div>
    </div>




</ion-content>