<ion-header style="background-color: white;">
    <ion-toolbar>
        <form style="padding: inherit;" [formGroup]="jobSearchHeadForm">
            <ion-row>
                <ion-col size="10">
                    <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black;    width: 118%;
                    margin-left: -3%; margin-top: 3%;font-weight: 600;
              font-size: 30px;">{{'ProfileSearch.profileSearch' | translate}}</ion-title>
                </ion-col>
                <ion-col size="2">
                    <img (click)="goto_advanceSearch()" src="../assets/icon/settings.png"
                        style="width: 70%; height: 45px; padding-bottom: 0px;">
                </ion-col>
            </ion-row>
            <ion-row style="margin: 0px 0px 0px 0px;">
                <ion-col size="10">
                    <ion-title class="ion-text-wrap" style="font-size: 15px;">{{'Its easy' | translate}}.</ion-title>
                </ion-col>
            </ion-row>

            <ion-row style="display: flex;
      align-items: center;">
                <ion-col>
                    <div class="search-container">
                        <ion-select formControlName="searchType" class="search-dropdown"
                            (ionChange)="ChangeOptionEvent($event)">
                            <ion-select-option value="talentid">{{'ForgotPassword.talentId' | translate}}
                            </ion-select-option>
                            <ion-select-option value="name">{{'ForgotPassword.name' | translate}}</ion-select-option>
                            <ion-select-option value="email">{{'ForgotPassword.emailId' | translate}}
                            </ion-select-option>
                            <ion-select-option value="phone">{{'profileorg.Mobile No' | translate}}</ion-select-option>
                        </ion-select>
                        <input type="text" formControlName="searchValue" class="search-input"
                            placeholder="{{'Alumni.search' | translate}}..." />
                    </div>
                    <div style="text-align: center;"> <ion-button style="width: 25%;" (click)="search()"
                            class="search-button">{{'Go' |
                            translate}}</ion-button></div>
                </ion-col>
            </ion-row>
        </form>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" id="my-content">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <br>
    <form>

        <ion-row *ngIf="mySlicedArray.length == 0">
            <ion-col size="12">
                <ion-avatar size="medium" style="width: 90%; margin-left: 5%; margin-top: 8%; height: 90%;">
                    <img alt="" src="../../assets/img/search.png" />
                </ion-avatar>
            </ion-col>

        </ion-row>
        <div style="display: flex;justify-content: center;" *ngIf="mySlicedArray.length == 0">{{'No Results to Display'
            | translate}}</div>
        <div *ngIf="mySlicedArray.length != 0">
            <ion-card class="profilesearchcard" *ngFor="let profile of mySlicedArray"
                (click)="profileView(profile.talentid,profile.accounttype,profile.username)">
                <ion-card-content style="padding-bottom: 0px;">

                    <ion-row>
                        <ion-col size="2">
                            <ion-avatar size="medium">
                                <img alt="" style=" height: 80%;width: 80%;" src="{{profile.profilepic}}" />
                            </ion-avatar>
                        </ion-col>

                        <ion-col size="7.5">
                            <ion-title style="text-align: start;padding:0px;align-items: baseline;">
                                <div class="ion-text-wrap"
                                    style="font-family:  Mr-eaves; font-size: 18px; text-align: start;">
                                    {{profile.username}}</div>
                            </ion-title>
                            <div style="padding-top: 20px;">
                                <p class="ion-text-wrap" style="word-wrap: normal; width: 140%;padding-top: 10px;">
                                    {{profile.usercategory}}</p>
                                <p class="ion-text-wrap" style="width: 130%;">{{profile.currentwork}}
                                </p>
                            </div>
                        </ion-col>

                        <ion-col size="2">
                            <div *ngIf="profile.accounttype == 'public'" class="badge badge-solid-green"
                                style="border-radius: 11px; text-transform: capitalize;   margin-left: -10%;">

                                {{profile.accounttype}}</div>
                            <div *ngIf="profile.accounttype == 'private'" class="badge badge-solid-orange"
                                style="border-radius: 11px; text-transform: capitalize;   margin-left: -10%;">
                                {{profile.accounttype}}</div>
                            <div *ngIf="profile.accounttype == 'on demand'" class="badge badge-solid-blue"
                                style="border-radius: 11px; text-transform: capitalize;   margin-left: -64%;">
                                {{profile.accounttype}}</div>
                        </ion-col>
                    </ion-row>
                    <!-- <ion-row style="    text-align: center;">
                        <div class="c">{{profile.usercategory}}</div>
                        <div class="c">{{profile.currentwork}}</div>
                    </ion-row> -->
                    <!-- <ion-row style="display: flex;
                    flex-direction: row;">

                        <ion-col size="12" style="    margin-top: -9%;">

                            <ion-title style="    line-height: 14px;font-family: inherit;    font-size: 13px;">
                                {{profile.usercategory}}</ion-title>
                        </ion-col>
                        <ion-col size="12" style="    margin-top: -16%;">
                            <ion-title style="     line-height: 14px;    font-family: inherit;      font-size: 13px;;
                      ">{{profile.currentwork}}</ion-title>
                        </ion-col>
                     

                    </ion-row> -->

                </ion-card-content>

            </ion-card>
        </div>
    </form>


    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>


<div class="footer-nav">
    <button [ngClass]="{'selected': selectedTab === 'search'}" (click)="setSelectedTab('search');goto_profileSearch();">
        <ion-icon size="large" name="search-circle"></ion-icon>
    </button>
    <button *ngIf="RoleID.includes('1')" [ngClass]="{'selected': selectedTab === 'earth'}"
        (click)="setSelectedTab('earth');goto_jobs();">
        <ion-icon size="large" name="earth-sharp"></ion-icon>
    </button>
    <button *ngIf="RoleID.includes('2')" [ngClass]="{'selected': selectedTab === 'earth'}"
        (click)="setSelectedTab('earth');goto_orgjobs();">
        <ion-icon size="large" name="earth-sharp"></ion-icon>
    </button>
    <button *ngIf="RoleID.includes('3')" [ngClass]="{'selected': selectedTab === 'earth'}"
        (click)="setSelectedTab('earth');goto_instijobs();">
        <ion-icon size="large" name="earth-sharp"></ion-icon>
    </button>
    <button *ngIf="RoleID.includes('1')" [ngClass]="{'selected': selectedTab === 'apps'}"
        (click)="setSelectedTab('apps');goto_home();">
        <img style="max-width: 67%;" src="../../assets/img/faviconcircle.png" (click)="setSelectedTab('apps')">
    </button>
    <button *ngIf="RoleID.includes('2')" [ngClass]="{'selected': selectedTab === 'apps'}"
        (click)="setSelectedTab('apps');goto_orghome();">
        <img style="max-width: 67%;" src="../../assets/img/faviconcircle.png" (click)="setSelectedTab('apps')">
    </button>
    <button *ngIf="RoleID.includes('3')" [ngClass]="{'selected': selectedTab === 'apps'}"
        (click)="setSelectedTab('apps');goto_instihome();">
        <img style="max-width: 67%;" src="../../assets/img/faviconcircle.png" (click)="setSelectedTab('apps')">
    </button>

    <button *ngIf="RoleID.includes('1')" [ngClass]="{'selected': selectedTab === 'profile'}"
        (click)="setSelectedTab('profile');goto_profile();">
        <ion-icon size="large" name="person-circle-sharp"></ion-icon>
    </button>
    <button *ngIf="RoleID.includes('2')" [ngClass]="{'selected': selectedTab === 'profile'}"
        (click)="setSelectedTab('profile');goto_orgprofile();">
        <ion-icon size="large" name="person-circle-sharp"></ion-icon>
    </button>
    <button *ngIf="RoleID.includes('3')" [ngClass]="{'selected': selectedTab === 'profile'}"
        (click)="setSelectedTab('profile');goto_instiprofile();">
        <ion-icon size="large" name="person-circle-sharp"></ion-icon>
    </button>
    <button [ngClass]="{'selected': selectedTab === 'menu'}" (click)="setSelectedTab('menu');goto_more();">
        <ion-icon size="large" name="ellipsis-vertical-circle-sharp"></ion-icon>

    </button>
</div>