<ion-header>
    <ion-toolbar>

        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="text-align: right;margin: 0px 0px 0px 5px;">
                <ion-icon size="large" name="arrow-back-circle-outline" (click)="goto_settings()"></ion-icon>
            </div>
            <div style="text-align: center;display: contents;">
                <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black;">{{'Subscription.subscription' | translate}}</ion-title>
            </div>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" id="my-content">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    <div class="display-justify">

        <ion-card-content>


            <ion-item fill="outline" class="input-field">
                <ion-label>{{'Subscription.cury' | translate}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-label>
                <ion-select [(value)]="currencyVal" (ionChange)="CurrencyChangeEvent($event)">
                    <ion-select-option value="INR">{{'Subscription.inr' | translate}}</ion-select-option>
                    <ion-select-option value="USD">{{'Subscription.usd' | translate}}</ion-select-option>
                    <ion-select-option value="AED">{{'Subscription.aed' | translate}}</ion-select-option>
                    <ion-select-option value="MYR">{{'Subscription.myr' | translate}}</ion-select-option>
                    <ion-select-option value="SGD">{{'Subscription.sgd' | translate}}</ion-select-option>
                </ion-select>
            </ion-item>




            <!--PRICE CONTENT START-->
            <div class="generic_content">

                <!--HEAD PRICE DETAIL START-->
                <div class="generic_head_price">

                    <!--HEAD CONTENT START-->
                    <div class="generic_head_content">

                        <!--HEAD START-->
                        <div class="head_bg"></div>
                        <div class="head">
                            <span>{{'Subscription.std' | translate}}</span>
                        </div>
                        <!--//HEAD END-->

                    </div>
                    <!--//HEAD CONTENT END-->

                    <!--PRICE START-->
                    <div class="generic_price_tag clearfix">
                        <span class="price">
                                  <span class="sign">{{currencySymbolVal}}</span>
                        <span class="currency">{{amountVal}}</span>
                        </span>
                    </div>
                    <!--//PRICE END-->

                </div>
                <!--//HEAD PRICE DETAIL END-->

                <!--FEATURE LIST START-->
                <div class="generic_feature_list">
                    <ul>
                        <li>{{'Subscription.100 Talent credits' | translate}}</li>
                        <li>{{'Subscription.Profile Verification' | translate}}</li>
                        <li>{{'Subscription.Job Search Module' | translate}}</li>
                        <li>{{'Subscription.Alumni Connect' | translate}}</li>
                        <li>{{'Subscription.Knowledge Bank Access' | translate}}</li>
                        <li>{{'Subscription.One Year Subscription' | translate}}</li>
                    </ul>
                </div>
                <!--//FEATURE LIST END-->

                <!--BUTTON START-->
                <div class="generic_price_btn clearfix">
                    <a class="" (click)="payInAppPurchaseStandard()">{{'Subscription.getsta' | translate}}</a>
                </div>
                <!--//BUTTON END-->

            </div>
            <!--//PRICE CONTENT END-->


        </ion-card-content>

    </div>

</ion-content>