<ion-content>


    <ion-row>
        <ion-col>
            <div class="imageCss"><img src="../../assets/img/welcome.png" /></div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <div style="font-size: 24px;font-family: unset;  font-weight: 700; text-align: center;margin-top: -10%;">{{'Qualification added!' | translate}}</div>
        </ion-col>
    </ion-row>
    <div class="hello-dear">
        <div style="    padding: 13px;font-size: 19px;
      color: #000000;font-family: alina-sans; text-align: center;margin-top: -9%;">{{'qcontent' | translate}}</div>

    </div>

    <div class="container">
        <div style="    padding: 13px;font-size: 19px;
    color: #000000;font-family: alina-sans; ">
            <ion-icon name="reader-outline" style="color: #2C73E5;"></ion-icon>{{'Pro Tip' | translate}}</div>
        <div style="     text-align: left;
   font-size: 16px; padding: 13px; margin-top: -14px;"> {{'q1content' | translate}}</div>

    </div>

    <div class="display-justify" style="padding-top: 10%;">
        <button class="but1" (click)="requestVerification(instiId,eduId)">{{'Yes Request Verification' | translate}}</button>
    </div>
    <div class="display-justify">
        <button class="but2" (click)="move(eduId)">{{'Skip Verification for Now' | translate}}</button>
    </div>
</ion-content>