<ion-content>
  <div class="home-bg">
    <div>
      <ion-row>
       <ion-col class="img-all">
         <div class="ion-text-center">
           <img src="./assets/img/logo.png" id="prfoileimg1">
          </div> 
         </ion-col>
        </ion-row> 
        
        <ion-row>
          <ion-col col="4">
          </ion-col>
            <ion-col col="8">
               <h3 style="color:#ffffff"class=" tealntchek" >Talent Check !</h3>
                        
              </ion-col>
           </ion-row> 
       
    </div>
  </div> 
  <form [formGroup]="loginform" >
   
    <div class="fotmtext">

      <ion-row>
        <ion-col> 
          <ion-item  lines="none" class="roundedInput">
            <div>
              <ion-input type="text" placeholder="Email / User Name"formControlName="email"></ion-input>
              <div class="loginimg"><ion-icon name="person-outline" class="loginicos"></ion-icon></div>
            </div>
          </ion-item>
         </ion-col>
      </ion-row>   
      <div *ngIf="loginform.controls.email.hasError('required') && loginform.controls.email.touched" >
        <small style="color: #f70505;"class="errsmall">Please enter Email or User Name!</small>
      </div> 

      <ion-row>
        <ion-col> 
          <ion-item  lines="none" class="roundedInput">
            <div>
              <ion-input type="password" placeholder="password"formControlName="password"></ion-input>
                <div class="loginimg"><ion-icon name="lock-closed-outline" class="loginicos"></ion-icon></div>
            </div>
          </ion-item>
     
        </ion-col>
      </ion-row> 
      <div *ngIf="loginform.controls.password.hasError('required') && loginform.controls.password.touched" >
        <small style="color: #f70505;" class="errsmall">Please enter password!</small>
      </div> 
     
      <ion-row>
        <ion-col class="ion-float-right">
          <div class="ion-text-end">
            <p  class="regforgot" fill="outline" (click)="openforgot()" class="ion-float-right"> Forgot Password? </p>
          </div>
        </ion-col>
      </ion-row> 
      
      <ion-row>
        <ion-col style="text-align: center;" class="ion-margin-top">
          <ion-button   class="loginbtn" (click)="login_click()" shape="round" style="width:300px;" >Login</ion-button>
          </ion-col>
      </ion-row>
     
          <div class="ion-text-center">
            <p class="regforgot" fill="outline" style="font-size:13px"   (click)="openforres()">Do You have an account ?
              <span style="color:#203864">Register</span>
            </p> 
          </div> 
          <div class="ion-text-center">
            <p class="regforgot" fill="outline" (click)="googleTranslateElementInit()">Choose Your Language ?
              <span id="google_translate_element"></span>
            </p> 
          </div>
     
         <!-- <div class="ion-text-center">
           <ion-row>
            <p class="regforgot" fill="outline" (click)="googleTranslateElementInit()">Choose Your Language ?
            </p> 
          
             <p id="google_translate_element"></p>
          </ion-row>
           
        </div> -->
      
      </div>
        
      
    
        </form>

  </ion-content>
      
      
         



