<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-buttons slot="start">
            <ion-back-button class="whiteTheme" defaultHref="academic-information"></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="!IsEditMode">Call Entry</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <form [formGroup]="talentform" (ngSubmit)="saveCard()" novalidate> -->
    <form [formGroup]="talentform" (ngSubmit)="validationAlertBeforeSave()" novalidate>
        <ion-card class="talentcard1">
            <ion-card-content>
                <div>

                    <!-- Institution name - like - search-->
                    <ion-row class="talentrow2">
                        <ion-col>
                            <ion-item *ngIf="!IsEditMode" class="formitem itemborder" lines="none">
                                <ion-searchbar class="blackTheme" placeholder="Customers" showcancelbutton="" debounce="100" (ionInput)="filterList($event)" formControlName="institution" [(ngModel)]="institutionVal" (ionBlur)="unCheckFocus()" search-icon=“undefined”></ion-searchbar>
                            </ion-item>
                            <ion-item *ngIf="IsEditMode" class="formitem itemborder" lines="none">
                                <ion-label class="blackTheme" position="floating">{{'AddAcademicInfo.institution' | translate}} <span style="color:red">*</span></ion-label>
                                <ion-input *ngIf="IsEditMode" type="text" readOnly="true" formControlName="institution" [(ngModel)]="institutionName"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-list *ngIf="IsSearchListShow" lines="full">
                                <ion-item *ngFor="let InsItem of InsList">
                                    <ion-label class="ion-text-wrap" (click)="goToSearchSelectedItem(InsItem.text, InsItem.id)">
                                        {{ InsItem.text }}
                                        <!-- <ion-text color="primary">
                      <h3>{{ foodItem }}</h3>
                    </ion-text> -->
                                        <!-- <p>{{ foodItem.quantity }} -- {{ foodItem.type }}</p> -->
                                    </ion-label>
                                </ion-item>
                            </ion-list>
                        </ion-col>
                    </ion-row>
                    <div *ngIf="isSubmitted && talentform.controls.institution.hasError('required')">
                        <small style="color: #f70505;">Please enter institution</small>
                    </div>
                    <div *ngIf="talentform.controls.institution.hasError('pattern')">
                        <small style="color: #f70505;">Numbers are not allowed</small>
                    </div>

                    <!-- Institution -->
                    <!-- <ion-row class="talentrow">
            <ion-col>
              <ion-item class="formitem itemborder" lines="none">
                  <ion-label position="floating">Institution <span style="color:red">*</span></ion-label>
                  <ion-input *ngIf="!IsEditMode" type="text" formControlName="institution" [(ngModel)]="institutionVal"></ion-input>
                  <ion-input *ngIf="IsEditMode" type="text" readOnly="true" formControlName="institution" [(ngModel)]="institutionName"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <div *ngIf="isSubmitted && talentform.controls.institution.hasError('required') && talentform.controls.institution.touched">
            <small style="color: #f70505;">Please enter institution</small>
          </div>
          <div *ngIf="talentform.controls.institution.hasError('pattern')">
            <small style="color: #f70505;">Special characters / Numbers are not allowed</small>
          </div> -->

                    <!-- Qualification -->
                    <ion-row class="talentrow2">
                        <ion-col>
                            <ion-item class="formitem itemborder" lines="none">
                                <ion-label class="blackTheme" position="floating">{{'AddAcademicInfo.qualification' | translate}} <span style="color:red">*</span></ion-label>
                                <ion-input type="text" formControlName="qualification" [(ngModel)]="qualificationVal"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <div *ngIf="isSubmitted && talentform.controls.qualification.hasError('required')">
                        <small style="color: #f70505;">Please enter qualification</small>
                    </div>
                    <div *ngIf="talentform.controls.qualification.hasError('pattern')">
                        <small style="color: #f70505;">Special characters / Numbers are not allowed</small>
                    </div>

                    <!-- Roll number -->
                    <ion-row class="talentrow2">
                        <ion-col>
                            <ion-item class="formitem itemborder" lines="none">
                                <ion-label class="blackTheme" position="floating">{{'AddAcademicInfo.rollNumber' | translate}}</ion-label>
                                <ion-input type="text" formControlName="rollNo" [(ngModel)]="rollNoVal"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <div *ngIf="talentform.controls.rollNo.hasError('pattern')">
                        <small style="color: #f70505;">Special characters are not allowed</small>
                    </div>

                    <!-- Specialization -->
                    <ion-row class="talentrow2">
                        <ion-col>
                            <ion-item class="formitem itemborder" lines="none">
                                <ion-label class="blackTheme" position="floating">{{'AddAcademicInfo.specialization' | translate}} <span style="color:red">*</span></ion-label>
                                <ion-input type="text" formControlName="specialization" [(ngModel)]="specializationVal"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <div *ngIf="isSubmitted && talentform.controls.specialization.hasError('required')">
                        <small style="color: #f70505;">Please enter specialization</small>
                    </div>
                    <div *ngIf="talentform.controls.specialization.hasError('pattern')">
                        <small style="color: #f70505;">Special characters / Numbers are not allowed</small>
                    </div>

                    <!-- Percentage -->
                    <ion-row class="talentrow2">
                        <ion-col>
                            <ion-item class="formitem itemborder" lines="none">
                                <div>
                                    <ion-label class="blackTheme" position="floating">{{'AddAcademicInfo.percentage' | translate}} <span style="color:red">*</span></ion-label>
                                    <ion-input type="number" formControlName="percentage" [(ngModel)]="percentageVal"></ion-input>
                                </div>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <div *ngIf="isSubmitted && talentform.controls.percentage.hasError('required')">
                        <small style="color: #f70505;">Please enter percentage</small>
                    </div>

                    <!-- Current student? -->
                    <div style="padding-top: 15px;">
                        <ion-label class="blackTheme" position="floating">{{'AddAcademicInfo.currentStudent?' | translate}}</ion-label>
                        <ion-row class="talentrow">
                            <ion-radio-group formControlName="currentStudent" (ionChange)="radioGroupChange($event)" [(ngModel)]="currentStudentVal" style="width:100%">
                                <ion-row>
                                    <ion-col size="4">
                                        <div class="genderbg">
                                            <div class="genderpadding">
                                                <span class="emojitext">{{'AddAcademicInfo.yes' | translate}}</span>
                                                <ion-radio mode="md" class="ion-item-left" value="Yes"></ion-radio>
                                            </div>
                                        </div>
                                    </ion-col>
                                    <ion-col size="4">
                                        <div class="genderbg">
                                            <div class="genderpadding">
                                                <span class="emojitext">{{'AddAcademicInfo.no' | translate}}</span>
                                                <ion-radio mode="md" class="ion-item-left" value="No"></ion-radio>
                                            </div>
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </ion-radio-group>
                        </ion-row>
                    </div>

                    <!-- Year/Class/Grade -->
                    <ion-row class="talentrow">
                        <ion-col>
                            <ion-item class="formitem itemborder" lines="none">
                                <div>
                                    <ion-label class="blackTheme" disabled="{{!IsCurrentStudent}}" position="floating">{{'AddAcademicInfo.yearClassGrade' | translate}} <span style="color:red">*</span></ion-label>
                                    <ion-input disabled="{{!IsCurrentStudent}}" type="text" formControlName="yearClassGrade" [(ngModel)]="yearClassGradeVal"></ion-input>
                                </div>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <div *ngIf="talentform.controls.yearClassGrade.hasError('pattern')">
                        <small style="color: #f70505;">Special characters are not allowed</small>
                    </div>

                    <!-- Year of passing -->
                    <ion-row class="talentrow">
                        <ion-col>
                            <ion-item class="formitem itemborder" lines="none">
                                <div>
                                    <ion-label class="blackTheme" disabled="{{IsCurrentStudent}}" position="floating">{{'AddAcademicInfo.yearOfPassing' | translate}} <span style="color:red">*</span></ion-label>
                                    <ion-datetime class="blackTheme" disabled="{{IsCurrentStudent}}" displayFormat="YYYY" placeholder="YYYY" formControlName="yearOfPassing" [(ngModel)]="yearOfPassingVal">
                                    </ion-datetime>
                                </div>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <!-- <div *ngIf="isSubmitted && talentform.controls.yearOfPassing.hasError('required') && talentform.controls.yearOfPassing.touched">
            <small style="color: #f70505;">Please select 'Year of passing'</small>
          </div> -->

                    <!-- Institution location (City) -->
                    <ion-row class="talentrow">
                        <ion-col>
                            <ion-item class="formitem itemborder" lines="none">
                                <ion-label class="blackTheme" position="floating">{{'AddAcademicInfo.insLoc' | translate}}</ion-label>
                                <ion-input type="text" formControlName="insLoc" [(ngModel)]="insLocVal"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <!-- University rank -->
                    <ion-row class="talentrow">
                        <ion-col>
                            <ion-item class="formitem itemborder" lines="none">
                                <ion-label class="blackTheme" position="floating">{{'AcademicInfo.universityRank' | translate}}</ion-label>
                                <ion-select formControlName="uniRank" [(ngModel)]="uniRankVal">
                                    <ion-select-option value="Distinction">Distinction</ion-select-option>
                                    <ion-select-option value="First-Class">First-Class</ion-select-option>
                                    <ion-select-option value="Second-Class">Second-Class</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <!-- Semester 1 -->
                    <ion-row class="talentrow">
                        <ion-col>
                            <ion-item class="formitem itemborder" lines="none">
                                <div>
                                    <ion-label class="blackTheme" position="floating">{{'AcademicInfo.semester' | translate}} 1</ion-label>
                                    <ion-input type="number" formControlName="sem1" [(ngModel)]="sem1Val"></ion-input>
                                </div>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <!-- Semester 2 -->
                    <ion-row class="talentrow">
                        <ion-col>
                            <ion-item class="formitem itemborder" lines="none">
                                <div>
                                    <ion-label class="blackTheme" position="floating">{{'AcademicInfo.semester' | translate}} 2</ion-label>
                                    <ion-input type="number" formControlName="sem2" [(ngModel)]="sem2Val"></ion-input>
                                </div>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <!-- Semester 3 -->
                    <ion-row class="talentrow">
                        <ion-col>
                            <ion-item class="formitem itemborder" lines="none">
                                <div>
                                    <ion-label class="blackTheme" position="floating">{{'AcademicInfo.semester' | translate}} 3</ion-label>
                                    <ion-input type="number" formControlName="sem3" [(ngModel)]="sem3Val"></ion-input>
                                </div>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <!-- Semester 4 -->
                    <ion-row class="talentrow">
                        <ion-col>
                            <ion-item class="formitem itemborder" lines="none">
                                <div>
                                    <ion-label class="blackTheme" position="floating">{{'AcademicInfo.semester' | translate}} 4</ion-label>
                                    <ion-input type="number" formControlName="sem4" [(ngModel)]="sem4Val"></ion-input>
                                </div>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <!-- Semester 5 -->
                    <ion-row class="talentrow">
                        <ion-col>
                            <ion-item class="formitem itemborder" lines="none">
                                <div>
                                    <ion-label class="blackTheme" position="floating">{{'AcademicInfo.semester' | translate}} 5</ion-label>
                                    <ion-input type="number" formControlName="sem5" [(ngModel)]="sem5Val"></ion-input>
                                </div>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <!-- Semester 6 -->
                    <ion-row class="talentrow">
                        <ion-col>
                            <ion-item class="formitem itemborder" lines="none">
                                <div>
                                    <ion-label class="blackTheme" position="floating">{{'AcademicInfo.semester' | translate}} 6</ion-label>
                                    <ion-input type="number" formControlName="sem6" [(ngModel)]="sem6Val"></ion-input>
                                </div>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <!-- Semester 7 -->
                    <ion-row class="talentrow">
                        <ion-col>
                            <ion-item class="formitem itemborder" lines="none">
                                <div>
                                    <ion-label class="blackTheme" position="floating">{{'AcademicInfo.semester' | translate}} 7</ion-label>
                                    <ion-input type="number" formControlName="sem7" [(ngModel)]="sem7Val"></ion-input>
                                </div>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <!-- Semester 8 -->
                    <ion-row class="talentrow">
                        <ion-col>
                            <ion-item class="formitem itemborder" lines="none">
                                <div>
                                    <ion-label class="blackTheme" position="floating">{{'AcademicInfo.semester' | translate}} 8</ion-label>
                                    <ion-input type="number" formControlName="sem8" [(ngModel)]="sem8Val"></ion-input>
                                </div>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <!-- Semester 9 -->
                    <ion-row class="talentrow">
                        <ion-col>
                            <ion-item class="formitem itemborder" lines="none">
                                <div>
                                    <ion-label class="blackTheme" position="floating">{{'AcademicInfo.semester' | translate}} 9</ion-label>
                                    <ion-input type="number" formControlName="sem9" [(ngModel)]="sem9Val"></ion-input>
                                </div>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <!-- Semester 10 -->
                    <ion-row class="talentrow">
                        <ion-col>
                            <ion-item class="formitem itemborder" lines="none">
                                <div>
                                    <ion-label class="blackTheme" position="floating">{{'AcademicInfo.semester' | translate}} 10</ion-label>
                                    <ion-input type="number" formControlName="sem10" [(ngModel)]="sem10Val"></ion-input>
                                </div>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <!-- Semester 11 -->
                    <ion-row class="talentrow">
                        <ion-col>
                            <ion-item class="formitem itemborder" lines="none">
                                <div>
                                    <ion-label class="blackTheme" position="floating">{{'AcademicInfo.semester' | translate}} 11</ion-label>
                                    <ion-input type="number" formControlName="sem11" [(ngModel)]="sem11Val"></ion-input>
                                </div>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <!-- Semester 12 -->
                    <ion-row class="talentrow">
                        <ion-col>
                            <ion-item class="formitem itemborder" lines="none">
                                <div>
                                    <ion-label class="blackTheme" position="floating">{{'AcademicInfo.semester' | translate}} 12</ion-label>
                                    <ion-input type="number" formControlName="sem12" [(ngModel)]="sem12Val"></ion-input>
                                </div>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <!-- Ready to mentorship? -->
                    <div *ngIf="IsStudent || IsEmployed || IsBusinessOwner || IsOthers" style="padding-top: 15px;">
                        <ion-label class="blackTheme" position="floating">{{'ProfessionalExp.readyToMentor' | translate}}
                        </ion-label>
                        <ion-row class="talentrow">
                            <ion-radio-group formControlName="Mentorship" (ionChange)="mentorShipChangeEvent($event)" [(ngModel)]="MentorshipVal" style="width:100%">
                                <ion-row>
                                    <ion-col size="4">
                                        <div class="genderbg">
                                            <div class="genderpadding">
                                                <span class="emojitext">{{'ProfessionalExp.yes' | translate}}</span>
                                                <ion-radio mode="md" class="ion-item-left" value="Yes"></ion-radio>
                                            </div>
                                        </div>
                                    </ion-col>
                                    <ion-col size="4">
                                        <div class="genderbg">
                                            <div class="genderpadding">
                                                <span class="emojitext">{{'ProfessionalExp.no' | translate}}</span>
                                                <ion-radio mode="md" class="ion-item-left" value="No"></ion-radio>
                                            </div>
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </ion-radio-group>
                        </ion-row>
                    </div>

                    <!-- How many hours per month can you dedicate for mentorship? -->
                    <ion-row class="talentrow" *ngIf="IsStudent || IsEmployed || IsBusinessOwner || IsOthers">
                        <ion-col>
                            <ion-item class="formitem itemborder" lines="none">
                                <div>
                                    <ion-label class="blackTheme" disabled="{{!IsBusinessOwner}}" position="floating">
                                        {{'ProfessionalExp.dedicateHrsMoth' | translate}}</ion-label>
                                    <ion-input disabled="{{!IsBusinessOwner}}" type="number" maxlength="3" formControlName="HrsPerMonth" [(ngModel)]="HrsPerMonthVal"></ion-input>
                                </div>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <!-- Upload certificate -->
                    <ion-row class="talentrow1" style="padding-top: 15px;">
                        <ion-col>
                            <div>
                                <ion-label class="blackTheme" position="stacked" class="labelfont labeltext2">Upload certificate</ion-label>
                                <ion-row>
                                    <ion-col size="4">
                                        <ion-thumbnail *ngIf="base64img1">
                                            <img class="horizontal" [src]="base64img1" name="image" />
                                        </ion-thumbnail>
                                        <ion-thumbnail *ngIf="base64img1 == null || base64img1 == ''">
                                            <img class="horizontal" src="./assets/img/Verification.png" alt="Lights" style="width:100%" />
                                        </ion-thumbnail>
                                    </ion-col>

                                    <ion-col size="8">
                                        <div class="ion-float-rigth">
                                            <ion-button fill="clear" (click)="opengallery()">
                                                <ion-icon name="image-outline"></ion-icon>
                                            </ion-button>
                                            <ion-button fill="clear" (click)="opencamera()">
                                                <ion-icon name="camera-outline"></ion-icon>
                                            </ion-button>
                                            <ion-button fill="clear" (click)="clearProfileImage()">
                                                <ion-icon name="remove-circle-outline"></ion-icon>
                                            </ion-button>
                                        </div>
                                    </ion-col>
                                </ion-row>
                            </div>
                        </ion-col>
                    </ion-row>

                    <!-- Save / Cancel button -->
                    <ion-row>
                        <ion-col style="text-align: center;" class="ion-margin-top">
                            <ion-button *ngIf="!IsEditMode" type="submit" shape="round" class="ioncardButtonNormal">
                                <ion-icon slot="start" name="save-outline"></ion-icon>{{'AddAcademicInfo.submit' | translate}}
                            </ion-button>
                            <ion-button *ngIf="IsEditMode" type="submit" shape="round" class="ioncardButtonNormal">
                                <ion-icon slot="start" name="save-outline"></ion-icon>{{'AddAcademicInfo.update' | translate}}
                            </ion-button>

                            <ion-button shape="round" class="ioncardButtonNormal" (click)="cancel()">
                                <ion-icon slot="start" name="close-outline"></ion-icon>{{'AddAcademicInfo.cancel' | translate}}
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </div>
            </ion-card-content>
        </ion-card>
    </form>
</ion-content>