<ion-header>
    <ion-toolbar>

        <div style="display: flex; justify-content: space-between; align-items: center; white-space: nowrap;">
            <div style="text-align: right;margin: 0px 0px 0px 5px;">
                <ion-icon size="large" name="arrow-back-circle-outline" (click)="goto_settings()"></ion-icon>
            </div>
            <div style="text-align: center;display: contents;">
                <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black;"> {{'Alumni list' |
                    translate}}</ion-title>
            </div>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content>

    <!-- <div class="display-justify" *ngFor="let cElement of alumniList">
        <div class="custom-button" (click)="studentnetwork(cElement.oniname,cElement.networktype)">
            <div style="display: flex; align-items: center; font-family: Mr-eaves ;">

            <ion-row>
                <ion-col size="2">
                    <ion-avatar size="medium">
                        <img alt="" style=" height: 80%;width: 80%;" src="{{cElement.logo}}" />
                    </ion-avatar>
                </ion-col>
                <div class="orgtitle">{{cElement.userName}}</div>
            </ion-row>
            <ion-avatar slot="start">
                    <img style="padding: 7px;" src="{{cElement.logo}}" />
                </ion-avatar> 
            <div class="orgtitle">{{cElement.userName}}</div> 
             </div>
        </div>
    </div> -->



    <ion-card class="profilesearchcard" *ngFor="let cElement of alumniList">
        <ion-card-content style="padding-bottom: 0px;">
            <ion-row (click)="studentnetwork(cElement.oniname,cElement.networktype)">
                <ion-col size="3.5">
                    <ion-avatar size="medium">
                        <img alt="" style="height: 70%; width: 100%;" src="{{cElement.logo}}" />
                    </ion-avatar>
                </ion-col>

                <ion-col size="8">
                    <ion-title style="text-align: start;padding:0px;">
                        <div class="ion-text-wrap" style="font-family:  Mr-eaves; font-size: 16px; text-align: start;">
                            {{cElement.userName}}</div>
                    </ion-title>
                </ion-col>
            </ion-row>
            <!-- <ion-row style="    text-align: center;">
            <div class="c">{{profile.usercategory}}</div>
            <div class="c">{{profile.currentwork}}</div>
        </ion-row> -->
            <!-- <ion-row style="display: flex;
        flex-direction: row;">

            <ion-col size="12" style="    margin-top: -9%;">

                <ion-title style="    line-height: 14px;font-family: inherit;    font-size: 13px;">
                    {{profile.usercategory}}</ion-title>
            </ion-col>
            <ion-col size="12" style="    margin-top: -16%;">
                <ion-title style="     line-height: 14px;    font-family: inherit;      font-size: 13px;;
          ">{{profile.currentwork}}</ion-title>
            </ion-col>
         

        </ion-row> -->

        </ion-card-content>

    </ion-card>




</ion-content>