ion-content {
    --background: url('../../assets/img/06_Welcome screen.png');
    background-size: cover;
}

.input-field {
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 0px 8px 24px #00000026;
    border: 1px solid #D1D1D2;
}

.button-content {
    display: flex;
    padding: 10px 16px;
    flex-direction: column;
}

.labels {
    font: normal normal bold 16px/22px Mr-eaves;
    text-align: left;
    letter-spacing: 0.24px;
    color: #191D1E;
    opacity: 1;
}

.footer-nav {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 97%;
    height: 8vh;
    /* set the height to 8% of the viewport height */
    background: #112e5b;
    display: flex;
    padding: 19px;
    margin: 0px 10px 10px 10px;
    justify-content: space-around;
    border-radius: 30px;
    align-items: center;
    padding: 0 10px;
}

.footer-nav button {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 14px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.footer-nav button ion-icon {
    font-size: 20px;
    margin-bottom: 5px;
}

.footer-nav button.selected {
    color: #FF9E3F;
    border-radius: 50%;
}


/* Set the padding at the bottom of the ion-content to the height of the footer */

ion-content {
    --ion-safe-area-bottom: 8vh;
    /* set the safe area bottom to 8% of the viewport height */
}

.selected-skills-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.selected-skill {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #e0e0e00e;
    color: #333;
}