<ion-header style="background-color: white;">
  <ion-toolbar style="padding: 20px 10px 15px;">
      <ion-row style="display: flex;justify-content: space-between;">
        <div>
          <ion-icon size="large" (click)="goto_settings()" name="arrow-back-circle-outline" style="margin-top:21%"></ion-icon>
        </div>  
        <div style="font-family: Mr-eaves; color: black;font-weight: 600;font-size: 30px;display: flex;
        align-items: center;align-items: center;">
          {{'tAndC' | translate}}
        </div> 
        <div style="font-family: Mr-eaves; color: black;font-weight: 600;font-size: 30px;"> 
        </div>
      </ion-row> 
  </ion-toolbar>
</ion-header>

<ion-content>
<form>
  <div class="modal-content" style="text-align:center;padding: 10px;">  
    <h2> 
    {{'WELCOME TO TALENTCHEK!!' | translate}}</h2>
    <p>
    {{'tncPara1' | translate}}
</p>
    <p style="font-size: 23px;"><b>{{'Terms of Usage' | translate}}</b></p>
    <p style="margin-top: -20px;"><b>==============</b></p>
    <p style="text-align: justify;">
    {{'tncP1' | translate}}
</p>
<br><p style="text-align: justify;">{{'tncP2' | translate}}
</p>
<br><p style="text-align: justify;">{{'tncP3' | translate}}
</p>
<br><p style="text-align: justify;">{{'tncP4' | translate}}
</p>
<br><p style="text-align: justify;">{{'tncP5' | translate}}
</p>

  <p style="font-size: 23px;"><b>{{'tncP6' | translate}}</b></p>
    <p style="margin-top: -20px;"><b>================================</b></p>	
<p style="text-align: justify;">
    {{'tncP7' | translate}}
</p>	
<br><p style="text-align: justify;"> {{'tncP8' | translate}}
</p>

<p style="text-align: justify;"> </p><li style="text-align: left;">	{{'tncP9' | translate}}</li>
<p></p>
<p style="text-align: justify;"> </p><li style="text-align: left;">	{{'tncP10' | translate}} </li>
<p></p>
<p style="text-align: justify;"> </p><li style="text-align: left;">	{{'tncP11' | translate}}</li>
<p></p>
<p style="text-align: justify;"> </p><li style="text-align: left;">	{{'tncP12' | translate}}</li>
<p></p>
<p style="text-align: justify;"> </p><li style="text-align: left;">	{{'tncP13' | translate}}</li>
<p></p>
<p style="text-align: justify;"> </p><li style="text-align: left;">	{{'tncP14' | translate}} </li>
<p></p>
<p style="text-align: justify;"> </p><li style="text-align: left;">{{'tncP15' | translate}} </li>
<p></p>	


<br><p style="text-align: justify;"> {{'tncP16' | translate}}
</p>	


<br><p style="text-align: justify;">{{'tncP17' | translate}}
</p>
<p style="text-align: justify;"> </p><li style="text-align: left;">	{{'tncP18' | translate}}</li>
<p></p>
<p style="text-align: justify;"> </p><li style="text-align: left;">    {{'tncP19' | translate}}</li>
<p></p>

<p style="font-size: 23px;"><b>{{'IT Controls' | translate}} -</b></p>
<p style="text-align: justify;"> </p><li style="text-align: left;">	{{'Systems' | translate}} &amp; {{'tncP20' | translate}}</li>
<p></p>
<p style="text-align: justify;"> </p><li style="text-align: left;">	{{'tncP21' | translate}}</li>
<p></p>
<p style="text-align: justify;"> </p><li style="text-align: left;">	{{'tncP22' | translate}}</li>
<p></p>
<p style="text-align: justify;"> </p><li style="text-align: left;">	{{'tncP23' | translate}}</li>
<p></p>
<p style="text-align: justify;"> </p><li style="text-align: left;">	{{'tncP24' | translate}}</li>
<p></p>
<p style="text-align: justify;"> </p><li style="text-align: left;">	{{'tncP25' | translate}}</li>
<p></p>
<p style="text-align: justify;"> </p><li style="text-align: left;">	{{'tncP26' | translate}} &amp; {{'tncP27' | translate}}</li>
<p></p>


<p style="font-size: 23px;"><b>{{'Physical Security Controls' | translate}} -</b></p>
<p style="text-align: justify;"> </p><li style="text-align: left;">	{{'tncP28' | translate}}</li>
<p></p>
<p style="text-align: justify;"> </p><li style="text-align: left;"> 	{{'tncP29' | translate}}</li>
<p></p>
<p style="text-align: justify;"> </p><li style="text-align: left;">	{{'tncP30' | translate}}</li>
<p></p>
<p style="text-align: justify;"> </p><li style="text-align: left;">	{{'tncP31' | translate}}</li>
<p></p>
<p style="text-align: justify;"> </p><li style="text-align: left;">	{{'tncP32' | translate}} &amp; {{'tncP33' | translate}}.</li>
<p></p>
<p style="text-align: justify;"> </p><li style="text-align: left;">	{{'tncP34' | translate}}</li>
<p></p>

<p style="font-size: 23px;"><b>{{'Incident Management Process' | translate}} </b></p>
<p style="text-align: justify;"> </p><li style="text-align: left;">	{{'tncP35' | translate}}</li>
<p></p>

<p style="font-size: 23px;"><b>{{'Disclaimer' | translate}}</b></p>
    <p style="margin-top: -20px;"><b>===========</b></p>	
    
    <p style="text-align: justify;">
    {{'tncP36' | translate}}
</p>
<br><p style="text-align: justify;"> {{'tncP37' | translate}}
</p>
<br><p style="text-align: justify;"> {{'tncP38' | translate}}
</p>
<br><p style="text-align: justify;"> {{'tncP40' | translate}}
</p>
<br><p style="text-align: justify;"> {{'tncP41' | translate}}
</p>
<br><p style="text-align: justify;"> {{'tncP42' | translate}}
</p>

<p style="font-size: 23px;"><b>{{'Dispute Management' | translate}}</b></p>
<p style="margin-top: -20px;"><b>================</b></p>

<p style="text-align: justify;"> </p><li style="text-align: left;">	{{'tncP43' | translate}}</li>
<p></p>
<p style="text-align: justify;"> </p><li style="text-align: left;">	{{'tncP44' | translate}}</li>
<p></p>
<p style="text-align: justify;"> </p><li style="text-align: left;">	{{'tncP45' | translate}}</li>
<p></p>

<p style="font-size: 23px;"><b>{{'Privacy Policy' | translate}}</b></p>
<p style="margin-top: -20px;"><b>=============</b></p>
<p style="text-align: justify;"> {{'tncP46' | translate}}
</p>
<br><p style="text-align: justify;"> {{'tncP47' | translate}}</p>
<p style="text-align: justify;"> </p><li style="text-align: left;">	{{'tncP48' | translate}}</li>
<p></p>
<p>  www.talentchek.com
</p>
<br><p style="text-align: justify;"> {{'tncP49' | translate}}</p>

<p style="font-size: 23px;"><b>{{'EU standards' | translate}}</b></p>
<p style="text-align: justify;"> {{'tncP50' | translate}}
</p>
<ul>
<p style="text-align: left;"> </p><li style="text-align: left;">	{{'tncP51' | translate}}</li>
<p></p>
<p style="text-align: left;"> </p><li style="text-align: left;">	{{'tncP52' | translate}}</li>
<p></p>
<p style="text-align: left;"> </p><li style="text-align: left;">	{{'tncP53' | translate}}</li>
<p></p>
<p style="text-align: left;"> </p><li style="text-align: left;">	{{'tncP54' | translate}}</li>
<p></p>
<p style="text-align: left;"> </p><li style="text-align: left;">	{{'tncP55' | translate}}</li>
<p></p>
<p style="text-align: left;"> </p><li style="text-align: left;">	{{'tncP56' | translate}}</li>
<p></p>
</ul>
</div>

<div class="footer-nav">
  <button [ngClass]="{'selected': selectedTab === 'search'}" (click)="setSelectedTab('search');goto_profileSearch();">
<ion-icon size="large" name="search-circle"></ion-icon>
</button>
  <button [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth');goto_jobs();">
<ion-icon size="large" name="earth-sharp"></ion-icon>
</button>
  <button [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps');goto_home();">
<img style="max-width: 67%;" src="../../assets/img/faviconcircle.png" (click)="setSelectedTab('apps')">    

</button>
  <button [ngClass]="{'selected': selectedTab === 'profile'}" (click)="setSelectedTab('profile');goto_profile();">
<ion-icon size="large" name="person-circle-sharp"></ion-icon>
</button>
  <button [ngClass]="{'selected': selectedTab === 'menu'}" (click)="setSelectedTab('menu');goto_more();">
<ion-icon size="large" name="ellipsis-vertical-circle-sharp"></ion-icon>

</button>
</div>
</form>
</ion-content>
