<!-- <ion-header>
    <ion-toolbar class="new-background-color">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="text-align: right;margin: 0px 0px 0px 5px;">
                <ion-icon size="large" name="arrow-back-circle-outline" (click)="goto_profileView()" style="margin-top:21%"></ion-icon>
            </div>
            <div *ngIf="!edit" style="text-align: center;display: contents;">
                <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black;">{{'addCertifications' | translate}}</ion-title>
            </div>
            <div *ngIf="edit" style="text-align: center;display: contents;">
                <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black;"> {{'editCertifications' | translate}}</ion-title>
            </div>
        </div> 
    </ion-toolbar>
</ion-header> -->

<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-buttons slot="start">
            <ion-button (click)="goto_profileView()">
                <ion-icon size="large" style="    color: black;" name="arrow-back-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="!edit" style="text-align: center;font-family: Mr-eaves; color: black;">{{'addCertifications' |
            translate}}</ion-title>
        <ion-title *ngIf="edit" style="text-align: center;font-family: Mr-eaves; color: black;">{{'editCertifications' |
            translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" id="my-content">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <form [formGroup]="certificationForm">

        <ion-card-content>
            <ion-row class="talentrow">
                <ion-col>
                    <div class="button-content">
                        <ion-label class="labels">{{'certificationName' | translate}} <small
                                style="color: #f70505;">*</small></ion-label>
                        <ion-item fill="outline" class="input-field">
                            <ion-input formControlName="certificationName"></ion-input>
                        </ion-item>
                        <div
                            *ngIf=" certificationForm.controls.certificationName.hasError('required') && certificationForm.controls.certificationName.touched">
                            <small style="color: #f70505;">{{'certificationNameReq' | translate}}</small>
                        </div>
                    </div>
                    <div class="button-content">
                        <ion-label class="labels">{{'issuingOrg' | translate}}<small
                                style="color: #f70505;">*</small></ion-label>
                        <ion-item fill="outline" class="input-field">
                            <ion-input formControlName="issuedBy"></ion-input>
                        </ion-item>
                        <div
                            *ngIf=" certificationForm.controls.issuedBy.hasError('required') && certificationForm.controls.issuedBy.touched">
                            <small style="color: #f70505;">{{'issuingOrgReq' | translate}}</small>
                        </div>
                    </div>
                    <div class="button-content">
                        <ion-label class="labels">{{'certificationNo' | translate}}<small
                                style="color: #f70505;">*</small></ion-label>
                        <ion-item fill="outline" class="input-field">
                            <ion-input formControlName="certificationId"></ion-input>
                        </ion-item>
                        <div
                            *ngIf=" certificationForm.controls.certificationId.hasError('required') && certificationForm.controls.certificationId.touched">
                            <small style="color: #f70505;">{{'certificationNoReq' | translate}}</small>
                        </div>
                    </div>
                    <div class="button-content">
                        <ion-label class="labels">{{'AddCertification.issueDate' | translate}}<small
                                style="color: #f70505;">*</small></ion-label>
                        <ion-item fill="outline" class="input-field">
                            <ion-datetime (ionChange)="validateStartDate($event.target.value)"
                                displayFormat="DD.MM.YYYY" formControlName="issuedDateObj"
                                presentation="date"></ion-datetime>
                        </ion-item>
                        <div
                            *ngIf=" certificationForm.controls.issuedDateObj.hasError('required') && certificationForm.controls.issuedDateObj.touched">
                            <small style="color: #f70505;">{{'AddCertification.issueDateAlert' | translate}}</small>
                        </div>
                    </div>
                    <div class="button-content">
                        <ion-label class="labels">{{'expiryDate' | translate}} </ion-label>
                        <ion-item fill="outline" class="input-field">
                            <ion-datetime (ionChange)="validateEndDate($event.target.value)" displayFormat="DD.MM.YYYY"
                                formControlName="expiryDateObj" presentation="date" [max]="getMaxDate()"></ion-datetime>
                        </ion-item>
                    </div>
                    <ion-row class="talentrow">
                        <ion-col>
                            <ion-item class="formitem itemborder" lines="none">
                                <ion-label class="blackTheme">{{'KmPortal.uploadFile' | translate}}<span
                                        style="color:red">*</span></ion-label>

                                <ion-input type="file" style="color: transparent;"
                                    accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                    formControlName="uploadCertification" (change)="upload($event)"></ion-input>

                            </ion-item>
                            <div>{{'supportFormat' | translate}}</div>
                            <div style="margin-top: 25px;">
                                {{uploadedFile?.split('/').pop()}}
                            </div>
                        </ion-col>
                    </ion-row>

                    <div *ngIf="!edit" class="button-content" style="width: 50%; margin: auto;">
                        <div class="display-justify">
                            <ion-button class="custom-button" (click)="saveCertification()">{{'AddJobProfile.submit' |
                                translate}}</ion-button>
                        </div>
                    </div>
                    <div *ngIf="edit" class="button-content" style="width: 50%; margin: auto;">
                        <div class="display-justify">
                            <ion-button class="custom-button" (click)="UpdateCertification()">{{'AddJobProfile.update' |
                                translate}}</ion-button>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-card-content>

    </form>


</ion-content>