<ion-header>
    <ion-toolbar>

        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="text-align: right;margin: 0px 0px 0px 5px;">
                <ion-icon size="large" name="arrow-back-circle-outline" (click)="goto_settings()"></ion-icon>
            </div>
            <div style="text-align: center;display: contents;">
                <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black;">{{'Languagesettings' | translate}}</ion-title>
            </div>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content>
    <ion-item class="checkbox-item" *ngFor="let lng of languages"  (click)="select(lng.value)">
        <ion-avatar slot="start">
            <img [src]="lng.img" />
        </ion-avatar>
        <ion-label>
            {{ lng.text }}
        </ion-label>
       
        <ion-icon slot="end" name="checkmark" *ngIf="lng.value === selected"></ion-icon>
    </ion-item>




</ion-content>