<ion-header>
    <!-- <ion-toolbar class="new-background-color">
    <ion-title login-page-text>Congratulations!</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
    <ion-card></ion-card>
    <br>
    <br>
    <br>
    <br>
    <ion-card style="    border-radius: 15px;    background: #ACCCFF;">
        <ion-card-header>
            <ion-card-title style="text-align: center;    color: black; font-size: 20px; font-weight: 600;">Password reset email sent successfully.</ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ion-row style="justify-content: center;">
                <img style="width: 50%; height: 50%;" src="../../assets/img/gmail.png" />
            </ion-row>
            <br/>
            <ion-row style="text-align:center;">
                <ion-col style="text-align: center;">
                    <h1 style="color: black;">Check Your Email</h1>
                </ion-col>
            </ion-row>
            <br/>
            <ion-row>
                <h2 style="    color: black;">Please check the email address for instructions to reset your password.</h2>
            </ion-row>
            <ion-row></ion-row>
            <!-- <ion-row style="    margin-top: 10%;">
        <ion-button login-page-text class="custom-button" (click)="goto_ResendEmail()" >Resend email</ion-button>
      </ion-row> -->
            <ion-row style="    margin-top: 10%;">
                <ion-button login-page-text class="custom-button" (click)="goto_Login()">Go to login</ion-button>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>