<ion-content>
    <form>
        <ion-row style="padding: 20px;font-size: 20px; font-family: sans-serif;font-weight: 600;
text-align: center; margin-top: 10%; color: #0d70df;">


        </ion-row>


        <ion-row style="padding: 20px;font-size: 20px; font-family: sans-serif;font-weight: 600;
        text-align: center; margin-top: 10%; color: #0d70df;">


        </ion-row>



        <ion-row style="padding: 20px;font-size: 20px; font-family: sans-serif;font-weight: 600;
                text-align: center; margin-top: 10%; color: #0d70df;">


        </ion-row>

        <ion-row>
            <ion-col size="12">

                <img alt="" src="\assets\img\webappNav.png">

            </ion-col>
        </ion-row>

        <br>

        <ion-row style="padding: 20px;font-size: 18px;font-family: sans-serif;margin-top: -15%;font-weight: 600;">
            <ion-col>
                <p style="text-align: center;">Log on to web application to send invite mail to candidate .</p>


            </ion-col>

        </ion-row>
        <ion-row style="font-size: 20px;font-family: sans-serif;
text-align: center;font-weight: 600;">
            <ion-col>
                <ion-button class="search-button" style="
  font-size: 17px;" (click)="home()">Home</ion-button>


            </ion-col>

        </ion-row>

    </form>
</ion-content>