@font-face {
    font-family: Mr-eaves;
    src: url(../../assets/fonts/mreavesxl/MrEavesXLModOT-Heavy.ttf);
  }
  
  @font-face {
    font-family: alina-sans;
    src: url(../../assets/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf);
  }
  ion-content {
      --background: url('../../assets/img/06_Welcome screen.png')  ;
      background-size: cover;
      --background: #edf1fc;
    }
    ion-card-header.ios {
        display: flex;
        flex-flow: column-reverse;
      } 
    .filter-button {
      margin-left: 8px;
    }
    .footer-nav {
      position: fixed;
      bottom: 0;
      z-index: 10;
      width: 97%;
      height: 8vh;
      /* set the height to 8% of the viewport height */
      background: #112e5b;
      display: flex;
      padding: 19px;
      margin: 0px 10px 10px 10px;
      justify-content: space-around;
      border-radius: 30px;
      align-items: center;
      padding: 0 10px;
  }
  
  .footer-nav button {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: aliceblue;
      font-size: 14px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
  }
  
  .footer-nav button ion-icon {
      font-size: 20px;
      margin-bottom: 5px;
  }
  
  .footer-nav button.selected {
      color: #FF9E3F;
      border-radius: 50%;
  }
    
    /* Set the padding at the bottom of the ion-content to the height of the footer */
    ion-content {
      --ion-safe-area-bottom: 8vh; /* set the safe area bottom to 8% of the viewport height */
    }
  .display-justify{
    display: flex;
    justify-content: center;
    padding: 20px 10px; 
} 
.line-with-text .hr1 {
    flex: 1;
    border: none;
    border-top: 1px solid #ccc;
    margin-left: 10px;
    margin-right: 10px;
} 
ion-avatar{
  width: 35%;
}
.ion-item{
    margin: 5px 0px 25px;
    --background: #ffffff;
    border-radius: 50px;
    box-shadow: 0px 13px 24px #00000026;
    --min-height: 65px;
}
.list-md {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    background: transparent;
}
::ng-deep .blue-toast {
  --background: rgb(73, 173, 212);
  color: white;
}