 <ion-header style="background-color: #203864;">
  <ion-toolbar color="#203864">
    <ion-back-button slot="start" style="color:#ffffff" defaultHref="/"text=""></ion-back-button>
    <ion-title class="ion-text-start" style="color:#ffffff">Reset Password</ion-title>
  </ion-toolbar>
</ion-header> 
 
 
<ion-content>
  <div class="fotmtext1 ">
    <ion-row>
     <ion-col class="ion-text-start">
         <img src="./assets/img/logo.png" id="prfoileimg2">
         <h3 class="talenthead  tealntchek" >Talent Chek !</h3>
         <small  class="talenthead">Reset Your Password</small>
      </ion-col>
    
    </ion-row> 
  </div> 
   <form [formGroup]="forgotform">
   
    <div class="fotmtext1 ">
      <ion-row>
        <ion-col> 
          <ion-item class="formitem itemborder" lines="none">
            <div>
            <h6 class="talenthead">Email</h6>
            <ion-input type="text"  formControlName="email" ></ion-input>
           </div>
        </ion-item> 
        </ion-col>
      </ion-row> 
      <div *ngIf="forgotform.controls.email.hasError('required') && forgotform.controls.email.touched || forgotform.controls.email.hasError('pattern')" >
        <small style="color: #f70505;"class="errsmall">Please enter valid Email !</small>
    </div>    
          
      <ion-row>
        <ion-col style="text-align: center;" class="ion-margin-top">
          <ion-button (click)="pass_click()" class="loginbtn1" >update password </ion-button>
          </ion-col>
      </ion-row>
    </div>
    </form>
</ion-content>
