<ion-header style="background-color: white;">
    <ion-toolbar style="padding: 20px 10px 15px;">
        <ion-row style="display: flex;justify-content: space-between;">
            <div>
                <ion-icon size="large" name="arrow-back-circle-outline" style="margin-top:21%" (click)="dismiss()"></ion-icon>
            </div>
            <div style="font-family: Mr-eaves; color: black;font-weight: 600;font-size: 20px;display: flex;
        align-items: center;align-items: center;">
                {{'AddJobPost.profileVw' | translate}}
            </div>
            <div style="font-family: Mr-eaves; color: black;font-weight: 600;font-size: 30px;">
            </div>
        </ion-row>
    </ion-toolbar>
</ion-header>



<ion-content>
    <div class="display-justify">
        <div class="custom-button" *ngFor="let title of basicProfileDetails">
            <div style="display: flex; justify-content: space-between;align-items: center;">
                <div style="display: flex; justify-content: start;">
                    <!-- <ion-avatar style="width: 35%;" slot="start">
       <img src="" /> 
        </ion-avatar>  -->
                </div>
                <div style="display: flex; justify-content: center;padding: 5px;">
                    <ion-avatar slot="start" style="width: 105px; height: 105px;">
                        <img src="{{title.profilepic}}" />
                    </ion-avatar>
                </div>
                <div style="display: flex; justify-content: end;">
                </div>
            </div>
            <div style="display: flex;flex-direction: column;align-items: center;">
                <div style="font-size: 18px; font-weight: 600;">
                    {{title.username}}
                </div>
                <div style="font-size: 16px;">
                    {{title.category}}
                </div>
            </div>
        </div>
    </div>


    <div class="display-justify" *ngIf="appRecvFlag">
        <div class="custom-button-details">
            <div style="display: flex; justify-content: flex-start;align-items: center;">
                <p style="font-size: 16px;font-weight: bold;color: #3F51B5;">{{'AddJobProfile.jobPref' | translate}}</p>
            </div>
            <div>
                <div class="contact-details">
                    <ion-row class="talentrow">
                        <ion-col size="12" style="border-bottom: 1px solid #A3A4A5">
                            <ion-label><b>{{'ViewJobProfile.jobtitle' | translate}} :</b> {{jobSeekList?.industryname}}</ion-label>
                        </ion-col>
                        <ion-col size="12" style="border-bottom: 1px solid #A3A4A5;">
                            <ion-label><b>{{'profilein.Job Type' | translate}} :</b> {{jobSeekList?.jobTypetext}}</ion-label>
                        </ion-col>
                        <ion-col size="12" style="border-bottom: 1px solid #A3A4A5;">
                            <ion-label><b>{{'AddJobProfile.skill' | translate}} : </b>{{jobSeekList?.skillstext}}</ion-label>
                        </ion-col>
                        <ion-col size="12" style="border-bottom: 1px solid #A3A4A5;">
                            <ion-label><b>{{'AddJobProfile.workExp' | translate}} :</b>{{jobSeekList?.jobExperience}} {{jobSeekList?.jobExperienceFormat}} {{'JobAppliRec.relExp' | translate}} </ion-label>
                        </ion-col>
                        <ion-col size="12" style="border-bottom: 1px solid #A3A4A5;">
                            <ion-label><b>{{'PersonalInformation.languagesknown' | translate}}:</b> {{jobSeekList?.reqLanguagestext}}</ion-label>
                        </ion-col>

                        <ion-col size="12" style="border-bottom: 1px solid #A3A4A5;">
                            <ion-label><b>{{'ViewJobProfile.relocWill' | translate}}:</b> {{jobSeekList?.relocatewill}}</ion-label>
                        </ion-col>

                        <ion-col size="12" style="border-bottom: 1px solid #A3A4A5;">
                            <ion-label><b>{{'ViewJobProfile.travelWill' | translate}}:</b> {{jobSeekList?.travelwill}}</ion-label>
                        </ion-col>

                        <ion-col size="12" style="border-bottom: 1px solid #A3A4A5;">
                            <ion-label><b>{{'ViewJobProfile.salExp' | translate}}</b> {{jobSeekList?.jobSalaryFrom}} - {{jobSeekList?.jobSalaryTo}} {{jobSeekList?.jobSalaryCurrency}} {{jobSeekList?.jobSalaryFrequency}}
                            </ion-label>
                        </ion-col>

                    </ion-row>
                </div>
            </div>

        </div>
    </div>


    <div class="display-justify" *ngIf="bidsRecvFlag">
        <div class="custom-button-details">
            <div style="display: flex; justify-content: flex-start;align-items: center;">
                <p style="font-size: 16px;font-weight: bold;color: #3F51B5;">{{'Bidder Details' | translate}}</p>
            </div>
            <div>
                <div class="contact-details">
                    <ion-row class="talentrow">
                        <ion-col size="12" style="border-bottom: 1px solid #A3A4A5;">
                            <ion-label><b>{{'AddJobProfile.workExp' | translate}} :</b>{{bidDetails?.idealExperienceNo}} {{bidDetails?.idealExperiencFormat}} {{'JobAppliRec.relExp' | translate}} </ion-label>
                        </ion-col>

                        <ion-col size="12" style="border-bottom: 1px solid #A3A4A5;">
                            <ion-label><b>{{'AddJobProfile.skill' | translate}} : </b>{{bidDetails?.impSkill}}</ion-label>
                        </ion-col>


                        <ion-col size="12" style="border-bottom: 1px solid #A3A4A5;">
                            <ion-label><b>{{'Expecting' | translate}} : </b>{{bidDetails?.salaryBudgetFrom}} {{bidDetails?.salaryBudgetTo}} {{bidDetails?.salaryBudgetCurrency}} {{bidDetails?.salaryBudgetFrequency}}</ion-label>
                        </ion-col>

                        <ion-col size="12" style="border-bottom: 1px solid #A3A4A5;">
                            <ion-label><b>{{'Bids' | translate}} : </b>
                                <p [innerHtml]="bidDetails?.bidContent"> </p>
                            </ion-label>
                        </ion-col>



                    </ion-row>
                </div>
            </div>

        </div>
    </div>

    <div class="display-justify">
        <div class="custom-button-details" *ngFor="let title of basicProfileDetails">
            <div style="display: flex;flex-direction: column;align-items: flex-start;">
                <div style="display: flex;justify-content: center;align-items: flex-start;flex-direction: column;">
                    <div style="font-size: 16px; font-weight: 800;color: #3F51B5">{{'JobSearch.location' | translate}}</div>
                    <div style="color:gray;font-size: 14px;">
                        {{title.userlocation}}
                    </div>
                    <div style="font-size: 16px; font-weight: 800;color: #3F51B5">{{'phoneNo' | translate}}</div>
                    <div style="color:gray;font-size: 14px;">
                        {{title.phone}}
                    </div>
                    <div style="font-size: 16px; font-weight: 800;color: #3F51B5">{{'email' | translate}}</div>
                    <div style="color:gray;font-size: 14px;">
                        {{title.email}}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="display-justify">
        <div class="custom-button-details" *ngFor="let title of basicProfileDetails">
            <div *ngIf="title.about != '' ">
                <div style="font-size: 16px; font-weight: 800;color: #3F51B5">
                    {{'about' | translate}}
                </div>
                <div style="font-size: 13px;">
                    {{title.about}}
                </div>
            </div>
            <div *ngIf="title.languages != '' ">
                <div style="font-size: 16px; font-weight: 800;color: #3F51B5">
                    {{'Languages' | translate}}
                </div>
                <div style="font-size: 13px;">
                    {{title.languages}}
                </div>
            </div>
            <div *ngIf="title.hobbies != ''">
                <div style="font-size: 16px;font-weight: 800; color: #3F51B5">
                    {{'Hobbies & Interests' | translate}}
                </div>
                <div style="font-size: 13px;">
                    {{title.hobbies}}
                </div>
            </div>
        </div>
    </div>


    <!-- WORK EXPERIENCE -->
    <div class="display-justify" *ngIf="experienceList.length != 0">
        <div class="custom-button-details">
            <div style="display: flex; justify-content: flex-start;align-items: center;">
                <p style="font-size: 16px;font-weight: bold;color: #3F51B5;">{{'AddJobProfile.workExp' | translate}}</p>
            </div>
            <div>
                <div class="contact-details" *ngFor="let exp of experienceList">
                    <div style="color: black;font-weight: bold;">
                        {{exp.designation}}
                    </div>
                    <div style="color:gray;font-size: 12px;">{{exp.organisationName}}</div>
                    <div style="color:gray;font-size: 12px;">{{exp.expStart}} - {{exp.expEnd}}</div>

                    <div style="text-align: start;margin: 0px px 0px -3px;" *ngIf="exp.status=='Verified Experience' || exp.status=='In Notice Period'">
                        <div style="font-size: 12px;" class="badge badge-solid-green">{{exp.status}}</div>
                    </div>
                    <div style="text-align: start;margin: 0px px 0px -3px;" *ngIf="exp.status=='Fake Experience' || exp.status=='Absconded from Work' || exp.status=='Fired' || exp.status=='Information Mismatch' || exp.status=='Unverified'">
                        <div style="font-size: 12px;" class="badge badge-solid-red">{{exp.status}}</div>
                    </div>
                    <div style="text-align: start;margin: 0px px 0px -3px;" *ngIf="exp.status=='Verification Pending'">
                        <div style="font-size: 12px;" class="badge badge-solid-blue">{{exp.status}}</div>
                    </div>

                    <div style="color:gray;font-size: 12px;">
                        {{exp.orgLocation}}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- EDUCATION -->
    <div class="display-justify" *ngIf="educationList.length != 0">
        <div class="custom-button-details">
            <div style="display: flex; justify-content: flex-start;align-items: center;">
                <p style="font-size: 16px;font-weight: bold;color: #3F51B5;">{{'profilein.Education' | translate}}</p>
            </div>
            <div class="contact-details" *ngFor="let edu of educationList">
                <div style="color: black;font-weight: bold;">
                    {{edu.institutionName}}
                </div>
                <div style="color:gray;font-size: 12px;">{{edu.fieldofStudy}}</div>
                <p style="color:gray;font-size: 12px;">
                    {{edu.courseStart}}</p>

                <div style="text-align: start;margin: 0px px 0px -3px" *ngIf="edu.status=='Verified Experience' || edu.status=='In Notice Period'">
                    <div style="font-size: 12px;" class="badge badge-solid-green">{{edu.status}}</div>
                </div>
                <div style="text-align: start;margin: 0px px 0px -3px" *ngIf="edu.status=='Fake Experience' || edu.status=='Absconded from Work' || edu.status=='Fired' || edu.status=='Information Mismatch' || edu.status=='Unverified'">
                    <div style="font-size: 12px;" class="badge badge-solid-red">{{edu.status}}</div>
                </div>
                <div style="text-align: start;margin: 0px px 0px -3px" *ngIf="edu.status=='Verification Pending'">
                    <div style="font-size: 12px;" class="badge badge-solid-blue">{{edu.status}}</div>
                </div>
                <div style="color:gray;font-size: 12px;">
                    {{edu.institutionLocation}}
                </div>
                <div style="font-size: 14px;" innerHtml="{{edu.eduDescription}}">
                </div>
                <div class="line-with-text" style="margin-bottom: 15px;">
                    <hr class="hr1">
                </div>
            </div>
        </div>
    </div>
    <!-- PATENTS, PUBLICATIONS & CERTIFICATIONS -->

    <div class="display-justify" *ngIf="certificationsList.length != 0">
        <div class="custom-button-details">
            <div style="display: flex; justify-content: flex-start;align-items: center;">
                <p style="font-size: 16px;font-weight: bold;color: #3F51B5;">{{'Patents,publications,certifications' | translate}}</p>
            </div>
            <div style="margin-bottom: 15px;" *ngFor="let ppc of certificationsList">
                <div style="color:rgb(0, 0, 0);font-size: 15px;font-weight: bold;"> {{ppc.certificationName}}</div>
                <div style="color:gray;font-size: 12px;"> {{ppc.issuedBy}}</div>
            </div>
        </div>
    </div>

    <!-- CLUBS & VOLUNTEER WORK -->
    <div class="display-justify" *ngIf="clubsList.length != 0">
        <div class="custom-button-details">
            <div style="display: flex; justify-content: flex-start;align-items: center;">
                <p style="font-size: 16px;font-weight: bold;color: #3F51B5;">{{'clubs & volunteer' | translate}}</p>
            </div>
            <div style="margin-bottom: 15px;" *ngFor="let club of clubsList">
                <p style="color:rgb(0, 0, 0);font-size: 15px;font-weight: bold; margin-bottom: 5px; "> {{club.clubName}}</p>

                <div style="color:gray;font-size: 12px;">{{club.titleHeld}}</div>
                <div style="margin: 10px 0px;color:gray;font-size: 12px;">{{club.participatedFrom}}</div>
                <div style="text-align: start;margin: -10px 0px 5px -3px;" *ngIf="club.status">
                    <div style="font-size: 12px;" class="badge badge-solid-cyan">{{club.status}}</div>
                </div>
                <div style="font-size: 14px;" innerHtml="{{club.rolePlayed}}"></div>


            </div>
        </div>
    </div>



    <div class="display-justify" *ngIf="appRecvFlag">
        <ion-button class="apply-button" (click)="Apply()">{{'Invite to Interview' | translate}}</ion-button>
    </div>

    <div class="display-justify" *ngIf="bidsRecvFlag">
        <ion-button class="apply-button" (click)="Apply()">{{'Invite to Interview' | translate}}</ion-button>
    </div>




</ion-content>