<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-row>

            <ion-col size="0.5">

            </ion-col>
            <ion-col size="2">
                <ion-icon size="large" name="arrow-back-circle-outline" (click)="profileView()" style="margin-top:21%"></ion-icon>
            </ion-col>

            <ion-col size="7">
                <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black; margin-top: 7%;">Additional Info</ion-title>
            </ion-col>
        </ion-row>




    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="additionalform">

        <ion-card-content>
            <ion-row>
                <ion-col size="12">
                    <!-- <ion-title style="color:black;">Additional Information</ion-title> -->
                    <!-- <ion-sub-title style="color:gray;margin-left: 20px;font-size:20px">Fill out your Permanent Address </ion-sub-title> -->

                </ion-col>

            </ion-row>

            <ion-row class="talentrow">
                <ion-col>
                    <!-- <div class="button-content">
                  <ion-label class="labels">Address <small style="color: #f70505;">*</small></ion-label>
                  
                  <ion-item fill="outline" class="input-field">
                      <ion-textarea formControlName="permAddress"></ion-textarea>
                  </ion-item>
                  </div> -->
                    <div class="button-content">
                        <ion-label class="labels">Country</ion-label>
                        <ion-item fill="outline" class="input-field">
                            <div class="selected-skill">{{ selecteCountry }}
                                <ion-icon *ngIf="selecteCountry != undefined && selecteCountry != ''" name="close-circle" (click)="removeOrganisation(institutionName)"></ion-icon>
                            </div>


                            <ion-input warp="soft" (ionInput)="onSearchCountry($event.target.value)" [formControl]="searchCtrl"></ion-input>
                        </ion-item>

                        <ion-list *ngIf="IsSearchListShow">
                            <ion-item *ngFor="let result of searchCountryResults" (click)="selectCountry(result.text,result.id)">
                                {{ result.text }}
                            </ion-item>
                        </ion-list>

                    </div>
                    <div class="button-content">
                        <ion-label class="labels">State</ion-label>
                        <ion-item fill="outline" class="input-field">
                            <ion-select placeholder="Select State" formControlName="permstate" (ionChange)="goTostateSelectedItem($event.target.value)">
                                <ion-select-option *ngFor="let sElement of stateResponse" [value]="sElement.id">
                                    {{sElement.text}}</ion-select-option>

                            </ion-select>

                        </ion-item>
                    </div>
                    <div class="button-content">
                        <ion-label class="labels">City</ion-label>
                        <ion-item fill="outline" class="input-field">

                            <ion-select placeholder="Select fruit" formControlName="permCity">
                                <ion-select-option *ngFor="let ciElement of cityOptions" [value]="ciElement.id">
                                    {{ciElement.text}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </div>
                    <div class="button-content">
                        <ion-label class="labels">Postal Code</ion-label>
                        <ion-item fill="outline" class="input-field">
                            <ion-input formControlName="permPinCode"></ion-input>
                        </ion-item>
                    </div>




                </ion-col>
            </ion-row>
            <!-- <ion-sub-title style="color:gray;    margin-left: 20px;font-size:20px">Fill out your Additional Info</ion-sub-title> -->
            <div class="button-content">
                <ion-label class="labels">Blood Group</ion-label>
                <ion-item fill="outline" class="input-field">
                    <ion-select placeholder="Select Blood Group" formControlName="bloodgroup">

                        <ion-select-option value="A+">A+</ion-select-option>
                        <ion-select-option value="A-">A-</ion-select-option>
                        <ion-select-option value="B+">B+</ion-select-option>
                        <ion-select-option value="B-">B-</ion-select-option>
                        <ion-select-option value="O+">O+</ion-select-option>
                        <ion-select-option value="O-">O-</ion-select-option>
                        <ion-select-option value="AB+">AB+</ion-select-option>
                        <ion-select-option value="AB-">AB-</ion-select-option>
                    </ion-select>
                </ion-item>
            </div>
            <div class="button-content">
                <ion-label class="labels">Mother Tongue</ion-label>

                <ion-item fill="outline" class="input-field">
                    <ion-select placeholder="Select Mother Tongue" formControlName="mothertongue" style="background-color: white;">
                        <ion-select-option *ngFor="let topping of languageList" [value]="topping.id">{{topping.text}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>

            </div>
            <!-- <div class="button-content">
                  <ion-label class="labels">Languages Known</ion-label>
                  <ion-item fill="outline" class="input-field">
                      <ion-select placeholder="Select Languages Known"multiple="true"   formControlName="languagesknown" style="background-color: white;">
                       
                        <ion-select-option *ngFor="let topping of languageList" [value]="topping.id">{{topping.text}}
                        </ion-select-option>
                      </ion-select>
                    </ion-item>
                  </div> -->
            <!-- <div class="button-content">
                      <ion-label class="labels">Hobbies</ion-label>
                    
                          <ion-item fill="outline" class="input-field">
                            <ion-select placeholder="Select Hobbies"multiple="true"  formControlName="hobbies" style="background-color: white;">
                              <ion-select-option *ngFor="let hobby of hobbyList " [value]="hobby.id">
                                {{hobby.text}}
                            </ion-select-option>
                            </ion-select>
                          </ion-item>
                      
                      </div> -->
            <div class="button-content">
                <ion-label class="labels">Tax No(optional)</ion-label>
                <ion-item fill="outline" class="input-field">
                    <ion-input formControlName="taxno"></ion-input>
                </ion-item>
            </div>
            <div class="button-content">
                <ion-label class="labels">Nationality</ion-label>
                <ion-item fill="outline" class="input-field">
                    <ion-select placeholder="Select Nationality" formControlName="nationality" style="background-color: white;">
                        <ion-select-option *ngFor="let nationality of nationalityList" [value]="nationality.id">
                            {{nationality.text}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </div>
            <div class="button-content" style="width: 50%;
                              margin: auto;">
                <ion-button color="primary" fill="outline" (click)="save()">Save</ion-button>
            </div>


        </ion-card-content>

    </form>



</ion-content>


<div class="footer-nav">
    <button [ngClass]="{'selected': selectedTab === 'search'}" (click)="setSelectedTab('search');">
    <ion-icon size="large" name="search-circle"></ion-icon>
  </button>
    <button [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth')">
    <ion-icon size="large" name="earth-sharp"></ion-icon>
  </button>
    <button [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps')">
    <ion-icon size="large" name="apps"></ion-icon>
  </button>
    <button [ngClass]="{'selected': selectedTab === 'profile'}" (click)="setSelectedTab('profile')">
    <ion-icon size="large" name="person-circle-sharp"></ion-icon>
  </button>
    <button [ngClass]="{'selected': selectedTab === 'menu'}" (click)="setSelectedTab('menu')">
    <ion-icon size="large" name="ellipsis-vertical-circle-sharp"></ion-icon>
  </button>
</div>