<!-- <ion-header>
    <ion-toolbar class="new-background-color">

        <ion-row>
            <ion-col size="12">

            </ion-col>

        </ion-row>

        <ion-row>

            <ion-col size="0.5">

            </ion-col>
            <ion-col size="2">
                <ion-icon size="large" name="arrow-back-circle-outline" (click)="go_back()"></ion-icon>
            </ion-col>

            <ion-col size="9">
                <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black; ">{{'registrationHeader' | translate}}</ion-title>
            </ion-col>
        </ion-row>



    </ion-toolbar>
</ion-header> -->


<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-buttons slot="start">
            <ion-button (click)="go_back()">
                <ion-icon size="large" style="    color: black;" name="arrow-back-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="text-align: center;font-family: Mr-eaves; color: black;">{{'registrationHeader' |
            translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>

    <!-- <ion-row>

        <ion-col>
            <br>
            <br>
            <br>
            <br>
        </ion-col>
    </ion-row> -->

    <ion-row>
        <div class="ag-format-container">
            <div class="hello-dear">
                <ion-buttons style="padding-top:10px">
                    <ion-button (click)="openLanguagePopOver($event)" style="color: black;">
                        <img [src]="languageService.selectedLang.img" height="30px" style="padding-right:5px"
                            slot="start" alt="flag">{{languageService.selectedLang.text}}
                        <!-- <ion-icon name="ellipsis-vertical-outline"></ion-icon> -->
                    </ion-button>
                </ion-buttons>
            </div>

            <div class="ag-courses_box">

                <div style="width: 100%;" class="line-with-text">
                    <br>
                    <img style="max-width: 47%;padding: 12px;" src="../../assets/img/tc_logo_with_text.png"
                        (click)="setSelectedTab('apps')">
                    <br>

                </div>

                <div class="ag-courses_item">
                    <a class="ag-courses-item_link" (click)="individualRegister()">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            {{'individualRegistration' | translate}}
                        </div>

                        <ion-row class="ag-courses-item_date-box">

                            <ion-col size="2">
                                <ion-icon size="large" style="color: #568FEA;" name="person-sharp"></ion-icon>
                            </ion-col>
                            <ion-col size="10">
                                {{'indDesc' | translate}}
                            </ion-col>


                        </ion-row>


                        <!-- <div class="ag-courses-item_date-box">
                            For anyone and everyone who would like to maintain a verified portfolio

                        </div> -->
                    </a>
                </div>



                <div class="ag-courses_item">
                    <a class="ag-courses-item_link" (click)="organizationRegister()">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            {{'orgRegistration' | translate}}
                        </div>
                        <ion-row class="ag-courses-item_date-box">

                            <ion-col size="2">
                                <ion-icon size="large" style="color: #FA7070;" name="business-sharp"></ion-icon>
                            </ion-col>
                            <ion-col size="10">
                                {{'orgDesc' | translate}}
                                <br><br>
                            </ion-col>
                            <br>

                        </ion-row>
                        <!-- <div class="ag-courses-item_date-box">
                            For startups, corporates ,clubs and associations
                        </div> -->
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a class="ag-courses-item_link" (click)="institutionRegister()">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            {{'institutionRegistration' | translate}}
                        </div>

                        <ion-row class="ag-courses-item_date-box">

                            <ion-col size="2">
                                <ion-icon size="large" style="color: #707070;" name="school-sharp"></ion-icon>
                            </ion-col>
                            <ion-col size="10">
                                {{'instiDesc' | translate}}
                                <br><br>
                            </ion-col>
                            <br>
                        </ion-row>

                        <!-- <div class="ag-courses-item_date-box">
                            For schools, colleges, universities and training institutes
                        </div> -->
                    </a>
                </div>
            </div>
        </div>

    </ion-row>


    <div class="line-with-text">
        <hr class="hr1">
        <span class="or-text">{{'Login.or' | translate}}</span>
        <hr class="hr2">
    </div>

    <div class="sign-in">
        <div style="font-size: 16px;padding-left: 25px;">{{'Already a Talentchek member?' | translate}} </div><span
            style="font-size: 18px;padding-right: 25px;">&nbsp;<b> <a (click)="goto_login()">{{'sign_in' | translate}}
                </a></b></span>
    </div>

</ion-content>