<ion-header>
    <ion-toolbar>
        <ion-title style="text-align: center;
        font-family: 'Mr-eaves';
        font-size: 28px;">{{'KmPortal.home' | translate}}</ion-title>
    </ion-toolbar>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" id="my-content">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <form>
        <div class="display-justify">
            <ion-row class="container">
                <ion-col size="6">
                    <ion-card class="recharge-card" (click)="goto_subscribe()">
                        <ion-card-content>
                            <p style="text-align: center;font-size: 16px; color: #fff;"> {{'Available' | translate}}</p>
                            <p style="text-align: center;font-size: 18px; color: #fff; font-weight: 700;">{{'Subscription.talCrd' | translate}}</p>

                            <div class="card-content p-0 flex">
                                <div class="spinningasset coin is-sm">
                                    <div>
                                        <em></em>
                                        <em></em>
                                    </div>
                                </div>
                                <div class="ml-2" style="text-align: center;font-weight: bolder;font-size: 26px;color: #fff;">
                                    {{creditPoints}}
                                </div>
                            </div>
                            <br>
                            <p style="text-align: center;font-size: 14px; color: #fff;"><b>{{'Recharge Now' | translate}}</b></p>

                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <div>
                    <ion-col size="3">
                        <div class="custom-button">
                            <div style="display: flex; align-items: center;">
                                {{'Profile Views' | translate}}<b>: {{profileViewCount}}</b></div>
                        </div>
                    </ion-col>
                    <ion-col size="3">
                        <div class="custom-button">
                            <div style="display: flex; align-items: center;">
                                {{'Your Rating' | translate}}:<b>&nbsp; {{oniRating }}</b><span class="fa fa-star checked"></span></div>
                        </div>
                    </ion-col>
                </div>
            </ion-row>
        </div>




        <div class="line-with-text">
            <hr class="hr1">
        </div>

        <div *ngFor=" let count of orgCountList">
            <div class="ag-courses_item">
                <a class="ag-courses-item_link" (click)="viewList('applicants','Hiring - Applicants')">
                    <div class="ag-courses-item_bg"></div>
                    <br>
                    <ion-row class="ag-courses-item_date-box">
                        <ion-col size="3">
                            <img src="../../assets/img/applicants.png">
                        </ion-col>
                        <ion-col size="3">
                            <div style="font-size: 35px;
                      text-align: center;">
                                <b>{{count.applicants}}</b></div>
                        </ion-col>
                        <ion-col size="6">
                            <div style="text-align: end;font-size: 21px;">
                                <b>{{'Applications' | translate}}</b></div>
                        </ion-col>
                    </ion-row>
                </a>
            </div>




            <div class="ag-courses_item">
                <a class="ag-courses-item_link" (click)="viewmatchesList()">
                    <div class="ag-courses-item_bg"></div>
                    <br>
                    <ion-row class="ag-courses-item_date-box">
                        <ion-col size="3">
                            <img src="../../assets/img/matched profiles.png">
                        </ion-col>
                        <ion-col size="3">
                            <div style="font-size: 35px;
                    text-align: center;">
                                <b>{{count.matchedProfiles}}</b></div>
                        </ion-col>
                        <ion-col size="6">
                            <div style="text-align: end;font-size: 21px;">
                                <b>{{'JobPostInsti.matchedProf' | translate}}</b></div>
                        </ion-col>
                    </ion-row>
                </a>
            </div>


            <div class="ag-courses_item">
                <a class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>
                    <br>
                    <ion-row class="ag-courses-item_date-box">
                        <ion-col size="3">
                            <img src="../../assets/img/connections.png">
                        </ion-col>
                        <ion-col size="3">
                            <div style="font-size: 35px;
                        text-align: center;">
                                <b>{{count.connections}}</b></div>
                        </ion-col>
                        <ion-col size="6">
                            <div style="text-align: end;font-size: 21px;">
                                <b>{{'profileorg.Connections' | translate}}</b></div>
                        </ion-col>
                    </ion-row>
                </a>
            </div>




            <div class="ag-courses_item" (click)="viewList('referrals','Network - Referrals')">
                <a class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>
                    <br>
                    <ion-row class="ag-courses-item_date-box">
                        <ion-col size="3">
                            <img src="../../assets/img/referrals.png">
                        </ion-col>
                        <ion-col size="3">
                            <div style="font-size: 35px;
                      text-align: center;">
                                <b>{{count.referrals}}</b></div>
                        </ion-col>
                        <ion-col size="6">
                            <div style="text-align: end;font-size: 21px;">
                                <b>{{'Referrals' | translate}}</b></div>
                        </ion-col> 
                    </ion-row>
                </a>
            </div>

            <div class="display-justify-butterfly">
                <ion-row class="butterfly-container">
                    <div>
                        <ion-col size="2" (click)="viewList('verifiedCurrentEmp','Current Employees - Verified')">
                            <div class="custom-buttryfly-left1">
                                <ion-row style="font-size: 34px;"><b>{{count.verifiedCurrentEmp}}</b></ion-row>
                                <ion-row style="font-size: 15px;"><b>{{'ProfileIndividual.verified' | translate}}</b></ion-row>
                                <ion-row style="font-size: 14px; color:#FA7070">{{'Current Employees' | translate}}</ion-row>
                            </div>
                        </ion-col>
                        <ion-col size="2" (click)="viewList('verifiedExEmp','Ex-Employees - Verified')">
                            <div class="custom-buttryfly-left2" style="    display: flex;
                            align-items: flex-start;
                            flex-direction: column;
                            justify-content: center;">

                                <ion-row style="font-size: 14px; color:#FA7070">{{'Ex-Employees' | translate}}</ion-row>
                                <ion-row style="font-size: 15px;"><b>{{'ProfileIndividual.verified' | translate}}</b></ion-row>
                                <ion-row style="font-size: 34px;"><b>{{count.verifiedExEmp}}</b></ion-row>
                            </div>
                        </ion-col>
                    </div>
                    <img width="15%" src="../../assets/img/students.png">
                    <div>
                        <ion-col size="2" (click)="viewList('pendingCurrentEmp','Current Employees - Pending Approval')">
                            <div class="custom-buttryfly-right1">
                                <ion-row style="    display: flex;
                                font-size: 34px;
                                justify-content: flex-end;"><b>&nbsp;&nbsp;{{count.pendingCurrentEmp}}</b></ion-row>
                                <ion-row style="font-size: 15px;justify-content: flex-end;"><b>&nbsp;{{'Pending Approval' | translate}}</b></ion-row>
                                <ion-row style="    font-size: 14px;
                                color:#FA7070;
                                display: flex;
                                justify-content: flex-end;">{{'Current Employees' | translate}}</ion-row>
                            </div>
                        </ion-col>
                        <ion-col size="2" (click)="viewList('pendingExEmp','Ex-Employees - Pending Approval')">
                            <div class="custom-buttryfly-right2" style="    display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-end;">

                                <ion-row style="font-size: 14px; color:#FA7070;    display: flex;
                                justify-content: flex-end;">{{'Ex-Employees' | translate}}</ion-row>
                                <ion-row style="font-size: 15px;"><b>&nbsp;{{'Pending Approval' | translate}}</b></ion-row>
                                <ion-row style="font-size: 34px;"><b>&nbsp;&nbsp;{{count.pendingExEmp}}</b></ion-row>
                            </div>
                        </ion-col>
                    </div>
                </ion-row>
            </div>

        </div>
    </form>

</ion-content>







<div class="footer-nav">
    <button [ngClass]="{'selected': selectedTab === 'search'}" (click)="setSelectedTab('search');goto_profileSearch();">
<ion-icon size="large" name="search-circle"></ion-icon>
</button>
    <button [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth');goto_jobs();">
<ion-icon size="large" name="earth-sharp"></ion-icon>
</button>
    <button [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps');goto_home();">
<img style="max-width: 67%;" src="../../assets/img/faviconcircle.png" (click)="setSelectedTab('apps')">    

</button>
    <button [ngClass]="{'selected': selectedTab === 'profile'}" (click)="setSelectedTab('profile');goto_profile();">
<ion-icon size="large" name="person-circle-sharp"></ion-icon>
</button>
    <button [ngClass]="{'selected': selectedTab === 'menu'}" (click)="setSelectedTab('menu');goto_more();">
<ion-icon size="large" name="ellipsis-vertical-circle-sharp"></ion-icon>

</button>
</div>