<!-- <ion-header>
    <ion-toolbar class="new-background-color">
        <ion-row>
            <ion-col size="0.5">
            </ion-col>
            <ion-col size="2" *ngIf="RoleID.includes('1')">
                <ion-icon size="large" name="arrow-back-circle-outline" (click)="goto_profileView()" style="margin-top:21%"></ion-icon>
            </ion-col>
            <ion-col size="2" *ngIf="RoleID.includes('2')">
                <ion-icon size="large" name="arrow-back-circle-outline" (click)="newOrgprofileView()" style="margin-top:21%"></ion-icon>
            </ion-col>
            <ion-col size="2" *ngIf="RoleID.includes('3')">
                <ion-icon size="large" name="arrow-back-circle-outline" (click)="newInstiprofileView()" style="margin-top:21%"></ion-icon>
            </ion-col>
            <ion-col size="7">
                <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black; margin-top: 7%;">{{'profilein.Add Connection' | translate}}</ion-title>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header> -->

<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-buttons slot="start" *ngIf="RoleID.includes('1')">
            <ion-button (click)="goto_profileView()">
                <ion-icon size="large" style="    color: black;" name="arrow-back-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start" *ngIf="RoleID.includes('2')">
            <ion-button (click)="newOrgprofileView()">
                <ion-icon size="large" style="    color: black;" name="arrow-back-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start" *ngIf="RoleID.includes('3')">
            <ion-button (click)="newInstiprofileView()">
                <ion-icon size="large" style="color: black;" name="arrow-back-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="!edit" style="text-align: center;font-family: Mr-eaves; color: black;">{{'profilein.Add
            Connection' | translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" id="my-content">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <form [formGroup]="ConnectionsForm">

        <ion-card-content>
            <!-- <ion-row>
          <ion-col size="8">
              <ion-title style="color:black; margin-left: -5%;">Connections</ion-title>
          </ion-col>
           <ion-col size="2">
              <ion-icon style="color:#ACCCFF;" size="large" name="duplicate"></ion-icon>
          </ion-col>
      </ion-row> -->

            <!-- <ion-row class="talentrow" style="display: flex;" style="column-count: 2">
          <ion-col size="6">
              <div class="row">
                  <h5>2</h5>
                  <small>Doctor(s)</small>
              </div>
          </ion-col>
          <ion-col size="6">
              <div class="row">
                  <h5>2</h5>
                  <small>Doctor(s)</small>
              </div>
          </ion-col>

      </ion-row> -->

            <form [formGroup]="ConnectionsForm" (ngSubmit)="onSubmit()">
                <div id="test-l-1" class="content">
                    <div class="button-content">
                        <ion-label class="labels">{{'profilein.Connection Mobile Number' | translate}} <small
                                style="color: #f70505;">*</small></ion-label>
                        <ion-item fill="outline" class="input-field">
                            <ion-input formControlName="receiverMobileNo" (keypress)="keyPressmobileNo($event)"
                                maxlength="15" (ionChange)="getconnectionDetails($event.target.value)"></ion-input>
                        </ion-item>
                        <ion-sub-title style="color:gray; font-family: poppins; ">{{'profilein.Enter the registered
                            mobile no of your connection so that we can fetch the rest of the details for you if they
                            are already registered' | translate}}</ion-sub-title>
                        <br>
                        <h6>
                            <span *ngIf="receiverRegistered" style="color: #30ae30;">{{'Connection is a registered user'
                                | translate}} :{{this.ConnectionsForm.value.receiverTalentId}} </span>
                            <span *ngIf="!receiverRegistered" style="color: #ae3030;">{{this.Message}}</span>
                        </h6>
                    </div>
                    <ion-spacer size="large"></ion-spacer><br>
                    <div class="button-content">
                        <ion-label class="labels">{{'profilein.Connection Name' | translate}} <small
                                style="color: #f70505;">*</small></ion-label>
                        <ion-item fill="outline" class="input-field">
                            <ion-input formControlName="receiverName"></ion-input>
                        </ion-item>
                    </div>

                    <div class="button-content">
                        <ion-label class="labels">{{'profilein.Connection Email ID' | translate}}<small
                                style="color: #f70505;">*</small></ion-label>
                        <ion-item fill="outline" class="input-field">
                            <ion-input formControlName="receiverEmailId"></ion-input>
                        </ion-item>
                    </div>
                    <div class="button-content">
                        <!-- <ion-label class="labels">This connection is my <small style="color: #f70505;">*</small></ion-label> -->

                        <ion-label class="labels">{{'This connection is my' | translate}} <small
                                style="color: #f70505;">*</small></ion-label>
                        <ion-item fill="outline" class="input-field">
                            <ion-select style="background-color: white;" formControlName="relationship">
                                <ion-select-option *ngFor="let tittle of relationshipList" [value]="tittle.id">
                                    {{tittle.text}}</ion-select-option>
                            </ion-select>

                        </ion-item>


                    </div>
                    <div class="button-content">
                        <ion-label class="labels">{{'profilein.Acquainted From' | translate}} </ion-label>
                        <ion-item fill="outline" class="input-field">
                            <ion-datetime formControlName="acquaintedFrom" displayFormat="MM/YYYY" presentation="date"
                                [max]="getMaxDate()"></ion-datetime>
                        </ion-item>
                    </div>
                    <div class="button-content">
                        <ion-label class="labels">{{'profilein.Acquainted Till' | translate}} </ion-label>
                        <ion-item fill="outline" class="input-field">
                            <ion-datetime formControlName="acquaintedTo" displayFormat="MM/YYYY" presentation="date"
                                [max]="getMaxDate()"></ion-datetime>
                        </ion-item>

                        <div style="    display: flex;">
                            <ion-checkbox [(ngModel)]="isChecked"
                                (ionChange)="validationForCurWorking($event.detail.checked);"
                                formControlName="currentlyAcquainted"></ion-checkbox>&nbsp;&nbsp;{{'profilein.Currently
                            acquainted' | translate}}
                        </div>

                    </div>
                    <ion-spacer size="large"></ion-spacer><br>
                    <div class="button-content">
                        <ion-label class="labels">{{'profilein.Where did you come across this connection?' | translate}}
                        </ion-label>
                        <ion-item fill="outline" class="input-field">
                            <ion-input placeholder="{{'Ex Logwiz Institute for logistics' | translate}}"
                                formControlName="relationshipAt"></ion-input>
                        </ion-item>
                    </div>

                    <div class="button-content">
                        <ion-label class="labels">{{'profilein.Is this connection your favourite?' |
                            translate}}</ion-label>
                        <ion-row>
                            <ion-label style=" font-size: 20px; ">{{'profilein.NO' | translate}}</ion-label>
                            <ion-toggle formControlName="markedFavByInitiator" [checked]="true">
                            </ion-toggle>
                            <ion-label style=" font-size: 20px; ">{{'profilein.YES' | translate}}</ion-label>

                        </ion-row>
                    </div>


                    <!-- <div class="button-content">
                                          <ion-spacer size="large"></ion-spacer><br>
                                          <ion-item fill="outline" class="input-field">
                                              <ion-textarea formControlName="markedFavByInitiator" placeholder="Remarks about the connection"></ion-textarea>
                                          </ion-item>
                                          </div> -->


                    <!-- <div class="button-content">
                                         
                                             
                                             </div> -->
                    <ion-label style="    margin-left: 4%;">{{'profilein.Rate the Connection' | translate}}</ion-label>
                    <div>
                        <ul class="list-inline rating-list" *ngFor="let star of stars"
                            style="display: inline-block;padding-inline-start: 0px;">
                            <li (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}">
                                <ion-icon name="star"></ion-icon>
                            </li>
                        </ul>
                    </div>

                    <div class="button-content">
                        <ion-label class="labels">{{'profilein.Do you want to keep this connection private?' |
                            translate}}</ion-label>
                        <ion-row>
                            <ion-label style="font-size: 20px; ">{{'profilein.NO' | translate}}</ion-label>
                            <ion-toggle [checked]="true" formControlName="markedPrivateByInitiator">
                            </ion-toggle>
                            <ion-label style="font-size: 20px;">{{'profilein.YES' | translate}}</ion-label>

                        </ion-row>
                    </div>


                    <div class="button-content" style="width: 50%;
                                        margin: auto;">
                        <div class="display-justify" *ngIf="RoleID.includes('1')">
                            <ion-button class="custom-button" (click)="save()">{{'profilein.Send Invite' |
                                translate}}</ion-button>
                        </div>
                        <div class="display-justify" *ngIf="RoleID.includes('2')">
                            <ion-button class="custom-button" (click)="orgsave()">{{'profilein.Send Invite' |
                                translate}}</ion-button>
                        </div>
                        <div class="display-justify" *ngIf="RoleID.includes('3')">
                            <ion-button class="custom-button" (click)="instisave()">{{'profilein.Send Invite' |
                                translate}}</ion-button>
                        </div>


                    </div>







                </div>
            </form>

        </ion-card-content>

    </form>


</ion-content>