<ion-header>
    <ion-toolbar class="new-background-color">

        <ion-row style="display: flex;justify-content: space-between;">
            <div>
                <ion-icon size="large" (click)="goto_orgHome()" name="arrow-back-circle-outline" style="margin-top:21%"></ion-icon>
            </div>
            <div class="ion-text-wrap" style="font-family: Mr-eaves; color: black;font-weight: 600;display: flex;
            align-items: center;text-align: center;font-size: 17px;">
                {{title}} {{'List' | translate}}
            </div>
            <div style="font-family: Mr-eaves; color: black;font-weight: 600;font-size: 30px;">
            </div>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" id="my-content">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <form>
        <div class="display-justify" *ngFor="let cElement of oniList" (click)="profileView(cElement.userid)">
            <ion-card class="adv-card">
                <ion-row>&nbsp;</ion-row>
                <ion-row>
                    <ion-col *ngIf="cElement.profileimg =='null'" size="2">
                        <ion-avatar size="small">
                            <img style="width: 50%;height: 50%;" alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                        </ion-avatar>
                    </ion-col>
                    <ion-col *ngIf="cElement.profileimg !='null'" size="2">
                        <ion-avatar size="small">
                            <img style="width: 50%;height: 50%;" alt="" src="{{cElement.profileimg}}" />
                        </ion-avatar>
                    </ion-col>
                    <ion-col size="10">
                        <ion-row>
                            <div class="b">{{cElement.username}}</div>
                        </ion-row>
                        <ion-row>
                            <div class="c">{{cElement.degortitle}}</div>
                        </ion-row>
                        <ion-row style="    padding: 6px;">

                            <div class="c-pill c-pill--danger">{{cElement.status}}</div>
                        </ion-row>
                    </ion-col>
                </ion-row>

            </ion-card>
        </div>



        <div class="display-justify" *ngFor="let aElement of applicantsList" (click)="applicantProfileView(aElement.userid)">
            <ion-card class="adv-card">
                <ion-row>&nbsp;</ion-row>
                <ion-row>
                    <ion-col *ngIf="aElement.profileimg =='null'" size="2">
                        <ion-avatar size="small">
                            <img style="width: 50%;height: 50%;" alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                        </ion-avatar>
                    </ion-col>
                    <ion-col *ngIf="aElement.profileimg !='null'" size="2">
                        <ion-avatar size="small">
                            <img style="width: 50%;height: 50%;" alt="" src="{{aElement.profileimg}}" />
                        </ion-avatar>
                    </ion-col>
                    <!-- <ion-col size="2">
                        <ion-avatar size="small">
                            <img style="width: 50%;height: 50%;" alt="" src="{{aElement.profileimg}}" />
                        </ion-avatar>
                    </ion-col> -->
                    <ion-col size="10">
                        <ion-row>
                            <div class="b">{{aElement.jobseekername}}</div>
                        </ion-row>
                        <ion-row>
                            <div class="c">{{aElement.jobtitle}}</div>
                        </ion-row>
                        <ion-row style="padding: 6px;">

                            <div class="c-pill c-pill--danger">{{aElement.status}}</div>
                        </ion-row>
                    </ion-col>


                </ion-row>

            </ion-card>
        </div>



    </form>

</ion-content>



<div class="footer-nav">
    <button [ngClass]="{'selected': selectedTab === 'search'}" (click)="setSelectedTab('search');goto_profileSearch();">
<ion-icon size="large" name="search-circle"></ion-icon>
</button>
    <button [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth');goto_jobs();">
<ion-icon size="large" name="earth-sharp"></ion-icon>
</button>
    <button [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps');goto_home();">
<img style="max-width: 67%;" src="../../assets/img/faviconcircle.png" (click)="setSelectedTab('apps')">    

</button>
    <button [ngClass]="{'selected': selectedTab === 'profile'}" (click)="setSelectedTab('profile');goto_profile();">
<ion-icon size="large" name="person-circle-sharp"></ion-icon>
</button>
    <button [ngClass]="{'selected': selectedTab === 'menu'}" (click)="setSelectedTab('menu');goto_more();">
<ion-icon size="large" name="ellipsis-vertical-circle-sharp"></ion-icon>

</button>
</div>