<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-row>

            <ion-col size="0.5">

            </ion-col>
            <ion-col size="2">
                <ion-icon size="large" name="arrow-back-circle-outline" (click)="Sign()" style="margin-top:21%"></ion-icon>
            </ion-col>

            <ion-col>
                <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black; margin-top: 7%;">Reset Password
                </ion-title>
            </ion-col>

        </ion-row>

    </ion-toolbar>
</ion-header>

<ion-content>



    <ion-row>

        <ion-col>
            <img src="../../assets/img/forgotpass.png" class="prfoileimg2">
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-title class="reset">Reset Your Password</ion-title>
        </ion-col>
    </ion-row>
    <form [formGroup]="forgotform">

        <div class="fotmtext1 ">
            <ion-row>
                <ion-col>
                    <div class="button-content" *ngIf="isProfile">
                        <ion-label class="labels">Email Id</ion-label>
                        <ion-item fill="outline" class="input-field">
                            <ion-input formControlName="email"></ion-input>
                        </ion-item>
                    </div>
                    <div class="button-content" *ngIf="isAbout">
                        <ion-label class="labels"> Phone Number </ion-label>
                        <ion-item fill="outline" class="input-field">
                            <ion-input type="number" formControlName="phoneNo"></ion-input>
                        </ion-item>
                    </div>
                </ion-col>
            </ion-row>
            <div *ngIf="forgotform.controls.email.hasError('required') && forgotform.controls.email.touched || forgotform.controls.email.hasError('pattern')">
                <small style="    color: #f70505; margin-left: 33px; font-size: 15px;" class="errsmall">Please enter valid Email !</small>
            </div>

            <ion-row>

                <div class="button-content" style="width: 50%;
          margin: auto;">
                    <div class="display-justify">
                        <ion-button *ngIf="isProfile" class="custom-button" (click)="pass_click()">Submit</ion-button>
                        <ion-button *ngIf="isAbout" class="custom-button" (click)="pass_click1()">Submit</ion-button>
                    </div>
                </div>

            </ion-row>
        </div>
    </form>
</ion-content>