<ion-content>


    <ion-row>
        <ion-col>
            <div class="imageCss"><img style="width: 63%; margin-left: -4%;padding: 22px;
            margin-top: -9%;" src="../../assets/img/verifierpopup.png" /></div>
        </ion-col>
    </ion-row>

    <div class="hello-dear">
        <div style="    padding: 13px;font-size: 19px;
      color: #000000;font-family: alina-sans; text-align: center;margin-top: -14%;">{{'verify' | translate}}</div>

    </div>




    <ion-card-content>
        <form [formGroup]="ExtracurricularFrom">
            <div id="test-l-1" class="content">
                <div class="button-content">
                    <ion-label class="labels">{{'VerifiedDet.verName' | translate}} <small style="color: #f70505;">*</small></ion-label>
                    <ion-item fill="outline" class="input-field">
                        <ion-input type="text" formControlName="verifierName"></ion-input>
                    </ion-item>
                    <div *ngIf=" ExtracurricularFrom.controls.verifierName.hasError('required') && ExtracurricularFrom.controls.verifierName.touched">
                        <small style="color: #f70505;">{{'Verifier name is required' | translate}}</small>
                    </div>
                    <div *ngIf="ExtracurricularFrom.controls.verifierName.hasError('pattern')">
                        <small style="color: #f70505;">{{'In special character' | translate}}</small>
                    </div>
                    <div *ngIf="ExtracurricularFrom.controls.verifierName.hasError('minlength')">
                        <small style="color: #f70505;">{{'Verifier name must be atleast 3 characters long' | translate}}</small>
                    </div>
                </div>
            </div>
            <div class="button-content">
                <ion-label class="labels">{{'VerifiedDet.designation' | translate}} <small style="color: #f70505;">*</small></ion-label>
                <ion-item fill="outline" class="input-field">
                    <ion-input type="text" formControlName="verifierDesignation"></ion-input>
                </ion-item>
            </div>
            <div class="button-content">
                <ion-label class="labels">{{'VerifiedDet.emailId' | translate}}<small style="color: #f70505;">*</small></ion-label>
                <ion-item fill="outline" class="input-field">
                    <ion-input type="text" formControlName="verifierEmail"></ion-input>
                </ion-item>
            </div>
            <div class="button-content">
                <ion-label class="labels">{{'VerifiedDet.mobNo' | translate}}</ion-label>
                <ion-item fill="outline" class="input-field">
                    <ion-input type="number" formControlName="verifierMobile"></ion-input>
                </ion-item>
            </div>


            <div class="display-justify">
                <button class="but1" (click)="addverifier()">{{'Save & Continue' | translate}}</button>
            </div>
            <div class="display-justify">
                <button class="but2" (click)="move(extId)">{{'Skip for Now' | translate}}</button>
            </div>
        </form>
    </ion-card-content>

</ion-content>