<ion-header style="background-color: white;">
    <ion-toolbar style="padding: 20px 10px 15px;">
        <ion-row style="display: flex;justify-content: space-between;">
            <div>
                <ion-icon size="large" (click)="goto_settings()" name="arrow-back-circle-outline" style="margin-top:21%"></ion-icon>
            </div>
            <div style="font-family: Mr-eaves; color: black;font-weight: 600;font-size: 30px;display: flex;
        align-items: center;align-items: center;">
                {{'about' | translate}}
            </div>
            <div style="font-family: Mr-eaves; color: black;font-weight: 600;font-size: 30px;">
            </div>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form>
        <ion-row class="container">
            <div size="6">
                <div class="company-card">
                    <h1 style="white-space: nowrap;font-size: 22px;font-weight: 700;">TALENT CHEK</h1>
                    <div style="font-size: 10px;">{{'Choose the Right One, Wise One' | translate}}</div>
                    <div style="padding: 25px 0px 15px 0px;">&copy; {{'All rights reserved' | translate}}</div>
                </div>
            </div>
            <div>
                <ion-col size="3">
                    <div class="custom-button">
                        <div style="display: flex; align-items: center;gap: 5px;"><img src="../../assets/img/flash-circle-icon.png"> {{'version' | translate}}:<b>4.4.9</b></div>
                    </div>
                </ion-col>
                <ion-col size="3">
                    <div class="custom-button">
                        <div style="display: flex; align-items: center;gap: 5px;"><img src="../../assets/img/apple-icon.png"> iOS {{'version' | translate}}:<b>15.6.1</b></div>
                    </div>
                </ion-col>
            </div>
        </ion-row>

        <div class="line-with-text">
            <hr class="hr1">
        </div>

        <div style="padding: 13px; color: black; ">
            <p>{{'abtDevice' | translate}}</p>
        </div>

    </form>


</ion-content>


<div class="footer-nav">
    <button [ngClass]="{'selected': selectedTab === 'search'}" (click)="setSelectedTab('search');goto_profileSearch();">
<ion-icon size="large" name="search-circle"></ion-icon>
</button>
    <button [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth');goto_jobs();">
<ion-icon size="large" name="earth-sharp"></ion-icon>
</button>
    <button [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps');goto_home();">
<img style="max-width: 67%;" src="../../assets/img/faviconcircle.png" (click)="setSelectedTab('apps')">    

</button>
    <button [ngClass]="{'selected': selectedTab === 'profile'}" (click)="setSelectedTab('profile');goto_profile();">
<ion-icon size="large" name="person-circle-sharp"></ion-icon>
</button>
    <button [ngClass]="{'selected': selectedTab === 'menu'}" (click)="setSelectedTab('menu');goto_more();">
<ion-icon size="large" name="ellipsis-vertical-circle-sharp"></ion-icon>

</button>
</div>