<!-- <ion-header>
    <ion-toolbar class="new-background-color">
        <ion-row>
            <ion-col size="0.5">
            </ion-col>
            <ion-col size="2">
                <ion-icon size="large" name="arrow-back-circle-outline" (click)="profileView()"
                    style="margin-top:21%"></ion-icon>
            </ion-col>
            <ion-col *ngIf="!edit">
                <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black; margin-top: 7%;">{{'addEducation' | translate}}</ion-title>
            </ion-col>
            <ion-col *ngIf="edit">
                <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black; margin-top: 7%;">{{'editEducation' | translate}}</ion-title>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header> -->
<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-buttons slot="start">
            <ion-button (click)="profileView()">
                <ion-icon size="large" style="    color: black;" name="arrow-back-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="!edit" style="text-align: center;font-family: Mr-eaves; color: black;">{{'addEducation' |
            translate}}</ion-title>
        <ion-title *ngIf="edit" style="text-align: center;font-family: Mr-eaves; color: black;">{{'editEducation' |
            translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" id="my-content">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <form [formGroup]="EducationForm">


        <ion-card-content>
            <!-- <ion-row>
          <ion-col size="8">
              <ion-title style="color:black;margin-left: -5%;">Education</ion-title>
          </ion-col>
          <ion-col size="2">
              <ion-icon style="color:#ACCCFF;" size="large" name="duplicate"></ion-icon>
          </ion-col> 
      </ion-row> -->
            <div id="test-l-1" class="content">
                <div class="button-content">
                    <ion-label class="labels">{{'profilein.Educational Institution Name' | translate}}<small
                            style="color: #f70505;">*</small></ion-label>

                    <ion-item fill="outline" class="input-field" *ngIf="disabled">
                        <div>{{ selecteInstitution }}
                            <ion-icon *ngIf="selecteInstitution != undefined && selecteInstitution != ''"
                                name="close-circle" (click)="removeOrganisation(selecteInstitution)"></ion-icon>
                        </div>

                        <ion-input (ionInput)="onSearchInstitution($event.target.value)" [formControl]="searchCtrl"
                            disabled="true"></ion-input>
                    </ion-item>
                    <!--  -->
                    <ion-item fill="outline" class="input-field" *ngIf="!disabled">
                        <div>{{ selecteInstitution }}
                            <ion-icon *ngIf="selecteInstitution != undefined && selecteInstitution != ''"
                                name="close-circle" (click)="removeOrganisation(selecteInstitution)"></ion-icon>
                        </div>

                        <ion-input (ionInput)="onSearchInstitution($event.target.value)"
                            [formControl]="searchCtrl"></ion-input>
                    </ion-item>
                    <div
                        *ngIf=" EducationForm.controls.institutionName.hasError('required') && EducationForm.controls.institutionName.touched">
                        <small style="color: #f70505;">{{'instReq' | translate}}</small>
                    </div>
                    <ion-list *ngIf="IsSearchListShow">
                        <ion-item *ngFor="let result of searchInstitutionResults"
                            (click)="selectInstitution(result.text,result.id);getTitle(result.id);orgLocation(result.id)">
                            {{ result.text }}
                        </ion-item>
                    </ion-list>



                    <!-- <ion-sub-title style="color:gray">Enter the registered mobile no of your connection so that we can fetch the rest of the details for you if they are already registered</ion-sub-title> -->
                </div>
                <ion-spacer size="large"></ion-spacer><br>
                <div class="button-content">
                    <ion-label class="labels">{{'AddAcademicInfo.insLoc' | translate}} <small
                            style="color: #f70505;">*</small></ion-label>
                    <ion-item fill="outline" class="input-field">
                        <ion-input formControlName="institutionLocation"></ion-input>
                    </ion-item>
                    <div
                        *ngIf=" EducationForm.controls.institutionLocation.hasError('required') && EducationForm.controls.institutionLocation.touched">
                        <small style="color: #f70505;">{{'insLocReq' | translate}}</small>
                    </div>
                </div>


                <div class="button-content">
                    <ion-label class="labels">{{'courseStart' | translate}}<small style="color: #f70505;">*</small>
                    </ion-label>
                    <ion-item fill="outline" class="input-field">
                        <ion-datetime formControlName="courseStart" [(ngModel)]="courseStart" displayFormat="MM/YYYY"
                            (ionChange)="validateStartDate($event.target.value);" presentation="date"
                            [max]="getMaxDate()"></ion-datetime>
                    </ion-item>
                    <div
                        *ngIf=" EducationForm.controls.courseStart.hasError('required') && EducationForm.controls.courseStart.touched">
                        <small style="color: #f70505;">{{'courseStartReq' | translate}}</small>
                    </div>
                </div>
                <div class="button-content">
                    <ion-label class="labels">{{'courseEnd' | translate}} <small
                            style="color: #f70505;">*</small></ion-label>
                    <ion-item fill="outline" class="input-field">
                        <ion-datetime formControlName="courseEnd" displayFormat="MM/YYYY" presentation="date"
                            (ionChange)="validateEndDate($event.target.value);" [(ngModel)]="selectedDate"
                            [max]="getMaxDate()"></ion-datetime>
                    </ion-item>
                    <div
                        *ngIf=" EducationForm.controls.courseEnd.hasError('required') && EducationForm.controls.courseEnd.touched">
                        <small style="color: #f70505;">{{'Select course end month-year' | translate}}</small>
                    </div>
                    <div style="display: flex;    color: black;">
                        <ion-checkbox [(ngModel)]="isChecked"
                            (ionChange)="validationForCurWorking($event.detail.checked);"
                            formControlName="currentlyStudy"></ion-checkbox>&nbsp;{{'I currently study here' |
                        translate}}
                    </div>

                </div>
                <ion-spacer size="large"></ion-spacer><br>
                <div class="button-content">
                    <ion-label class="labels">{{'Class/Degree/Course' | translate}}<small
                            style="color: #f70505;">*</small></ion-label>
                    <ion-item fill="outline" class="input-field">
                        <div>{{ selectDegreeSet }}
                            <ion-icon *ngIf="selectDegreeSet != undefined && selectDegreeSet != ''" name="close-circle"
                                (click)="removeDegree(selectDegreeSet)"></ion-icon>
                        </div>
                        <ion-input warp="soft" (ionInput)="onSearchDegree($event.target.value)"
                            [formControl]="searchCtrl"></ion-input>
                    </ion-item>
                    <div
                        *ngIf=" EducationForm.controls.courseEnd.hasError('required') && EducationForm.controls.courseEnd.touched">
                        <small style="color: #f70505;">{{'Select your academic degree or program' | translate}}</small>
                    </div>
                    <ion-list *ngIf="IsDegreeListShow">
                        <ion-item *ngFor="let result of searchDegreeResults"
                            (click)="selectDegree(result.text,result.id);disableFiledOfStudy(result.text)">
                            {{ result.text }}
                        </ion-item>
                    </ion-list>

                </div>

                <div class="button-content">
                    <ion-label *ngIf="!fieldOfStudyDisable" class="labels">{{'Field of study' | translate}}<small
                            style="color: #f70505;">*</small></ion-label>
                    <ion-label *ngIf="fieldOfStudyDisable" class="labels">{{'Field of study' | translate}}</ion-label>

                    <ion-item disabled="{{fieldOfStudyDisable}}" fill="outline" class="input-field">

                        <div (click)="remove()">{{selectStudySet}}
                            <ion-icon *ngIf="selectStudySet != undefined && selectStudySet != ''"
                                name="close-circle"></ion-icon>
                        </div>
                        <ion-input warp="soft" (ionInput)="onSearchStudy($event.target.value)"
                            [formControl]="searchCtrl"></ion-input>
                    </ion-item>
                    <ion-list *ngIf="IsstudyListShow">
                        <ion-item *ngFor="let result of searchStudyResults"
                            (click)="selectStudy(result.text,result.id)">
                            {{ result.text }}
                        </ion-item>
                    </ion-list>

                </div>

                <div class="button-content">
                    <ion-label class="labels">{{'Student Registration Number' | translate}}<small
                            style="color: #f70505;">*</small></ion-label>
                    <ion-item fill="outline" class="input-field">
                        <ion-input type="text" onkeyup="this.value = this.value.toUpperCase();"
                            formControlName="stuRegisterNumber"></ion-input>
                    </ion-item>
                    <div
                        *ngIf=" EducationForm.controls.stuRegisterNumber.hasError('required') && EducationForm.controls.stuRegisterNumber.touched">
                        <small style="color: #f70505;">{{'Enter the unique student ID assigned to you by your
                            institution' | translate}}</small>
                    </div>
                </div>

                <div class="button-content">
                    <ion-label class="labels">{{'Aggregate Marks or GPA obtained' | translate}}</ion-label>
                    <ion-item fill="outline" class="input-field">
                        <ion-input formControlName="aggregateMarks" type="number"></ion-input>
                    </ion-item>
                    <div
                        *ngIf=" EducationForm.controls.stuRegisterNumber.hasError('required') && EducationForm.controls.stuRegisterNumber.touched">
                        <small style="color: #f70505;">{{'Aggregate Marks is required' | translate}}</small>
                    </div>
                </div>

                <div class="button-content">
                    <ion-label class="labels">{{'Description' | translate}}</ion-label>
                    <ckeditor formControlName="eduDescription"></ckeditor>
                </div>
                <ion-row class="talentrow" *ngIf="!nonMandatory">
                    <ion-col>
                        <ion-item class="formitem itemborder" lines="none">
                            <ion-label class="blackTheme">{{'Upload Certificate' | translate}}<span
                                    style="color:red">*</span></ion-label>

                            <ion-input type="file" style="color: transparent;"
                                accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                formControlName="uploadUrl" (change)="upload($event)"></ion-input>

                        </ion-item>
                        <div>{{'supportFormat' | translate}}</div>
                        <div style="margin-top: 25px;">
                            {{uploadedFile?.split('/').pop()}}
                        </div>
                    </ion-col>
                </ion-row>


                <div *ngIf="!edit" class="button-content" style="width: 50%; margin: auto;">
                    <div class="display-justify">
                        <ion-button class="custom-button" (click)="save()">{{'AddJobProfile.submit' |
                            translate}}</ion-button>
                    </div>
                </div>
                <div *ngIf="edit" class="button-content" style="width: 50%; margin: auto;">
                    <div class="display-justify">
                        <ion-button class="custom-button" (click)="UpdateEducation()">{{'AddJobProfile.update' |
                            translate}}</ion-button>
                    </div>
                </div>
            </div>



        </ion-card-content>

    </form>



</ion-content>