@font-face {
    font-family: Mr-eaves;
    src: url(../../assets/fonts/mreavesxl/MrEavesXLModOT-Heavy.ttf);
}

@font-face {
    font-family: alina-sans;
    src: url(../../assets/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf);
}

ion-content {
    --background: url('../../assets/img/06_Welcome screen.png');
    background-size: cover;
    --background: #EDF1FC;
}

ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
}

.filter-button {
    margin-left: 8px;
}


/* Set the padding at the bottom of the ion-content to the height of the footer */

ion-content {
    --ion-safe-area-bottom: 8vh;
    /* set the safe area bottom to 8% of the viewport height */
}

.display-justify {
    display: flex;
    justify-content: center;
    padding: 20px 10px;
}

.custom-button {
    width: 360px;
    border-radius: 30px;
    height: 60px;
    font-size: 18px;
    background-color: antiquewhite;
    display: flex;
    padding: 0px 5px;
    align-items: center;
    justify-content: flex-start;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 24px #00000026;
    border-radius: 24px;
    opacity: 1;
    margin-left: 4px;
    margin-right: 4px;
}

.line-with-text .hr1 {
    flex: 1;
    border: none;
    border-top: 1px solid #ccc;
    margin-left: 10px;
    margin-right: 10px;
}

ion-avatar {
    width: 35%;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
:root {
    --accent-color: #1fa8f5;
    --accent-color-fg: #fefefe;
    --backdrop-color: #89d4fe;
    --app-content-background-color: #c0d8ec00;
    --inset-shadow: rgba(7, 43, 74, 0.3);
    --outset-shadow: rgba(223, 240, 255, 0.25);
    --clay-box-shadow: rgba(7, 43, 74, 0.3);
    --clay-background-color: #c0d8ec;
    --clay-fg-color: #444;
}

body {
    background-color: var(--backdrop-color);
    font-size: 10px;
    font-family: "Roboto", sans-serif;
}

.flex-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
}

.container {
    padding: 1rem 0.5rem 0.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

// start here
.stage {
    max-width: 400px;
    width: 400px;
    margin: 1rem auto 2rem;
}

.home {
    &.active {
        color: var(--accent-color);
    }
    &-style {
        --app-content-background-color: #c0d8ec00;
    }
}

.products {
    &.active {
        --outset-shadow: rgba(247, 167, 103, 0.45);
        --inset-shadow: rgba(149, 62, 8, 0.45);
        --clay-box-shadow: rgba(211, 69, 20, 0.4);
        --clay-background-color: #d34514;
        --clay-fg-color: #f1f2f3;
        color: #690c0c;
    }
    &-style {
        --app-content-background-color: #d36e5a00;
    }
}

.services {
    &.active {
        --outset-shadow: rgba(255, 159, 40, 0.45);
        --inset-shadow: rgba(88, 54, 13, 0.45);
        --clay-box-shadow: rgba(88, 54, 13, 0.4);
        --clay-background-color: #ed9426;
        --clay-fg-color: #f1f2f3;
        color: #cf5c0f;
    }
    &-style {
        --app-content-background-color: #ed932600;
    }
}

.about {
    &.active {
        --outset-shadow: rgba(93, 255, 85, 0.45);
        --inset-shadow: rgba(28, 78, 26, 0.45);
        --clay-box-shadow: rgba(28, 78, 26, 0.4);
        --clay-background-color: #4dd146;
        --clay-fg-color: #f1f2f3;
        color: #4dd146;
    }
    &-style {
        --app-content-background-color: #4dd14600;
    }
}

.help {
    &.active {
        --outset-shadow: rgba(230, 230, 230, 0.45);
        --inset-shadow: rgba(81, 81, 81, 0.45);
        --clay-box-shadow: rgba(81, 81, 81, 0.4);
        --clay-background-color: #a3a3a3;
        --clay-fg-color: #f1f2f3;
        color: #783896;
    }
    &-style {
        --app-content-background-color: #a3a3a300;
    }
}

.tabbar {
    background-color: var(--app-content-background-color);
    // border-bottom-left-radius: 1rem;
    // border-bottom-right-radius: 1rem;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 95px;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    position: relative;
    overflow: hidden;
    transition: background-color 0.4s;
    ul,
    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    ul {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #112e5b;
        align-self: flex-end;
        justify-content: center;
        height: 60px;
    }
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        margin-right: 5px;
        transition: all 0.4s;
        background-color: #112e5b;
        width: 60px;
        height: 60px;
        position: relative;
        color: #888;
        cursor: pointer;
        &:last-child {
            margin-right: 0;
        }
    }
}

.tab-style1 {
    ul {
        justify-content: center;
    }
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 1px;
        left: 0;
        width: 60px;
        height: 50px;
        transition: top 0.2s ease-out, width 0.4s, border-radius 0.4s, box-shadow 0.4s;
        &.follow {
            position: absolute;
            border-radius: 100%;
            content: " ";
            width: 60px;
            height: 60px;
            border: 10px solid var(--app-content-background-color);
            background-color: var(--app-content-background-color);
            top: -3rem;
            transition: left 0.4s ease-in, background-color 0.4s, border-color 0.4s;
            &:before,
            &:after {
                content: " ";
                position: absolute;
                top: 27px;
                right: -27px;
                border-top: 11px solid var(--app-content-background-color);
                background-color: #112e5b;
                width: 20px;
                height: 20px;
                box-sizing: border-box;
                transition: border-color 0.4s;
            }
            &::after {
                border-top-left-radius: 100%;
                // left: 67px;
                // top: 29px;
            }
            &:before {
                left: -29px;
                right: unset;
                top: 29px;
                border-top-right-radius: 100%;
            }
        }
        &:nth-child(1).active~.follow {
            left: 29px;
            top: 5em;
        }
        &:nth-child(2).active~.follow {
            left: 94px;
            top: 5em;
        }
        &:nth-child(3).active~.follow {
            left: 159px;
            top: 5em;
        }
        &:nth-child(4).active~.follow {
            left: 224px;
            top: 5em;
        }
        &:nth-child(5).active~.follow {
            left: 289px;
            top: 5em;
        }
    }
    .active {
        z-index: 100;
        width: 60px;
        height: 60px;
        top: -2rem;
        background: #f85a14d1;
        color: floralwhite;
        border-radius: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
}

.badge-solid-green {
    color: #198754;
    background-color: #19875426;
    border: none;
    padding: 5px 12px;
    font-weight: 500;
    line-height: 1.2;
}

.badge {
    --bs-badge-padding-x: .65em;
    --bs-badge-padding-y: .35em;
    --bs-badge-font-size: .75em;
    --bs-badge-font-weight: 700;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: .375rem;
    display: inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.profilesearchcard {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 24px #00000026;
    border-radius: 24px;
    opacity: 1;
}