@font-face {
    font-family: Mr-eaves;
    src: url(../../assets/fonts/mreavesxl/MrEavesXLModOT-Heavy.ttf);
  }
  
  @font-face {
    font-family: alina-sans;
    src: url(../../assets/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf);
  }
  ion-content {
      --background: url('../../assets/img/06_Welcome screen.png')  ;
      background-size: cover;
      background-position: center;
    }
    ion-card-header.ios {
        display: flex;
        flex-flow: column-reverse;
      } 
    .filter-button {
      margin-left: 8px;
    }
    ion-toolbar {
      --background: url('../../assets/img/95246-cloudbubbles-green.gif')  ;
      background-size: cover; 
      filter: hue-rotate(74deg)grayscale(53%); 
    }
    .footer-nav {
      position: fixed;
      bottom: 0;
      z-index: 10;
      width: 97%;
      height: 8vh; /* set the height to 8% of the viewport height */
      background: #112e5b;
      display: flex;
      padding: 19px;
      margin: 0px 10px 10px 10px;
      justify-content: space-around;
      border-radius: 30px;
      align-items: center;
      padding: 0 10px;
    }
    
    .footer-nav button {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #555;
      font-size: 14px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
    }
    
    .footer-nav button ion-icon {
      font-size: 20px;
      margin-bottom: 5px;
    }
    
    .footer-nav button.selected {
      color: aliceblue;
      border-radius: 50%;
    }
    
    /* Set the padding at the bottom of the ion-content to the height of the footer */
    ion-content {
      --ion-safe-area-bottom: 8vh; /* set the safe area bottom to 8% of the viewport height */
    }
  .display-justify{
    display: flex;
    justify-content: center;
    padding: 20px 10px; 
}
.custom-button{
    width: 360px;
    border-radius: 30px;
    height: 60px;
    font-size: 18px;
    background-color: antiquewhite;
    display: flex;
    padding: 0px 5px;
    align-items: center;
    justify-content: center; 
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 24px #00000026;
    border-radius: 24px;
    opacity: 1;
    margin-left: 4px;
    margin-right: 4px;
}

.line-with-text .hr1 {
    flex: 1;
    border: none;
    border-top: 1px solid #ccc;
    margin-left: 10px;
    margin-right: 10px;
}
.log-out{
    display: flex;
    padding-top: 127px;
    margin: 0px 111px;
    justify-content: center;    
}
.log-out-button{
    width: 360px;
    --border-radius: 30px;
    height: 56px;
    font-size: 18px;
}
ion-avatar{
  width: 35%;
}
