<ion-header>
    <ion-toolbar style="padding: 20px 10px 15px;">
        <ion-row style="display: flex;justify-content: center;">
            <div style="font-family: Mr-eaves; color: black;font-weight: 600;font-size: 30px;">
                Profile
            </div>
        </ion-row>

        <ion-row style="display: flex; justify-content: space-between;align-items: center;">
            <div>
                Welcome back!<br> User name
            </div>
            <div>
                <ion-avatar style="width: 100%;">
                    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
            </div>
        </ion-row>
        <!-- <lottie-player src="../../assets/img/Json/28810-sea-waves.json" background="transparent" speed="1" style="width: 50px; height: 50px;" loop autoplay></lottie-player> -->
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="display-justify">
        <div class="custom-button">
            <div style="display: flex; align-items: center;">
                <ion-avatar slot="start">
                    <img src="../../assets/icon/profile_status.png" />
                </ion-avatar><span style="font-family: Mr-eaves ;">Profile status</span></div>
        </div>
        <div class="custom-button">
            <div style="display: flex; align-items: center;">
                <ion-avatar slot="start">
                    <img src="../../assets/icon/private_info.png" />
                </ion-avatar><span style="font-family: Mr-eaves ;">Subscription</span></div>
        </div>
    </div>
    <div class="line-with-text">
        <hr class="hr1">
    </div>
    <div class="display-justify">
        <div class="custom-button">
            <div style="display: flex; align-items: center;">
                <ion-avatar slot="start">
                    <img src="../../assets/icon/my notification.png" />
                </ion-avatar><span style="font-family: Mr-eaves ;">My notifications</span></div>
        </div>
        <div class="custom-button">
            <div style="display: flex; align-items: center;" (click)="support()">
                <ion-avatar slot="start">
                    <img src="../../assets/icon/support.png" />
                </ion-avatar><span style="font-family: Mr-eaves ;">Support</span></div>
        </div>
    </div>
    <div class="display-justify" style="margin: 0px 65px;">
        <div class="custom-button">
            <div style="display: flex; align-items: center;" (click)="settings()">
                <ion-avatar slot="start">
                    <img src="../../assets/icon/settings-for-more.png" />
                </ion-avatar><span style="font-family: Mr-eaves ;">Settings</span></div>
        </div>
    </div>

    <div class="log-out">
        <ion-button class="log-out-button" (click)="goto_signup()">Log out
            <ion-avatar slot="start">
                <img src="../../assets/icon/logout.png" />
            </ion-avatar>
        </ion-button>
    </div>



</ion-content>



<div class="footer-nav">
    <button [ngClass]="{'selected': selectedTab === 'search'}" (click)="setSelectedTab('search');">
  <ion-icon size="large" name="search-circle"></ion-icon>
</button>
    <button [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth')">
  <ion-icon size="large" name="earth-sharp"></ion-icon>
</button>
    <button [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps')">
  <ion-icon size="large" name="apps"></ion-icon>
</button>
    <button [ngClass]="{'selected': selectedTab === 'profile'}" (click)="setSelectedTab('profile')">
  <ion-icon size="large" name="person-circle-sharp"></ion-icon>
</button>
    <button [ngClass]="{'selected': selectedTab === 'menu'}" (click)="setSelectedTab('menu')">
  <ion-icon size="large" name="ellipsis-vertical-circle-sharp"></ion-icon>
</button>
</div>