
   #card1{
    --background: linear-gradient(to right top, #f5f5f5, #f7dc73);
    border-radius: 20px;
    color: black;
   }

   .subscriptionBtn {
    --background: linear-gradient(to right top, #f8d239, orange);
    margin-top: 5px; 
    color: black;
    font-size: small;
    font-weight: bold;
}

.blackTheme{
    color: black;
  }
  .whiteTheme{
    color: white;
  }
  ion-content{
    --background: white;
  }