<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title login-page-text>Congratulations!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;">Password reset email sent successfully.</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <img src="./assets/img/email_green_circle_2.png"/>
      </ion-row>
      <br/>
      <ion-row style="text-align:center;">
        <ion-col style="text-align: center;">
          <h1 style="color: black;">Check Your Email</h1>
        </ion-col>        
      </ion-row>
      <br/>
      <ion-row>        
        <h2>Please check the email address for instructions to reset your password.</h2>
      </ion-row>
      <ion-row></ion-row>
      <ion-row>
        <ion-button login-page-text class="loginbtnV2" (click)="goto_ResendEmail()" shape="round"
              style="width:270px;color: black;font-size: medium;font-weight: bold;">Resend email</ion-button>
      </ion-row>
      <ion-row>
        <ion-button login-page-text class="loginbtnV2" (click)="goto_Login()" shape="round"
              style="width:270px;color: black;font-size: medium;font-weight: bold;">Go to login</ion-button>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>