<ion-header>
    <ion-toolbar class="new-background-color">

        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="text-align: right;margin: 0px 0px 0px 5px;">
                <ion-icon size="large" name="arrow-back-circle-outline" (click)="goto_settings()" style="margin-top:14%"></ion-icon>
            </div>
            <div style="text-align: center;display: contents;">
                <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black;">{{'Scan to Connect' | translate}}</ion-title>
            </div>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" id="my-content">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    <div class="display-justify" *ngIf="!IsShowProfile">

        <ion-card class="scan-card">
            <br>
            <br>
            <img width="80px" alt="Silhouette of mountains" src="../../assets/img/scan _to_connect.png" />
            <ion-card-header>
                <ion-card-title style="font-size: 22px; font-weight: bold;color:black;">{{'QR scanning' | translate}}
                </ion-card-title>
                <ion-card-subtitle>{{'Know about profile' | translate}}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                <ion-button style="--background: #112e5a;" expand="block" (click)="scanBarcode()">{{'Scan a Code' | translate}}
                </ion-button>


            </ion-card-content>

        </ion-card>

    </div>


    <div class="display-justify" *ngIf="IsShowProfile">
        <ion-card class="scan-card">

            <ion-card-content>
                <div>
                    <div>
                        <ion-row class="profilehome">
                            <ion-col size="2">
                            </ion-col>
                            <ion-col size="8" class="profiletext" style="text-align: -webkit-center;">
                                <div>
                                    <ion-avatar class="item-avatar">
                                        <img [src]="profileImageURL" id="prfoileImage">
                                    </ion-avatar>
                                </div>
                            </ion-col>
                            <ion-col size="2">
                            </ion-col>
                        </ion-row>
                    </div>
                    <form [formGroup]="talentform" novalidate>
                        <ion-row>
                            <div class="ion-text-center" style="margin:auto">
                                <p>{{'Add' | translate}} <span style="color: black;font-size:'18px';">{{scanned_UserName}}</span> {{'from' | translate}}
                                    <ion-input *ngIf="isformLoc == false" style="color: black;font-size:'18px';border: #112e5b 1px solid; border-radius: 10px;" type="text" formControlName="fromLocation" [(ngModel)]="fromLocationVal"></ion-input> {{'as my' | translate}}
                                    <ion-select style="color: black;font-size:'18px';border: #112e5b 1px solid; border-radius: 10px;" okText="Okay" cancelText="Dismiss" formControlName="relationShip" [(ngModel)]="relationShipVal">
                                        <ion-select-option *ngFor='let blElement of relationShipResponse' value="{{blElement.id}}">
                                            {{blElement.text.charAt(0).toUpperCase() + blElement.text.substr(1).toLowerCase()}}
                                        </ion-select-option>
                                    </ion-select>
                                    {{'to my talent connections' | translate}}
                                </p>

                                <div style="padding-top: 16px;">
                                    <div style="display: flex; align-items: center; height: 100%;font-size: 16px;">
                                        <ion-label class="blackTheme">{{'Favorite' | translate}} </ion-label>
                                        <ion-icon style="color: #f70505;font-size: x-large;" name="heart-circle-outline"></ion-icon>
                                        <ion-label class="blackTheme"> ?</ion-label>
                                    </div>
                                    <ion-row class="talentrow" style="text-align: -webkit-center;">
                                        <ion-radio-group formControlName="favourite" [(ngModel)]="favouriteVal" style="width:100%">
                                            <ion-row>
                                                <ion-col size="4">
                                                    <div class="genderbg">
                                                        <div class="genderpadding">
                                                            <span class="emojitext">{{'ProfileIndividual.yes' | translate}}</span>
                                                            <ion-radio mode="md" class="ion-item-left" value="Yes"></ion-radio>
                                                        </div>
                                                    </div>
                                                </ion-col>

                                                <ion-col size="4">
                                                    <div class="genderbg">
                                                        <div class="genderpadding">
                                                            <span class="emojitext">{{'ProfileIndividual.no' | translate}}</span>
                                                            <ion-radio mode="md" class="ion-item-left" value="No"></ion-radio>
                                                        </div>
                                                    </div>
                                                </ion-col>
                                            </ion-row>
                                        </ion-radio-group>
                                    </ion-row>
                                </div>

                                <!-- Rate the organization -->
                                <ion-row class="talentrow">
                                    <ion-col>
                                        <ion-item class="formitem itemborderNoBottom" lines="none">
                                            <ion-label class="blackTheme" position="floating">{{'profilein.Rate the Connection' | translate}}</ion-label>
                                            <ion-row style="padding-top: 20px;">
                                                <ion-button *ngFor="let index of iconsArray" id="{{index}}" icon-only (click)="changeRating(index)">
                                                    <ion-icon style="color: yellow;" *ngIf="rateOrgVal >= index" name="star"></ion-icon>
                                                    <ion-icon style="color: yellow;" *ngIf="index > rateOrgVal" name="star-outline"></ion-icon>
                                                </ion-button>
                                            </ion-row>
                                        </ion-item>
                                    </ion-col>
                                </ion-row>

                            </div>
                        </ion-row>
                        <br />

                        <!-- Save button -->
                        <div class="yesnoButtonPanel">
                            <ion-row>
                                <ion-col style="text-align: center;" class="ion-margin-top">
                                    <ion-button type="submit" shape="round" class="ButtonNormal" color="success" (click)="SaveAndInvite()">
                                        <ion-icon slot="start" name="paper-plane-outline"></ion-icon>{{'profilein.Send Invite' | translate}}
                                    </ion-button>
                                    <ion-button shape="round" class="ButtonNormal" color="danger" (click)="close()">
                                        <ion-icon slot="start" name="close-circle-outline"></ion-icon>{{'profileorg.Cancel' | translate}}
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </div>
                    </form>
                </div>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>