<ion-content>

    <form [formGroup]="ExperienceForm">
        <ion-row>
            <ion-col>
                <div class="imageCss"><img style="width: 40%;  padding: 10px;" src="../../assets/img/Illustration-slide4.png" /></div>
            </ion-col>
        </ion-row>
        <div class="button-content">
            <ion-label style=" font-size: 20px;   margin-left: 4%;">{{'ProfessionalExp.orgRating' | translate}} </ion-label>
            <div style="    margin-left: 14%;">
                <ul class="list-inline rating-list" *ngFor="let star of stars" style="display: inline-block;padding-inline-start: 0px;">
                    <li (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}">
                        <ion-icon name="star"></ion-icon>
                    </li>
                </ul>
            </div>
        </div>
        <div class="button-content" style="margin-top: -7%;">
            <ion-label class="labels" style=" font-size: 20px;   margin-left: 4%;">{{'ProfessionalExp.orgFeedBack' | translate}}</ion-label>

            <ion-item style=" margin-top: 12px;width: 90%;margin-left: 4%;" fill="outline" class="input-field">
                <ion-textarea style="height: 171px;" placeholder="Give us your thoughts..." formControlName="remarks"></ion-textarea>
            </ion-item>
        </div>

        <div class="display-justify" style="padding-top: 10%;">
            <button class="but1" (click)="updateRatingOrg()">{{'ProfessionalExp.submit' | translate}}</button>
        </div>
        <div class="display-justify">
            <button class="but2" (click)="move(1)">{{'Skip' | translate}} </button>
        </div>
    </form>
</ion-content>