<ion-header>
    <ion-toolbar>
        <ion-title style="text-align: center;
        font-family: 'Mr-eaves';
        font-size: 28px;">{{'KmPortal.home' | translate}}</ion-title>
    </ion-toolbar>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" id="my-content">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <form>
        <div class="display-justify">
            <ion-row class="container">
                <ion-col size="6">
                    <ion-card class="recharge-card" (click)="goto_subscribe()">
                        <ion-card-content>
                            <p style="text-align: center;font-size: 16px; color: #fff;">{{'Available' | translate}}</p>
                            <p style="text-align: center;font-size: 18px; color: #fff; font-weight: 700;">{{'Subscription.talCrd'| translate}}</p>

                            <div class="card-content p-0 flex">
                                <div class="spinningasset coin is-sm">
                                    <div>
                                        <em></em>
                                        <em></em>
                                    </div>
                                </div>
                                <div class="ml-2" style="text-align: center;font-weight: bolder;font-size: 26px;color: #fff;">
                                    {{creditPoints}}
                                </div>
                            </div>
                            <br>
                            <p style="text-align: center;font-size: 14px; color: #fff;"><b>{{'Recharge Now' | translate}}</b></p>

                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <div>
                    <ion-col size="3">
                        <div class="custom-button">
                            <div style="display: flex; align-items: center;">
                                {{'Profile Views' | translate}}<b>: {{profileViewCount}}</b></div>
                        </div>
                    </ion-col>
                    <ion-col size="3">
                        <div class="custom-button">
                            <div style="display: flex; align-items: center;">
                                {{'Your Rating' | translate}}:<b>&nbsp; {{avgrating}}</b><span class="fa fa-star checked"></span></div>
                        </div>
                    </ion-col>
                </div>
            </ion-row>
        </div>


        <!-- <ion-row class="container">
            <ion-col size="6">
                <ion-card class="network-card">
                    <ion-card-content>
                        <ion-row>
                            <ion-col size="3">
                                <ion-icon name="person-add-outline"></ion-icon>
                            </ion-col>

                            <ion-col size="6">

                            </ion-col>

                            <ion-col size="3">

                            </ion-col>

                        </ion-row>

                        <p style="text-align: center;font-size: 24px;font-weight: 700; color: #000;">{{networkCount}}</p>
                        <p style="text-align: center;font-size: 14px; color: #000;"><b>Your Network</b></p>

                    </ion-card-content>
                </ion-card>
            </ion-col>

            <ion-col size="6">
                <ion-card class="network-card">
                    <ion-card-content>
                        <ion-row>
                            <ion-col size="3">
                                <ion-icon name="eye-outline"></ion-icon>
                            </ion-col>

                            <ion-col size="6">

                            </ion-col>

                            <ion-col size="3">

                            </ion-col>

                        </ion-row>

                        <p style="text-align: center;font-size: 24px;font-weight: 700; color: #000;">{{matchedJobsCount}}</p>
                        <p style="text-align: center;font-size: 14px; color: #000;"><b>Matched Jobs</b></p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row> -->


        <div class="line-with-text">
            <hr class="hr1">
        </div>


        <ion-col>
            <h1 style="font-family: 'Mr-eaves';font-size: 29px;text-align: center;">{{'STAY CALM' | translate}}</h1>
            <P style="text-align: center ;">{{'and get your profile permanently endorsed' | translate}}</P>
            <p style="text-align: center ; color: #61ccff;font-weight: 700;font-size: 17px;"><a (click)="goto_profile()">{{'Go to Profile' | translate}}</a></p>
            <img class="imageCss" src="../../assets/img/Illustration.png" />
        </ion-col>



    </form>




</ion-content>

<div class="footer-nav">
    <button [ngClass]="{'selected': selectedTab === 'search'}" (click)="setSelectedTab('search');goto_profileSearch();" id="step1">
<ion-icon size="large" name="search-circle"></ion-icon>
</button>
    <button [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth');goto_jobs();">
<ion-icon size="large" name="earth-sharp"></ion-icon>
</button>
    <button [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps');goto_home();" id="step2">
 <img style="max-width: 67%;" src="../../assets/img/faviconcircle.png" (click)="setSelectedTab('apps')">    

</button>
    <button [ngClass]="{'selected': selectedTab === 'profile'}" (click)="setSelectedTab('profile');goto_profile();">
<ion-icon size="large" name="person-circle-sharp"></ion-icon>
</button>
    <button [ngClass]="{'selected': selectedTab === 'menu'}" (click)="setSelectedTab('menu');goto_more();">
<ion-icon size="large" name="ellipsis-vertical-circle-sharp"></ion-icon>

</button>
</div>