<ion-header>
    <ion-toolbar>

        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="text-align: right;margin: 0px 0px 0px 5px;">
                <ion-icon size="large" name="arrow-back-circle-outline" (click)="goto_jobs()"></ion-icon>
            </div>
            <div style="text-align: center;display: contents;">
                <ion-title class="ion-text-wrap" style="font-family: Mr-eaves; color: black;">{{'AddJobPost.jobPost' | translate}}</ion-title>
            </div>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content>


    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" id="my-content">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    <form [formGroup]="jobProfileForm">
        <div class="ion-stepper">
            <div class="ion-stepper-step" id="step1">
                <div class="ion-stepper-header">
                    <div class="ion-stepper-circle">1</div>
                    <div class="ion-stepper-title" style="font-family: Mr-eaves;">{{'AddJobPost.jobDet' | translate}}</div>
                </div>
                <div class="ion-stepper-content">

                    <ion-label class="labels">{{'AddJobPost.industry' | translate}}<small style="color: #f70505;">*</small></ion-label>
                    <ion-item fill="outline" class="input-field" required>
                        <ion-select (ionChange)="jobtitleList($event.target.value)" formControlName="industry" placeholder="{{'AddJobPost.industry' | translate}}">
                            <ion-select-option *ngFor="let tittle of industryList" value="{{tittle.id1}}">{{tittle.text}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <div *ngIf="jobProfileForm.controls.industry.hasError('required') && jobProfileForm.controls.industry.touched">
                        <small style="color: #f70505;">{{'AddJobPost.indReq' | translate}}</small>
                    </div>


                    <ion-label class="labels">{{'AddJobPost.jobTitle' | translate}}<small style="color: #f70505;">*</small></ion-label>
                    <ion-item fill="outline" class="input-field">
                        <ion-select placeholder="{{'AddJobPost.jobTitle' | translate}}" formControlName="jobTitle1" (click)="onSelectionChange($event)"(ionChange)="Driver($event.target.value)" cancelText="Cancel" okText="Okay">
                            <ion-select-option *ngFor="let jobtitle of jobTitleList" value="{{jobtitle.id}}">{{jobtitle.text}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <div *ngIf="jobProfileForm.controls.jobTitle1.hasError('required') && jobProfileForm.controls.jobTitle1.touched">
                        <small style="color: #f70505;">{{'AddJobPost.jobTitleReq' | translate}}</small>
                    </div>


                    <ion-label class="labels">{{'AddJobPost.jobType' | translate}}<small style="color: #f70505;">*</small></ion-label>
                    <ion-item fill="outline" class="input-field">
                        <ion-select placeholder="{{'AddJobPost.jobType' | translate}}" formControlName="jobType" multiple="true" (ionChange)="onSelectionChange($event)" cancelText="Cancel" okText="Okay">
                            <ion-select-option *ngFor="let tittle of jobTypeList" value="{{tittle.id}}">{{tittle.text}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <div *ngIf="jobProfileForm.controls.jobType.hasError('required') && jobProfileForm.controls.jobType.touched">
                        <small style="color: #f70505;">{{'AddJobPost.jobTypeReq' | translate}}</small>
                    </div>


                    <ion-label class="labels">{{'AddJobPost.NoOfOpenings' | translate}}<small style="color: #f70505;">*</small></ion-label>
                    <div style="margin: 0px 15px 0px 0px;">
                        <ion-item fill="outline" class="input-field">
                            <ion-input type="number" formControlName="openings" placeholder="{{'AddJobPost.NoOfOpenings' | translate}}"></ion-input>
                        </ion-item>
                    </div>


                    <div *ngIf="buttonEnable" class="ion-stepper-buttons">
                        <button [disabled]="disable" class="ion-stepper-next" (click)="nextStep('step1', 'step2');">{{'profilein.Next' | translate}}</button>
                    </div>
                </div>
            </div>

            <div class="ion-stepper-step" id="step2">
                <div class="ion-stepper-header">
                    <div class="ion-stepper-circle">2</div>
                    <div class="ion-stepper-title">{{'AddJobPost.jobDes' | translate}}</div>
                </div>
                <div class="ion-stepper-content">

                    <ion-label class="labels">{{'AddJobPost.jobDes' | translate}}<small style="color: #f70505;">*</small></ion-label>
                    <div class="button-content">
                        <ckeditor formControlName="roles"></ckeditor>
                    </div>


                    <!-- <ion-label class="labels">Required Skills & Qualifications<small style="color: #f70505;">*</small></ion-label>
                    <div class="button-content">
                        <ckeditor formControlName="jobQualification"></ckeditor>
                    </div> -->



                    <ion-label class="labels">{{'AddJobPost.skills' | translate}}<small style="color: #f70505;">*</small></ion-label>
                    <ion-item fill="outline" class="input-field">
                        <div class="chip-container">
                          <ng-container *ngIf="selectedSkills.length > 0">
                            <div *ngFor="let skill of selectedSkills">
                              {{ skill }}
                              <ion-icon name="close-circle" (click)="removeSkill(skill)"></ion-icon>
                            </div>
                          </ng-container>
                          <ion-input (click)="skills()"
                            (ionInput)="onSearchSkill($event.target.value)"
                            [formControl]="searchCtrl"
                            style="width: 100%"
                            [style.order]="selectedSkills.length > 0 ? 1 : -1"
                          ></ion-input>
                        </div>
                      </ion-item>
                    <div *ngIf="jobProfileForm.controls.jobSkills.hasError('required') && jobProfileForm.controls.jobSkills.touched">
                        <small style="color: #f70505;">{{'AddJobProfile.skillReq' | translate}}</small>
                    </div>

                    <ion-list *ngIf="showSkillResults">
                        <ion-item *ngFor="let result of searchSkillResults" (click)="selectSkill(result.text,result.id)">
                            {{ result.text }}
                        </ion-item>
                    </ion-list>

                    <ion-label class="labels">{{'AddJobPost.workExp' | translate}}<small style="color: #f70505;">*</small></ion-label>
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <div>{{'AddJobPost.atleast' | translate}}</div>
                        <div style="width: 30%;">
                            <ion-item fill="outline" class="input-field">
                                <ion-input type="number" formControlName="jobExperience"></ion-input>
                            </ion-item>
                        </div>
                        <div>
                            <ion-item fill="outline" class="input-field">
                                <ion-select formControlName="jobExperienceFormat" placeholder="{{'AddJobPost.year' | translate}}">
                                    <ion-select-option value="Year(s)">{{'AddJobPost.year' | translate}}</ion-select-option>
                                    <ion-select-option value="Month(s)">{{'AddJobPost.month' | translate}}</ion-select-option>
                                    <ion-select-option value="Week(s)">{{'AddJobPost.week' | translate}}</ion-select-option>
                                    <ion-select-option value="Day(s)">{{'AddJobPost.day' | translate}}</ion-select-option>
                                    <ion-select-option value="Hour(s)">{{'AddJobPost.hour' | translate}}</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </div>
                    </div>
                    <div>
                        {{'JobAppliRec.relExp' | translate}}
                    </div>

                    <div *ngIf="jobProfileForm.controls.jobExperience.hasError('required') && jobProfileForm.controls.jobExperience.touched">
                        <small style="color: #f70505;">{{'AddJobPost.workReq' | translate}}</small>
                    </div>


                    <ion-list>
                        <ion-radio-group formControlName="jobExperienceMandatory" [allowEmptySelection]="true" value="turtles">
                            <ion-item class="ion-item">
                                <ion-label><b>{{'AddJobPost.mustHave' | translate}}</b></ion-label>
                                <ion-radio slot="end" value="true"></ion-radio>
                            </ion-item>

                            <ion-item class="ion-item">
                                <ion-label><b>{{'AddJobPost.goodToHave' | translate}}</b></ion-label>
                                <ion-radio slot="end" value="false"></ion-radio>
                            </ion-item>
                        </ion-radio-group>
                    </ion-list>


                    <div class="line-with-text">
                        <hr class="hr1">
                    </div>

                    <div>
                        <div>
                            <ion-label class="labels">{{'AddJobPost.appSalaryRange' | translate}}<small style="color: #f70505;">*</small></ion-label>
                        </div>
                        <div style="display: flex; justify-content: center;margin: 10px 0px 0px 0px;">
                            <div style="margin: 0px 15px 0px 0px;">
                                <ion-item fill="outline" class="input-field">
                                    <ion-input type="number" (ionBlur)="validateSalaryFrom($event.target.value);" formControlName="jobSalaryFrom" placeholder="{{'AddJobPost.from' | translate}}"></ion-input>
                                </ion-item>
                            </div>
                            <h4>{{'AddJobPost.to' | translate}}</h4>
                            <div style="margin: 0px 0px 0px 15px;">
                                <ion-item fill="outline" class="input-field">
                                    <ion-input type="number" (ionBlur)="validateSalaryTo($event.target.value);" formControlName="jobSalaryTo" placeholder="{{'AddJobPost.to' | translate}}"></ion-input>
                                </ion-item>
                            </div>
                        </div>

                        <div style="display: flex; justify-content: center;margin: 10px 0px 0px 0px;">
                            <div style="margin: 0px 15px 0px 0px;">
                                <ion-item fill="outline" class="input-field">
                                    <ion-select formControlName="jobSalaryCurrency" placeholder="{{'Subscription.inr' | translate}}">
                                        <ion-select-option value="INR">{{'Subscription.inr' | translate}}</ion-select-option>
                                        <ion-select-option value="USD">{{'Subscription.usd' | translate}}</ion-select-option>
                                        <ion-select-option value="AED">{{'Subscription.aed' | translate}}</ion-select-option>
                                        <ion-select-option value="MYR">{{'Subscription.myr' | translate}}</ion-select-option>
                                        <ion-select-option value="SGD">{{'Subscription.sgd' | translate}}</ion-select-option>
                                    </ion-select>
                                </ion-item>
                            </div>
                            <!-- <h4>to</h4> -->
                            <div style="margin: 0px 0px 0px 15px;">
                                <ion-item fill="outline" class="input-field">
                                    <ion-select formControlName="jobSalaryFrequency" placeholder="{{'AddJobProfile.perYear' | translate}}">
                                        <ion-select-option value="Per Year">{{'AddJobProfile.perYear' | translate}}</ion-select-option>
                                        <ion-select-option value="Per Month">{{'AddJobProfile.perMonth' | translate}}</ion-select-option>
                                        <ion-select-option value="Per Week">{{'AddJobProfile.perWeek' | translate}}</ion-select-option>
                                        <ion-select-option value="Per Day">{{'AddJobProfile.perDay' | translate}}</ion-select-option>
                                        <ion-select-option value="Per Hour">{{'AddJobProfile.perHr' | translate}}</ion-select-option>
                                    </ion-select>
                                </ion-item>
                            </div>
                        </div>
                    </div>



                    <div class="ion-stepper-buttons" style="justify-content: space-between;">
                        <button class="ion-stepper-prev" style="background-color: #e71c1cab !important;" (click)="prevStep('step2', 'step1')">{{'KmPortal.back' | translate}}</button>
                        <button class="ion-stepper-next" (click)="nextStep('step2', 'step3');">{{'profilein.Next' | translate}}</button>
                    </div>
                </div>
            </div>


            <!-- <div class="ion-stepper-step" id="step3">
                <div class="ion-stepper-header">
                    <div class="ion-stepper-circle">3</div>
                    <div class="ion-stepper-title">Salary & Benefits</div>
                </div>
                <div class="ion-stepper-content">

                    <div>
                        <div>
                            <ion-label class="labels">What is the approximate salary range for this job?<small style="color: #f70505;">*</small></ion-label>
                        </div>
                        <div style="display: flex; justify-content: center;margin: 10px 0px 0px 0px;">
                            <div style="margin: 0px 15px 0px 0px;">
                                <ion-item fill="outline" class="input-field">
                                    <ion-input type="number" (ionBlur)="validateSalaryFrom($event.target.value);" formControlName="jobSalaryFrom" placeholder="From"></ion-input>
                                </ion-item>
                            </div>
                            <h4>to</h4>
                            <div style="margin: 0px 0px 0px 15px;">
                                <ion-item fill="outline" class="input-field">
                                    <ion-input type="number" (ionBlur)="validateSalaryTo($event.target.value);" formControlName="jobSalaryTo" placeholder="To"></ion-input>
                                </ion-item>
                            </div>
                        </div>

                        <div style="display: flex; justify-content: center;margin: 10px 0px 0px 0px;">
                            <div style="margin: 0px 15px 0px 0px;">
                                <ion-item fill="outline" class="input-field">
                                    <ion-select formControlName="jobSalaryCurrency" placeholder="INR">
                                        <ion-select-option value="INR">INR</ion-select-option>
                                        <ion-select-option value="USD">USD</ion-select-option>
                                        <ion-select-option value="AED">AED</ion-select-option>
                                        <ion-select-option value="EUR">EUR</ion-select-option>
                                        <ion-select-option value="SGD">SGD</ion-select-option>
                                    </ion-select>
                                </ion-item>
                            </div>
                             <div style="margin: 0px 0px 0px 15px;">
                                <ion-item fill="outline" class="input-field">
                                    <ion-select formControlName="jobSalaryFrequency" placeholder="Per Year">
                                        <ion-select-option value="Per Year">Per Year</ion-select-option>
                                        <ion-select-option value="Per Month">Per Month</ion-select-option>
                                        <ion-select-option value="Per Week">Per Week</ion-select-option>
                                        <ion-select-option value="Per Day">Per Day</ion-select-option>
                                        <ion-select-option value="Per Hour">Per Hour</ion-select-option>
                                    </ion-select>
                                </ion-item>
                            </div>
                        </div>
                    </div>

                    <div class="line-with-text">
                        <hr class="hr1">
                    </div>

                 <ion-label class="labels">Is there any form of additional perks offered for this job?<small style="color: #f70505;">*</small></ion-label>
                    <ion-item fill="outline" class="input-field">
                        <ion-select formControlName="additionalpay" multiple="true" (ionChange)="onSelectionChange($event)" cancelText="Cancel" okText="Okay">
                            <ion-select-option *ngFor="let tittle of additionalPaylist" value="{{tittle.id}}">{{tittle.text}}</ion-select-option>
                        </ion-select>
                    </ion-item> 
                    <div *ngIf="jobProfileForm.controls.jobType.hasError('required') && jobProfileForm.controls.jobType.touched">
                        <small style="color: #f70505;"> Please select perks offered</small>
                    </div> 




                    <div class="ion-stepper-buttons" style="justify-content: space-between;">
                        <button class="ion-stepper-prev" style="background-color: #e71c1cab !important;" (click)="prevStep('step3', 'step2')">Back</button>
                        <button class="ion-stepper-next" (click)="validateSalary()">Next</button>
                    </div>
                </div>
            </div> -->


            <!-- <div class="ion-stepper-step" id="step4">
                <div class="ion-stepper-header">
                    <div class="ion-stepper-circle">4</div>
                    <div class="ion-stepper-title">Job Schedule</div>
                </div>
                <div class="ion-stepper-content">

                    <div>
                        <div class="ind-container">
                            <div>Shifts</div>
                            <div>Day shift</div>
                            <div>Night shift</div>
                        </div>
                        <div class="line-with-text">
                            <hr class="hr1">
                        </div>
                        <div class="ind-container">
                            <div>Monday</div>
                            <div>
                                <ion-item class="background">
                                    <ion-checkbox formControlName="jobShiftDM"></ion-checkbox>
                                </ion-item>
                            </div>
                            <div>
                                <ion-item>
                                    <ion-checkbox formControlName="jobShiftNM"></ion-checkbox>
                                </ion-item>
                            </div>
                        </div>
                        <div class="ind-container">
                            <div>Tuesday</div>
                            <div>
                                <ion-item>
                                    <ion-checkbox formControlName="jobShiftDT"></ion-checkbox>
                                </ion-item>
                            </div>
                            <div>
                                <ion-item>
                                    <ion-checkbox formControlName="jobShiftNT"></ion-checkbox>
                                </ion-item>
                            </div>
                        </div>
                        <div class="ind-container">
                            <div style="margin: -8px;">Wednesday</div>
                            <div>
                                <ion-item>
                                    <ion-checkbox formControlName="jobShiftDW"></ion-checkbox>
                                </ion-item>
                            </div>
                            <div>
                                <ion-item>
                                    <ion-checkbox formControlName="jobShiftNW"></ion-checkbox>
                                </ion-item>
                            </div>
                        </div>
                        <div class="ind-container">
                            <div>Thursday</div>
                            <div>
                                <ion-item>
                                    <ion-checkbox formControlName="jobShiftDTH"></ion-checkbox>
                                </ion-item>
                            </div>
                            <div>
                                <ion-item>
                                    <ion-checkbox formControlName="jobShiftNTH"></ion-checkbox>
                                </ion-item>
                            </div>
                        </div>
                        <div class="ind-container">
                            <div style="margin: 12px;">Friday</div>
                            <div>
                                <ion-item>
                                    <ion-checkbox formControlName="jobShiftDF"></ion-checkbox>
                                </ion-item>
                            </div>
                            <div>
                                <ion-item>
                                    <ion-checkbox formControlName="jobShiftNF"></ion-checkbox>
                                </ion-item>
                            </div>
                        </div>
                        <div class="ind-container">
                            <div style="margin: 3px;">Saturday</div>
                            <div>
                                <ion-item>
                                    <ion-checkbox formControlName="jobShiftDS"></ion-checkbox>
                                </ion-item>
                            </div>
                            <div>
                                <ion-item>
                                    <ion-checkbox formControlName="jobShiftNS"></ion-checkbox>
                                </ion-item>
                            </div>
                        </div>
                        <div class="ind-container">
                            <div style="margin: 10px;">Sunday</div>
                            <div>
                                <ion-item>
                                </ion-item>
                                <ion-checkbox formControlName="jobShiftDSU"></ion-checkbox>
                            </div>
                            <div>
                                <ion-item>
                                    <ion-checkbox formControlName="jobShiftNSU"></ion-checkbox>
                                </ion-item>
                            </div>
                        </div>
                    </div>
                    <div class="line-with-text">
                        <hr class="hr1">
                    </div>
                    <div style="display: flex; flex-direction: column; align-items: center;margin: 10px 0px 0px 0px;">
                        <div>
                            What is the expected working hours per week for this job?<small style="color: #f70505;">*</small>
                        </div>
                        <div>
                            <ion-item fill="outline" class="input-field">
                                <ion-input type="number" formControlName="jobExpWorkHrs"></ion-input>
                            </ion-item>
                        </div>
                    </div>
                    <div class="line-with-text">
                        <hr class="hr1">
                    </div>
                    <div style="display: flex; flex-direction: column;">
                        <div>
                            From when do you wish to start working?<small style="color: #f70505;">*</small>
                        </div>
                        <div>
                            <div style="margin: 0px 70px 0px 70px;">
                                <ion-item fill="outline" class="input-field">
                                    <ion-datetime displayFormat="MM/YYYY" (ionChange)="validateStartDate($event.target.value);" formControlName="jobStartDateFrom" presentation="date"></ion-datetime>
                                </ion-item>
                            </div>

                        </div>
                    </div>




                    <div class="ion-stepper-buttons" style="justify-content: space-between;">
                        <button class="ion-stepper-prev" style="background-color: #e71c1cab !important;" (click)="prevStep('step4', 'step3')">Back</button>
                        <button class="ion-stepper-next" (click)="validateJobshedule()">Next</button>
                    </div>
                </div>
            </div> -->


            <div class="ion-stepper-step" id="step3">
                <div class="ion-stepper-header">
                    <div class="ion-stepper-circle">3</div>
                    <div class="ion-stepper-title">{{'AddJobPost.addInfo' | translate}}</div>
                </div>
                <div class="ion-stepper-content">

                    <ion-label class="labels">{{'AddJobPost.deadlineApp' | translate}}<small style="color: #f70505;">*</small></ion-label>
                    <ion-item fill="outline" class="input-field">
                        <ion-datetime  formControlName="appDeadline" displayFormat="DD.MM.YYYY" presentation="date" [min]="getMaxDate().minDate" [max]="getMaxDate().maxDate"></ion-datetime>
                    </ion-item>


                    <ion-label class="labels">{{'AddJobPost.offLoc' | translate}}<small style="color: #f70505;">*</small></ion-label>

                    <ion-item fill="outline" class="input-field">
                        <div class="selected-skills-container">
                            <div *ngFor="let city of selectedCities" class="selected-skill">{{ city }}
                                <ion-icon name="close-circle" (click)="removeCity(city)"></ion-icon>
                            </div>
                        </div>
                        <ion-input (ionInput)="onSearch($event.target.value)" [formControl]="searchCtrl"></ion-input>

                    </ion-item>
                    <ion-list *ngIf="showResults">
                        <ion-item *ngFor="let result of searchResults" (click)="selectCity(result.text,result.id)">
                            {{ result.text }}
                        </ion-item>
                    </ion-list>


                    <!-- <ion-label class="labels">Receive applications from<small style="color: #f70505;">*</small></ion-label>

                    <ion-item fill="outline" class="input-field">
                        <div class="selected-skills-container">
                            <div *ngFor="let city of selectedCitiesOffLocation" class="selected-skill">{{ city }}
                                <ion-icon name="close-circle" (click)="removeCityForLocation(city)"></ion-icon>
                            </div>
                        </div>
                        <ion-input (ionInput)="onSearchOfferLocation($event.target.value)" [formControl]="searchCtrl"></ion-input>
                    </ion-item>


                    <ion-list *ngIf="showResultsForLocation">
                        <ion-item *ngFor="let result of searchResultsOffLocation" (click)="selectCityForLocation(result.text,result.id)">
                            {{ result.text }}
                        </ion-item>
                    </ion-list> -->


                    <ion-label class="labels">{{'AddJobPost.langReq' | translate}}<small style="color: #f70505;">*</small></ion-label>
                    <ion-item fill="outline" class="input-field">
                        <ion-select formControlName="reqLanguages" placeholder="{{'AddJobPost.lang' | translate}}" multiple="true" (click)="onSelectionChange($event)" cancelText="Cancel" okText="Okay">
                            <ion-select-option *ngFor="let title of languageList" value="{{title.id}}">{{title.text}}</ion-select-option>
                        </ion-select>
                    </ion-item>


                    <!-- <ion-label class="labels">Enter Contact number to let the applicants call you Directly</ion-label>
                    <ion-item fill="outline" class="input-field">
                        <ion-input type="number" formControlName="phoneNo"></ion-input>
                    </ion-item> -->


                    <!-- <div class="line-with-text">
                        <hr class="hr1">
                    </div>

                    <div>
                        <ion-radio-group formControlName="gender">
                            <div>
                                <ion-label>Gender Preferences</ion-label>
                                <div style="display: flex;justify-content: space-evenly;">
                                    <ion-radio value="M"></ion-radio>
                                    <ion-label>Male</ion-label>
                                    <ion-radio value="F"></ion-radio>
                                    <ion-label>Female</ion-label>
                                    <ion-radio value="O"></ion-radio>
                                    <ion-label>Others</ion-label>
                                </div>
                            </div>
                        </ion-radio-group>
                    </div> -->

                    <div class="ion-stepper-buttons" style="justify-content: space-between;">
                        <button class="ion-stepper-prev" style="background-color: #e71c1cab !important;" (click)="prevStep('step3', 'step2')">{{'KmPortal.back' | translate}}</button>
                        <button class="ion-stepper-next" (click)="nextStep('step3', 'step4');">{{'profilein.Next' | translate}}</button>
                    </div>

                </div>
            </div>





            <div class="ion-stepper-step" id="step4">
                <div class="ion-stepper-header">
                    <div class="ion-stepper-circle">4</div>
                    <div class="ion-stepper-title">{{'AddJobProfile.auctionJob' | translate}}</div>
                </div>
                <div class="ion-stepper-content">

                    <img width=80 src="../../assets/img/auctioneer.png" alt="Paris" class="center">
                    <br>
                    <p>{{'AddJobProfile.likeoAuctionJob' | translate}}</p>
                    <p>{{'AddJobProfile.vacantPositions' | translate}}</p>

                    <div style="display: flex; justify-content: center;align-items: center;">
                        {{'AddJobProfile.no' | translate}}<ion-toggle formControlName="auctioned"></ion-toggle>{{'AddJobProfile.yes' | translate}}
                    </div>


                    <div *ngIf="!edit" class="ion-stepper-buttons" style="justify-content: space-between;">
                        <button class="ion-stepper-prev" style="background-color: #e71c1cab !important;" (click)="prevStep('step4', 'step3')">{{'KmPortal.back' | translate}}</button>
                        <button class="ion-stepper-submit" (click)="savejobadvertisement()">{{'AddJobProfile.submit' | translate}}</button>
                    </div>

                    <div *ngIf="edit" class="ion-stepper-buttons" style="justify-content: space-between;">
                        <button class="ion-stepper-prev" style="background-color: #e71c1cab !important;" (click)="prevStep('step4', 'step3')">{{'KmPortal.back' | translate}}</button>
                        <button class="ion-stepper-submit" (click)="updatejobseek()">{{'AddJobProfile.update' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>




</ion-content>