.talentcard1{
    //margin: 10px 10px 10px 10px;
    margin: 2% 2% 2% 2%;
    border-radius: 35px;
    --background: linear-gradient(to right top, #f5f5f5, #f7dc73);
  }

  .userDetailsHeader{
    background: url('/assets/img/BG3.jpg') 0 0/100% 100% no-repeat;
    color: black;
    font-weight:bolder;
   }