.container {
    background-color: #fff;
    width: auto;
    height: auto;
    border-radius: 10px;
    margin-top: 25%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.talentrow {
    margin: 2px 0px;
}

.kTheme {
    font-family: Poppins, sans-serif;
    font-size: 14px;
    margin-left: 4px;
    color: #27246f;
}

.klab {
    width: auto;
    margin-left: 6px;
    border-radius: 13px;
    background-color: #c2d2ff;
    border-color: #fff;
}

.ioncardButtonNormal {
    --background: linear-gradient(to right top, #070e6c, #070e6c);
    margin-top: 0px;
    margin-left: 6px;
    color: #fff;
    font-weight: 300;
}