<ion-header>
    <ion-toolbar>
        <ion-title style="text-align: center;
        font-family: 'Mr-eaves';
        font-size: 28px;">{{'More' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form>
        <div class="display-justify">
            <div class="custom-button" (click)="goto_language()">
                <div style="display: flex; align-items: center;">
                    <ion-avatar slot="start">
                        <img src="../../assets/icon/profile_status.png" />
                    </ion-avatar><span style="font-family: Mr-eaves;">{{'Language' | translate}}</span></div>
            </div>
            <div class="custom-button" *ngIf="roleId == 2 || roleId == 3 ">
                <div style="display: flex; align-items: center;" (click)="goto_alumni()">
                    <ion-avatar slot="start">
                        <img style="padding: 6px;" src="../../assets/img/alumni.png" />
                    </ion-avatar><span style="font-family: Mr-eaves;">{{'alumni' | translate}}</span></div>
            </div>

            <div class="custom-button" *ngIf="roleId.includes('1')">
                <div style="display: flex; align-items: center;" (click)="goto_Indiv_alumni()">
                    <ion-avatar slot="start">
                        <img style="padding: 6px;" src="../../assets/img/alumni.png" />
                    </ion-avatar><span style="font-family: Mr-eaves;">{{'alumni' | translate}}</span></div>
            </div>
        </div>
        <div class="line-with-text">
            <hr class="hr1">
        </div>
        <div class="display-justify">

            <div class="custom-button" *ngIf="roleId.includes('1')">
                <div style="display: flex; align-items: center;" (click)="goto_subscribe()">
                    <ion-avatar slot="start">
                        <img style="padding: 15px;" src="../../assets/img/recharge.png" />
                    </ion-avatar><span style="font-family: Mr-eaves;">{{'Menu.subscription' | translate}}</span></div>
            </div>

            <div class="custom-button" *ngIf="roleId == 2 || roleId == 3">
                <div style="display: flex; align-items: center;" (click)="goto_oniSubscription()">
                    <ion-avatar slot="start">
                        <img style="padding: 15px;" src="../../assets/img/recharge.png" />
                    </ion-avatar><span style="font-family: Mr-eaves;">{{'Menu.subscription' | translate}}</span></div>
            </div>

            <div class="custom-button">
                <div style="display: flex; align-items: center;" (click)="goto_scantoconnect()">
                    <ion-avatar slot="start">
                        <img style="padding: 6px;" src="../../assets/img/scan-to-connect.png" />
                    </ion-avatar><span style="font-family: Mr-eaves;">{{'Scan to Connect' | translate}}</span></div>
            </div>



        </div>
        <div class="line-with-text">
            <hr class="hr1">
        </div>
        <div class="display-justify">
            <div class="custom-button">
                <div style="display: flex; align-items: center;" (click)="goto_policy()">
                    <ion-avatar slot="start">
                        <img style="padding: 6px;" src="../../assets/img/consent.png" />
                    </ion-avatar><span style="font-family: Mr-eaves;">{{'consentForm' | translate}}</span></div>
            </div>

            <div class="custom-button">
                <div style="display: flex; align-items: center;" (click)="goto_Terms()">
                    <ion-avatar slot="start">
                        <img src="../../assets/icon/terms and conditions.png" />
                    </ion-avatar><span style="font-family: Mr-eaves;">{{'tAndC' | translate}}</span></div>
            </div>
        </div>
        <div class="display-justify">
            <div class="custom-button" (click)="goto_visibility()" *ngIf="roleId.includes('1')">
                <div style="display: flex; align-items: center;">
                    <ion-avatar slot="start">
                        <img src="../../assets/icon/push message.png" />
                    </ion-avatar><span style="font-family: Mr-eaves;">{{'Visibility' | translate}}</span></div>
            </div>

            <div class="custom-button">
                <div style="display: flex; align-items: center;" (click)="goto_AboutApp()">
                    <ion-avatar slot="start">
                        <img src="../../assets/icon/about.png" />
                    </ion-avatar><span style="font-family: Mr-eaves;">{{'About app' | translate}}</span></div>
            </div>
        </div>


        <div class="display-justify">

            <div class="custom-button">
                <div style="display: flex; align-items: center;" (click)="goto_DeleteAccount()">

                    <ion-avatar slot="start">
                        <img src="../../assets/icon/about.png" />
                    </ion-avatar><span style="font-family: Mr-eaves;">{{'DeleteAccount' | translate}}</span></div>
            </div>

            <div class="custom-button">
                <div style="display: flex; align-items: center;">

                    <ion-avatar slot="start">
                        <img style="padding: 5px;" src="../../assets/img/phone.png" />
                    </ion-avatar><span style="font-family: Mr-eaves;"><a href="tel:9345896371">{{'help' | translate}}</a></span></div>
            </div>
        </div>

        <div style="display: flex;justify-content: center;">
            <div class="display-justify" style="width: 50%;">
                <div class="custom-button" style="background:#2C73E5;">
                    <div style="display: flex; align-items: center;font-size: 14px; color: white;justify-content: space-evenly;" (click)="logOut()">
                        <span style="font-family: Mr-eaves;">{{'Menu.logout' | translate}}</span>
                        <ion-avatar slot="start" style="transform: rotate(180deg);">
                            <img src="../../assets/icon/logout.png" />
                        </ion-avatar>
                    </div>
                </div>
            </div>
        </div>


    </form>



</ion-content>



<div class="footer-nav">
    <button [ngClass]="{'selected': selectedTab === 'search'}" (click)="setSelectedTab('search');goto_profileSearch();">
  <ion-icon size="large" name="search-circle"></ion-icon>
  </button>
    <button *ngIf="RoleID.includes('1')" [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth');goto_jobs();">
  <ion-icon size="large" name="earth-sharp"></ion-icon>
  </button>
    <button *ngIf="RoleID.includes('2')" [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth');goto_orgjobs();">
    <ion-icon size="large" name="earth-sharp"></ion-icon>
    </button>
    <button *ngIf="RoleID.includes('3')" [ngClass]="{'selected': selectedTab === 'earth'}" (click)="setSelectedTab('earth');goto_instijobs();">
        <ion-icon size="large" name="earth-sharp"></ion-icon>
        </button>
    <button *ngIf="RoleID.includes('1')" [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps');goto_home();">
  <img style="max-width: 67%;" src="../../assets/img/faviconcircle.png" (click)="setSelectedTab('apps')">    
  </button>
    <button *ngIf="RoleID.includes('2')" [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps');goto_orghome();">
    <img style="max-width: 67%;" src="../../assets/img/faviconcircle.png" (click)="setSelectedTab('apps')">    
    </button>
    <button *ngIf="RoleID.includes('3')" [ngClass]="{'selected': selectedTab === 'apps'}" (click)="setSelectedTab('apps');goto_instihome();">
        <img style="max-width: 67%;" src="../../assets/img/faviconcircle.png" (click)="setSelectedTab('apps')">    
        </button>

    <button *ngIf="RoleID.includes('1')" [ngClass]="{'selected': selectedTab === 'profile'}" (click)="setSelectedTab('profile');goto_profile();">
    <ion-icon size="large" name="person-circle-sharp"></ion-icon>
    </button>
    <button *ngIf="RoleID.includes('2')" [ngClass]="{'selected': selectedTab === 'profile'}" (click)="setSelectedTab('profile');goto_orgprofile();">
  <ion-icon size="large" name="person-circle-sharp"></ion-icon>
  </button>
    <button *ngIf="RoleID.includes('3')" [ngClass]="{'selected': selectedTab === 'profile'}" (click)="setSelectedTab('profile');goto_instiprofile();">
    <ion-icon size="large" name="person-circle-sharp"></ion-icon>
    </button>
    <button [ngClass]="{'selected': selectedTab === 'menu'}" (click)="setSelectedTab('menu');goto_more();">
  <ion-icon size="large" name="ellipsis-vertical-circle-sharp"></ion-icon>
  
  </button>
</div>